
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-justify">
        <p>Las dimensiones máximas estándar por bulto serán: En formato caja, la suma del largo, alto y ancho no excederá de 210 cm.,
            sin que la mayor dimensión exceda de 120 cm. En formato de rollo o tubo, el largo no podrá exceder de 120 cm.<br>
            El peso real por bulto no podrá exceder los 30 kg. Aquellos envíos en los que la conversión de su volumen a peso resulte
            mayor que su peso real se les aplicarán el peso volumétrico. Para la conversión, se aplicará la densidad de 167 kg/m3,
            resultante de dividir por 6.000 el producto de largo x ancho x alto (expresado en cm.).
            El peso volumétrico por bulto no podrá exceder de 60 kg.</p>
        <p>Las dimensiones máximas estándar por bulto serán: en formato caja, la suma del largo, alto y ancho no excederá de 210 cm.,
            sin que la mayor dimensión exceda de 120 cm. En formato de rollo o tubo, el largo no podrá exceder de 120 cm.
            El peso real por bulto no podrá exceder los 30 kg. Aquellos envíos en los que la conversión de su volumen a peso
            resulte mayor que su peso real se les aplicarán el peso volumétrico. Para la conversión, se aplicará la densidad de 167 kg/m3,
            resultante de dividir por 6.000 el producto de largo x ancho x alto (expresado en cm.). El peso volumétrico por bulto no podrá exceder de 60 kg.</p>

    </div>
