{% import 'macros/sidebar.html.twig' as elementSidebar %}

<!-- SIDEBAR -->
<div class="sid-body">
    <!-- ZONA 1 -->
    <div class="sid-zone1">
        {{ elementSidebar.sidebarDemo('Restaurantes', '#') }}
            
        
    </div>
    <!-- FIN ZONA 1 -->
    
    
    <!-- ZONA 2 -->
    <div class="sid-zone2">
        {{ elementSidebar.sidebarDemo('Ocio', '#') }}
        
        
    </div>
    <!-- FIN ZONA 2 -->
    
    
    <!-- ZONA 3 -->
    <div class="sid-zone3">
        {{ elementSidebar.sidebarDemo('Tiendas', '#') }}
        
        
    </div>
    <!-- FIN ZONA 3 -->
    
    
</div>
<!-- FIN SIDEBAR -->