<!-- SIDEBAR MOVIL -->
<div class="sid-body-mov">
    <!-- ZONA 1 -->
    <div class="sid-button1">
        <button class="btn-sid-pulse">
            <i class="fa fa-cutlery" aria-hidden="true">
                
            </i>
            
            
        </button>
        
        
    </div>
    <!-- FIN ZONA 1 -->
    
    
    <!-- ZONA 2 -->
    <div class="sid-button2">
        <button class="btn-sid-pulse">
            <i class="fa fa-cutlery" aria-hidden="true">
                
            </i>
            
            
        </button>
        
        
    </div>
    <!-- FIN ZONA 2 -->
    
    
    <!-- ZONA 3 -->
    <div class="sid-button3">
        <button class="btn-sid-pulse">
            <i class="fa fa-cutlery" aria-hidden="true">
                
            </i>
            
            
        </button>
        
        
    </div>
    <!-- FIN ZONA 3 -->
    
    
</div>
<!-- FIN SIDEBAR MOVIL -->
