{% import 'macros/sidebar.html.twig' as elementSidebar %}

{#<!-- SIDEBAR -->#}
<div class="sid-body">
    {#<!-- ZONA 1 -->#}
    <div class="sid-zone1" >
        {{ elementSidebar.sidebarDemo('Restaurantes','',include(':services/sidebar:restauranteText.html.twig')) }}

        
    </div>
    {#<!-- FIN ZONA 1 -->#}
    
    
    {#<!-- ZONA 2 -->#}
    <div class="sid-zone2">
        {{ elementSidebar.sidebarDemo('Ocio','', include(':services/sidebar:ocioText.html.twig')) }}
        
        
    </div>
    {#<!-- FIN ZONA 2 -->#}
    
    
    {#<!-- ZONA 3 -->#}
    <div class="sid-zone3">
        {{ elementSidebar.sidebarDemo('Tiendas','', include(':services/sidebar:tiendasText.html.twig')) }}
        
        
    </div>
    {#<!-- FIN ZONA 3 -->#}
    
    
</div>
{#<!-- FIN SIDEBAR -->#}
