{% import 'macros/sidebar.html.twig' as elementSidebar %}

{#<!-- SIDEBAR -->#}
<div class="sid-body">
    {#<!-- ZONA 1 -->#}
    <div class="sid-zone1" >
        {{ elementSidebar.sidebarDemo('Oferta para las vendedoras!!! ','',include(':services/sidebar:ofertaText.html.twig')) }}

    </div>

</div>
{#<!-- FIN SIDEBAR -->#}
