{% import 'macros/sidebar.html.twig' as elementSidebar %}

{#<!-- SIDEBAR -->#}
<div id="offerRight">
    {#<!-- ZONA 1 -->#}
    <div class="sid-zone1" >

        {{ elementSidebar.sidebarDemo('Comisión solo del 8%*','',include(':services/sidebar:ofertaText.html.twig')) }}

    </div>

</div>
{#<!-- FIN SIDEBAR -->#}
