{# empty Twig template #}
<div class="form-group menuPerfil col-sm-3">
    <h3 class="col-sm-8">Mi cuenta</h3>
    <ul class="nav nav-pills nav-stacked menuPerfil col-sm-8">
        <li class="active">
            <a href="#info" data-toggle="pill">
                <i class="fa fa-user"></i>
                Mis datos
            </a>
        </li>
        <li>
            <a href="#credenciales" data-toggle="pill">
                <i class="fa fa-lock"/></i>
                Seguridad
            </a>
        </li>
        <li>
            <a href="#direcciones" data-toggle="pill">
                <i class="fa fa-map-marker"></i>
                Direcciones
            </a>
        </li>
        <li>
            <a href="#transacciones" data-toggle="pill">
                <i class="fa fa-file-text-o"></i>
                Transacciones
            </a>
        </li>
        <li>
            <a href="#objetos" data-toggle="pill">
                <span class=""/>
                Mis posesiones
            </a>
        </li>
    </ul>
</div>