{#<!-- BLOG ULTIMOS ELEMENTOS -->#}
<div class="container cd-main-content">

    {#<!-- TITULO -->#}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2>Últimos Posts</h2>
            <hr>
        </div>
    </div>
    {#<!-- FIN TITULO -->#}

    {#<!-- POSTS -->#}
    <div class="row separacion-inferior">

        {#<!-- COLUMNA 1 -->#}
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 col-blog-big">

            {#<!-- ELEMENTO CON IMAGEN -->#}
            {#<!-- IMAGEN -->#}
            <div class="row row-col-image-post">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 
                     col-image-post">
                    <div class="hovereffect">
                        <img class="img-responsive" 
                             src="{{ asset('img/blog_mundo.jpg') }}" alt=""/>
                        <div class="overlay ">

                        </div>
                    </div>
                </div>
            </div>

            {#<!-- FECHA Y VOTOS -->#}
            <div class="row row-post-big separacion-inferior separacion-superior 
                 row-date-big">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <span class="date-post">8 May</span>

                    <span class="date-post">|</span>

                    <a class="voto-corazon date-post" href="#">
                        <span>Viajes</span>
                    </a>

                    <a class="voto-corazon date-post" href="#">
                        <span>Ocio</span>
                    </a>
                </div>

                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 voto-post">
                    <a class="comentario-post" href="#">
                        <span class="glyphicon glyphicon-comment" 
                              aria-hidden="true"></span>
                        <span>0</span>
                    </a>

                    <span>|</span>

                    <a class="voto-corazon" href="#">
                        <span class="glyphicon glyphicon-heart" 
                              aria-hidden="true"></span>
                        <span>0</span>
                    </a>
                </div>
            </div>

            {#<!-- TITULO -->#}
            <div class="row row-post-big row-title-big">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="titulo-post">
                        <a class="titulo-post" href="https://atomarpormundo.com/" target="_blank">
                             A Tomar Por Mundo
                        </a>
                    </h3>
                </div>
            </div>

            {#<!-- CUERPO -->#}
            <div class="row row-post-big row-body-big">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>
                        Whatwantweb quiere agradecer a María José y a José Pablo propietarios del Blog atomarpormundo.com la posibilidad de mostrar sus viajes
                        y experiencias, son encantadores, si queréis seguirlos o poderse en contacto con ellos,
                        aquí os dejamos sus enlaces de las redes Sociales.
                    </p>
                    <div class="row footer-elementos blog-redes">
                        <a class="fa fa-facebook iconos-footer" href="https://www.facebook.com/atomarpormundo/" target="_blank"></a>
                        <a class="fa fa-twitter iconos-footer" href="https://twitter.com/atomarpormundo" target="_blank"></a>
                        <a class="fa fa-youtube-play iconos-footer" href="https://www.youtube.com/user/mrJosepablogb" target="_blank"></a>
                        {#<a class="fa fa-snapchat-ghost iconos-footer" href="#"></a>#}
                        <a class="fa fa-instagram iconos-footer" href="https://www.instagram.com/atomarpormundo/" target="_blank"></a>

                    </div>


                </div>

            </div>




            {#<!-- LEER -->#}
            <div class="row row-post-big separacion-superior separacion-inferior 
                 row-boton-big">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 
                     leer-post-grande separacion-inferior">
                    <a class="boton-leer-post" href="https://atomarpormundo.com/" target="_blank">
                        <span class=""> Leer más </span>
                    </a>
                </div>
            </div>
            {#<!-- FIN ELEMENTO CON IMAGEN -->#}

        </div>
        {#<!-- fin COLUMNA 1 -->#}

        {#<!-- COLUMNA 2 -->#}
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

            {#<!-- COLUMNA 2 FILA 1-->#}
            <div class="row row-blog">

                {#<!-- COLUMNA 2 FILA 1 COLUMNA 1-->#}
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 post-peque 
                     col-peque-i">
                    {#<!-- ELEMENTO CON IMAGEN -->#}
                    {#<!-- FECHA Y VOTOS -->#}
                    <div class="row row-post separacion-inferior 
                         separacion-superior row-date-peque">
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <span class="date-post-peque">8 May</span>

                            <span class="date-post-peque">|</span>

                            <a class="voto-corazon date-post-peque" href="#">
                                <span>Viajes</span>
                            </a>

                            <a class="voto-corazon date-post-peque" href="#">
                                <span>Ocio</span>
                            </a>
                        </div>

                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 
                             voto-post">
                            <a class="comentario-post" href="#">
                                <span class="glyphicon glyphicon-comment" 
                                      aria-hidden="true"></span>
                                <span>0</span>
                            </a>

                            <span>|</span>

                            <a class="voto-corazon" href="#">
                                <span class="glyphicon glyphicon-heart" 
                                      aria-hidden="true"></span>
                                <span>0</span>
                            </a>
                        </div>
                    </div>

                    <div class="row row-post row-title-peque">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h3 class="titulo-post-peque">
                                <a class="titulo-post-peque" href="https://atomarpormundo.com/por-paises/andalucia/granada/" target="_blank">
                                    Blog Granada
                                </a>
                            </h3>
                        </div>
                    </div>

                    {#<!-- CUERPO -->#}
                    <div class="row row-post row-body-peque">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p>
                                Los árabes ocuparon Granada en el siglo VIII y alcanzó su época de esplendor con la dinastía nazarí.
                                Tras la expulsión de los moriscos, la ciudad se vistió con la suntuosidad del Renacimiento.

                            </p>
                        </div>
                    </div>

                    {#<!-- LEER -->#}
                    <div class="row row-post separacion-superior 
                         separacion-inferior row-boton-peque">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 
                             leer-post separacion-inferior">
                            <a class="boton-leer-post" href="https://atomarpormundo.com/por-paises/andalucia/granada/" target="_blank">
                                <span class=""> Leer más </span>
                            </a>
                        </div>
                    </div>
                    {#<!-- FIN ELEMENTO CON IMAGEN -->#}
                </div>
                {#<!-- FIN COLUMNA 2 FILA 1 COLUMNA 1-->#}

                {#<!-- COLUMNA 2 FILA 1 COLUMNA 2-->#}
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 post-peque 
                     col-peque-d">
                    {#<!-- ELEMENTO CON IMAGEN -->#}
                    {#<!-- FECHA Y VOTOS -->#}
                    <div class="row row-post separacion-inferior 
                         separacion-superior row-date-peque">
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <span class="date-post-peque">8 May</span>

                            <span class="date-post-peque">|</span>

                            <a class="voto-corazon date-post-peque" href="#">
                                <span>Viaje</span>
                            </a>

                            <a class="voto-corazon date-post-peque" href="#">
                                <span>Ocio</span>
                            </a>
                        </div>

                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 
                             voto-post">
                            <a class="comentario-post" href="#">
                                <span class="glyphicon glyphicon-comment" 
                                      aria-hidden="true"></span>
                                <span>0</span>
                            </a>

                            <span>|</span>

                            <a class="voto-corazon" href="#">
                                <span class="glyphicon glyphicon-heart" 
                                      aria-hidden="true"></span>
                                <span>0</span>
                            </a>
                        </div>
                    </div>

                    {#<!-- TITULO -->#}
                    <div class="row row-post row-title-peque">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h3 class="titulo-post-peque">
                                <a class="titulo-post-peque" href="https://atomarpormundo.com/por-paises/espana/comunidad-de-madrid/" target="_blank">
                                    Blog Madrid
                                </a>
                            </h3>
                        </div>
                    </div>

                    {#<!-- CUERPO -->#}
                    <div class="row row-post row-body-peque">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p>
                                Madrid es una comunidad autónoma uniprovincial en el centro de la península ibércia.
                                Su capital se llama igual y además es la capital de España. Madrid capital es una influyente zona cultural y política.

                            </p>
                        </div>
                    </div>

                    {#<!-- LEER -->#}
                    <div class="row row-post separacion-superior 
                         separacion-inferior row-boton-peque">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 
                             leer-post separacion-inferior">
                            <a class="boton-leer-post" href="https://atomarpormundo.com/por-paises/espana/comunidad-de-madrid/" target="_blank">
                                <span class=""> Leer más </span>
                            </a>
                        </div>
                    </div>
                    {#<!-- FIN ELEMENTO CON IMAGEN -->#}
                </div>
                {#<!-- FIN COLUMNA 2 FILA 1 COLUMNA 2-->#}

            </div>
            {#<!-- FIN COLUMNA 2 FILA 1-->#}

            {#<!-- COLUMNA 2 FILA 2-->#}
            <div class="row row-blog">

                {#<!-- COLUMNA 2 FILA 2 COLUMNA 1-->#}
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 post-peque 
                     sep-sup col-peque-i">
                    {#<!-- ELEMENTO CON IMAGEN -->#}
                    {#<!-- FECHA Y VOTOS -->#}
                    <div class="row row-post separacion-inferior 
                         separacion-superior row-date-peque">
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <span class="date-post-peque">8 May</span>

                            <span class="date-post-peque">|</span>

                            <a class="voto-corazon date-post-peque" href="#">
                                <span>Viajes</span>
                            </a>

                            <a class="voto-corazon date-post-peque" href="#">
                                <span>Ocio</span>
                            </a>
                        </div>

                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 
                             voto-post">
                            <a class="comentario-post" href="#">
                                <span class="glyphicon glyphicon-comment" 
                                      aria-hidden="true"></span>
                                <span>0</span>
                            </a>

                            <span>|</span>

                            <a class="voto-corazon" href="#">
                                <span class="glyphicon glyphicon-heart" 
                                      aria-hidden="true"></span>
                                <span>0</span>
                            </a>
                        </div>
                    </div>

                    {#<!-- TITULO -->#}
                    <div class="row row-post row-title-peque">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h3 class="titulo-post-peque">
                                <a class="titulo-post-peque" href="https://atomarpormundo.com/por-paises/espana/cataluna/" target="_blank">
                                    Blog Barcelona
                                </a>
                            </h3>
                        </div>
                    </div>

                    {#<!-- CUERPO -->#}
                    <div class="row row-post row-body-peque">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p>
                                Cataluña es una comunidad autónoma formada por cuatro provincias: Barcelona, que es la capital, Gerona, Lérida y Tarragona.
                                Dos tercios de la población vive en el ámbito metropolitano de Barcelona
                            </p>
                        </div>
                    </div>

                    {#<!-- LEER -->#}
                    <div class="row row-post separacion-superior 
                         separacion-inferior row-boton-peque">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 
                             leer-post separacion-inferior">
                            <a class="boton-leer-post" href="https://atomarpormundo.com/por-paises/espana/cataluna/" target="_blank">
                                <span class=""> Leer más </span>
                            </a>
                        </div>
                    </div>
                    {#<!-- FIN ELEMENTO CON IMAGEN -->#}
                </div>
                {#<!-- FIN COLUMNA 2 FILA 2 COLUMNA 1-->#}

                {#<!-- COLUMNA 2 FILA 2 COLUMNA 2-->#}
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 post-peque 
                     sep-sup col-peque-d">
                    {#<!-- ELEMENTO CON IMAGEN -->#}
                    {#<!-- FECHA Y VOTOS -->#}
                    <div class="row row-post separacion-inferior 
                         separacion-superior row-date-peque">
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <span class="date-post-peque">8 May</span>

                            <span class="date-post-peque">|</span>

                            <a class="voto-corazon date-post-peque" href="#">
                                <span>Viajes</span>
                            </a>

                            <a class="voto-corazon date-post-peque" href="#">
                                <span>Ocio</span>
                            </a>
                        </div>

                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 
                             voto-post">
                            <a class="comentario-post" href="#">
                                <span class="glyphicon glyphicon-comment" 
                                      aria-hidden="true"></span>
                                <span>0</span>
                            </a>

                            <span>|</span>

                            <a class="voto-corazon" href="#">
                                <span class="glyphicon glyphicon-heart" 
                                      aria-hidden="true"></span>
                                <span>0</span>
                            </a>
                        </div>
                    </div>

                    {#<!-- TITULO -->#}
                    <div class="row row-post row-title-peque">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h3 class="titulo-post-peque">
                                <a class="titulo-post-peque" href="https://atomarpormundo.com/por-paises/espana/comunidad-valenciana/" target="_blank">
                                    Blog Comunidad Valenciana
                                </a>
                            </h3>
                        </div>
                    </div>

                    {#<!-- CUERPO -->#}
                    <div class="row row-post row-body-peque">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p>
                                La Comunidad Valenciana se encuentra en la costa Este de España y la baña el mar Mediterráneo.
                                Está formada por tres provincias: Alicante, Castellón y Valencia (capital de la Comunidad).
                            </p>
                        </div>
                    </div>

                    {#<!-- LEER -->#}
                    <div class="row row-post separacion-superior 
                         separacion-inferior row-boton-peque">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 
                             leer-post separacion-inferior">
                            <a class="boton-leer-post" href="https://atomarpormundo.com/por-paises/espana/comunidad-valenciana/" target="_blank">
                                <span class=""> Leer más </span>
                            </a>
                        </div>
                    </div>
                    {#<!-- FIN ELEMENTO CON IMAGEN -->#}
                </div>
                {#<!-- FIN COLUMNA 2 FILA 2 COLUMNA 2-->#}

            </div>
            {#<!-- FIN COLUMNA 2 FILA 2-->#}

        </div>
        {#<!-- FIN COLUMNA 2 -->#}
    </div>
    {#<!-- FIN POSTS -->#}
</div>
{#<!-- FIN BLOG ULTIMOS ELEMENTOS -->#}
