{#<!-- BLOG ULTIMOS ELEMENTOS -->#}
<div class="container cd-main-content">

    {#<!-- TITULO -->#}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2>Últimos Posts</h2>
            <hr>
        </div>
    </div>
    {#<!-- FIN TITULO -->#}

    {#<!-- POSTS -->#}
    <div class="row separacion-inferior">

        {#<!-- COLUMNA 1 -->#}
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 col-blog-big">

            {#<!-- ELEMENTO CON IMAGEN -->#}
            {#<!-- IMAGEN -->#}
            <div class="row row-col-image-post">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 
                     col-image-post">
                    <div class="hovereffect">
                        <img class="img-responsive" 
                             src="{{ asset('img/blog.jpg') }}" alt=""/>
                        <div class="overlay ">

                        </div>
                    </div>
                </div>
            </div>

            {#<!-- FECHA Y VOTOS -->#}
            <div class="row row-post-big separacion-inferior separacion-superior 
                 row-date-big">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <span class="date-post">19 Oct</span>

                    <span class="date-post">|</span>

                    <a class="voto-corazon date-post" href="#">
                        <span>Etiqueta 1</span>
                    </a>

                    <a class="voto-corazon date-post" href="#">
                        <span>Etiqueta 2</span>
                    </a>
                </div>

                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 voto-post">
                    <a class="comentario-post" href="#">
                        <span class="glyphicon glyphicon-comment" 
                              aria-hidden="true"></span>
                        <span>0</span>
                    </a>

                    <span>|</span>

                    <a class="voto-corazon" href="#">
                        <span class="glyphicon glyphicon-heart" 
                              aria-hidden="true"></span>
                        <span>0</span>
                    </a>
                </div>
            </div>

            {#<!-- TITULO -->#}
            <div class="row row-post-big row-title-big">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="titulo-post">
                        <a class="titulo-post" href="#">
                             Morbi accumsan ipsum velit
                        </a>
                    </h3>
                </div>
            </div>

            {#<!-- CUERPO -->#}
            <div class="row row-post-big row-body-big">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>
                        Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. 
                        Aenean sollicitudin, lorem quis bibendum auctor, nisi 
                        elit ipsum, nec sagittis sem nibh id elit. Duis sed odio
                        sit amet nibh vulputate cursus a sit amet mauris. Morbi 
                        accumsan ipsum velit. Nam nec tellus a odio tincidunt 
                        auctor a ornare odio. Sed non mauris vitae erat 
                        consequat auctor eu in elit. Aenean sollicitudin, lorem 
                        quis bibendum auctor, nisi elit consequat ipsum, nec 
                        sagittis sem. Duis sed odio sit amet nibh vulputate 
                        cursus a sit amet mauris. Morbi accumsan ipsum velit.
                    </p>
                </div>
            </div>

            {#<!-- LEER -->#}
            <div class="row row-post-big separacion-superior separacion-inferior 
                 row-boton-big">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 
                     leer-post-grande separacion-inferior">
                    <a class="boton-leer-post" href="#">
                        <span class=""> Leer más </span>
                    </a>
                </div>
            </div>
            {#<!-- FIN ELEMENTO CON IMAGEN -->#}

        </div>
        {#<!-- fin COLUMNA 1 -->#}

        {#<!-- COLUMNA 2 -->#}
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

            {#<!-- COLUMNA 2 FILA 1-->#}
            <div class="row row-blog">

                {#<!-- COLUMNA 2 FILA 1 COLUMNA 1-->#}
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 post-peque 
                     col-peque-i">
                    {#<!-- ELEMENTO CON IMAGEN -->#}
                    {#<!-- FECHA Y VOTOS -->#}
                    <div class="row row-post separacion-inferior 
                         separacion-superior row-date-peque">
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <span class="date-post-peque">19 Oct</span>

                            <span class="date-post-peque">|</span>

                            <a class="voto-corazon date-post-peque" href="#">
                                <span>Etiqueta 1</span>
                            </a>

                            <a class="voto-corazon date-post-peque" href="#">
                                <span>Etiqueta 2</span>
                            </a>
                        </div>

                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 
                             voto-post">
                            <a class="comentario-post" href="#">
                                <span class="glyphicon glyphicon-comment" 
                                      aria-hidden="true"></span>
                                <span>0</span>
                            </a>

                            <span>|</span>

                            <a class="voto-corazon" href="#">
                                <span class="glyphicon glyphicon-heart" 
                                      aria-hidden="true"></span>
                                <span>0</span>
                            </a>
                        </div>
                    </div>

                    <div class="row row-post row-title-peque">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h3 class="titulo-post-peque">
                                <a class="titulo-post-peque" href="#">
                                    Titulo Prueba Adios
                                </a>
                            </h3>
                        </div>
                    </div>

                    {#<!-- CUERPO -->#}
                    <div class="row row-post row-body-peque">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p>
                                Lorem Ipsum. Proin gravida nibh vel velit auctor 
                                aliquet. Aenean sollicitudin, lorem quis 
                                bibendum auctor, nisi elit ipsum, nec sagittis 
                                sem nibh id elit. 
                            </p>
                        </div>
                    </div>

                    {#<!-- LEER -->#}
                    <div class="row row-post separacion-superior 
                         separacion-inferior row-boton-peque">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 
                             leer-post separacion-inferior">
                            <a class="boton-leer-post" href="#">
                                <span class=""> Leer más </span>
                            </a>
                        </div>
                    </div>
                    {#<!-- FIN ELEMENTO CON IMAGEN -->#}
                </div>
                {#<!-- FIN COLUMNA 2 FILA 1 COLUMNA 1-->#}

                {#<!-- COLUMNA 2 FILA 1 COLUMNA 2-->#}
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 post-peque 
                     col-peque-d">
                    {#<!-- ELEMENTO CON IMAGEN -->#}
                    {#<!-- FECHA Y VOTOS -->#}
                    <div class="row row-post separacion-inferior 
                         separacion-superior row-date-peque">
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <span class="date-post-peque">19 Oct</span>

                            <span class="date-post-peque">|</span>

                            <a class="voto-corazon date-post-peque" href="#">
                                <span>Etiqueta 1</span>
                            </a>

                            <a class="voto-corazon date-post-peque" href="#">
                                <span>Etiqueta 2</span>
                            </a>
                        </div>

                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 
                             voto-post">
                            <a class="comentario-post" href="#">
                                <span class="glyphicon glyphicon-comment" 
                                      aria-hidden="true"></span>
                                <span>0</span>
                            </a>

                            <span>|</span>

                            <a class="voto-corazon" href="#">
                                <span class="glyphicon glyphicon-heart" 
                                      aria-hidden="true"></span>
                                <span>0</span>
                            </a>
                        </div>
                    </div>

                    {#<!-- TITULO -->#}
                    <div class="row row-post row-title-peque">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h3 class="titulo-post-peque">
                                <a class="titulo-post-peque" href="#">
                                    Que lo quieres de la vida
                                </a>
                            </h3>
                        </div>
                    </div>

                    {#<!-- CUERPO -->#}
                    <div class="row row-post row-body-peque">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p>
                                Lorem Ipsum. Proin gravida nibh vel velit auctor 
                                aliquet. Aenean sollicitudin, lorem quis 
                                bibendum auctor, nisi elit ipsum, nec sagittis 
                                sem nibh id elit. 
                            </p>
                        </div>
                    </div>

                    {#<!-- LEER -->#}
                    <div class="row row-post separacion-superior 
                         separacion-inferior row-boton-peque">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 
                             leer-post separacion-inferior">
                            <a class="boton-leer-post" href="#">
                                <span class=""> Leer más </span>
                            </a>
                        </div>
                    </div>
                    {#<!-- FIN ELEMENTO CON IMAGEN -->#}
                </div>
                {#<!-- FIN COLUMNA 2 FILA 1 COLUMNA 2-->#}

            </div>
            {#<!-- FIN COLUMNA 2 FILA 1-->#}

            {#<!-- COLUMNA 2 FILA 2-->#}
            <div class="row row-blog">

                {#<!-- COLUMNA 2 FILA 2 COLUMNA 1-->#}
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 post-peque 
                     sep-sup col-peque-i">
                    {#<!-- ELEMENTO CON IMAGEN -->#}
                    {#<!-- FECHA Y VOTOS -->#}
                    <div class="row row-post separacion-inferior 
                         separacion-superior row-date-peque">
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <span class="date-post-peque">19 Oct</span>

                            <span class="date-post-peque">|</span>

                            <a class="voto-corazon date-post-peque" href="#">
                                <span>Etiqueta 1</span>
                            </a>

                            <a class="voto-corazon date-post-peque" href="#">
                                <span>Etiqueta 2</span>
                            </a>
                        </div>

                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 
                             voto-post">
                            <a class="comentario-post" href="#">
                                <span class="glyphicon glyphicon-comment" 
                                      aria-hidden="true"></span>
                                <span>0</span>
                            </a>

                            <span>|</span>

                            <a class="voto-corazon" href="#">
                                <span class="glyphicon glyphicon-heart" 
                                      aria-hidden="true"></span>
                                <span>0</span>
                            </a>
                        </div>
                    </div>

                    {#<!-- TITULO -->#}
                    <div class="row row-post row-title-peque">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h3 class="titulo-post-peque">
                                <a class="titulo-post-peque" href="#">
                                    Últimos Posts Murciélago
                                </a>
                            </h3>
                        </div>
                    </div>

                    {#<!-- CUERPO -->#}
                    <div class="row row-post row-body-peque">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p>
                                Lorem Ipsum. Proin gravida nibh vel velit auctor 
                                aliquet. Aenean sollicitudin, lorem quis 
                                bibendum auctor, nisi elit ipsum, nec sagittis 
                                sem nibh id elit. 
                            </p>
                        </div>
                    </div>

                    {#<!-- LEER -->#}
                    <div class="row row-post separacion-superior 
                         separacion-inferior row-boton-peque">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 
                             leer-post separacion-inferior">
                            <a class="boton-leer-post" href="#">
                                <span class=""> Leer más </span>
                            </a>
                        </div>
                    </div>
                    {#<!-- FIN ELEMENTO CON IMAGEN -->#}
                </div>
                {#<!-- FIN COLUMNA 2 FILA 2 COLUMNA 1-->#}

                {#<!-- COLUMNA 2 FILA 2 COLUMNA 2-->#}
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 post-peque 
                     sep-sup col-peque-d">
                    {#<!-- ELEMENTO CON IMAGEN -->#}
                    {#<!-- FECHA Y VOTOS -->#}
                    <div class="row row-post separacion-inferior 
                         separacion-superior row-date-peque">
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <span class="date-post-peque">19 Oct</span>

                            <span class="date-post-peque">|</span>

                            <a class="voto-corazon date-post-peque" href="#">
                                <span>Etiqueta 1</span>
                            </a>

                            <a class="voto-corazon date-post-peque" href="#">
                                <span>Etiqueta 2</span>
                            </a>
                        </div>

                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 
                             voto-post">
                            <a class="comentario-post" href="#">
                                <span class="glyphicon glyphicon-comment" 
                                      aria-hidden="true"></span>
                                <span>0</span>
                            </a>

                            <span>|</span>

                            <a class="voto-corazon" href="#">
                                <span class="glyphicon glyphicon-heart" 
                                      aria-hidden="true"></span>
                                <span>0</span>
                            </a>
                        </div>
                    </div>

                    {#<!-- TITULO -->#}
                    <div class="row row-post row-title-peque">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h3 class="titulo-post-peque">
                                <a class="titulo-post-peque" href="#">
                                    Proin gravida nibh vel velit auctor
                                </a>
                            </h3>
                        </div>
                    </div>

                    {#<!-- CUERPO -->#}
                    <div class="row row-post row-body-peque">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p>
                                Lorem Ipsum. Proin gravida nibh vel velit auctor 
                                aliquet. Aenean sollicitudin, lorem quis 
                                bibendum auctor, nisi elit ipsum, nec sagittis 
                                sem nibh id elit. 
                            </p>
                        </div>
                    </div>

                    {#<!-- LEER -->#}
                    <div class="row row-post separacion-superior 
                         separacion-inferior row-boton-peque">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 
                             leer-post separacion-inferior">
                            <a class="boton-leer-post" href="#">
                                <span class=""> Leer más </span>
                            </a>
                        </div>
                    </div>
                    {#<!-- FIN ELEMENTO CON IMAGEN -->#}
                </div>
                {#<!-- FIN COLUMNA 2 FILA 2 COLUMNA 2-->#}

            </div>
            {#<!-- FIN COLUMNA 2 FILA 2-->#}

        </div>
        {#<!-- FIN COLUMNA 2 -->#}
    </div>
    {#<!-- FIN POSTS -->#}
</div>
{#<!-- FIN BLOG ULTIMOS ELEMENTOS -->#}
