{% import 'macros/iconos.html.twig' as iconos %}

<div class="container">
    <div class="row row-franja">

        {% for e in 0..5 %}
            {{ iconos.icon(servicesFranja[e].faX, servicesFranja[e].href, servicesFranja[e].text) }}
        {% endfor %}

    </div>
</div>