{% import 'macros/iconos.html.twig' as ico %}







{# Array de imagenes para la galeria #}
{#
 {% set nav = {
 share_car:{ faX: "fa-car", href: "serShareCar", text: "Coche Compartido"},
 courier:{ faX: "fa-envelope", href: "serShareCar", text: "Mensajería"},
 renting:{ faX: "fa-weixin", href: "serShareCar", text: "Renting"},
 camping:{ faX: "fa-envira", href: "serHouseRents", text: "Camping"},
 money:{ faX: "fa-money", href: "service_listTrade", text: "Compra/Venta"},
 ticket:{ faX: "fa-ticket", href: "service_listTrade", text: "Entradas Ocio"},
 } %}
    {% set photosCar = [] %}
    {% for nav.share_car.fax.href.text in car.photos%}
        {% set photosCar = photosCar|merge([photos.url]) %}
    {% endfor %}

<div class="container">
    {{ ico.icon(nav,href,text) }}
</div>

    {% endblock %}


#}

{#
{% import 'macros/offer.html.twig' as ico %}



    {% set nav = {
    share_car:{ faX: "fa-car", href: "serShareCar", text: "Coche Compartido"},
    courier:{ faX: "fa-envelope", href: "serShareCar", text: "Mensajería"},
    renting:{ faX: "fa-weixin", href: "serShareCar", text: "Renting"},
    camping:{ faX: "fa-envira", href: "serHouseRents", text: "Camping"},
    money:{ faX: "fa-money", href: "service_listTrade", text: "Compra/Venta"},
    ticket:{ faX: "fa-ticket", href: "service_listTrade", text: "Entradas Ocio"},
    } %}



    {% for i in 0..6 %}

            {% if nav.share_car or nav.courier or nav.renting or nav.camping or nav.money or nav.ticket not in nav %}
                <!-- FRANJA SERVICIOS -->
                     * {{i}}
                <div class="container">
               {{ico.icon(faX, href, text)}}
                </div>
                <!-- FIN FRANJA SERVICIOS -->
                {% set nav = nav|merge([random(nav.share_car,nav.courier,nav.renting,nav.camping,nav.money,nav.ticket)]) %}
            {% endif %}


    {% endfor %}




#}