<!-- FRANJA SERVICIOS -->
<div class="container">
    <div class="row row-franja">

        <!-- ICONO 1 -->
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 franja">
            <a href="#" class="service-ref">
                <p class="service-text">
                    <span class="fa fa-car"></span>
                    <br>Coche Compartido
                </p>
            </a>
        </div>

        <!-- ICONO 2 -->
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 franja">
            <a href="#" class="service-ref">
                <p class="service-text">
                    <span class="fa fa-envelope"></span>
                    <br>Mensajería
                </p>
            </a>
        </div>

        <!-- ICONO 3 -->
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 franja">
            <a href="#" class="service-ref">
                <p class="service-text">
                    <span class="fa fa-weixin"></span>
                    <br>Renting
                </p>
            </a>
        </div>

        <!-- ICONO 4 -->
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 franja">
            <a href="#" class="service-ref">
                <p class="service-text">
                    <span class="fa fa-envira"></span>
                    <br>Camping
                </p>
            </a>
        </div>

        <!-- ICONO 5 -->
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 franja">
            <a href="#" class="service-ref">
                <p class="service-text">
                    <span class="fa fa-money"></span>
                    <br>Compra/Venta 
                </p>
            </a>
        </div>

        <!-- ICONO 6 -->
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 franja">
            <a href="#" class="service-ref">
                <p class="service-text">
                    <span class="fa fa-ticket"></span>
                    <br>Entradas Ocio
                </p>
            </a>
        </div>
    </div> 
</div>
<!-- FIN FRANJA SERVICIOS -->