<!-- PACKS -->
<div class="container cd-main-content">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 
             separacion-superior">
            <h2>Nuestros Packs</h2>
            <hr>
        </div>
    </div>

    <div class="row separacion-inferior">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <a href="#">
                <div class="hovereffect img-packs-efect">
                    <img class="img-responsive"
                         src="{{ asset('img/sting.jpg') }}" alt=""/>
                    <div class="overlay ">

                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <a href="#">
                <h3>¡Alojamiento mas concierto Sting!</h3>
            </a>

            <p>
                El cantante Sting estará en Barcelona dentro de la programación del Festival de Pedralbes 2017 el
                próximo 6 de julio. El concierto será en los Jardins del Palau de Pedralbes a las 22:00 horas.
            </p>

            <p>
                El artista no se quedó a la sombra de los grandes artistas, sino que se convirtió él mismo en un gran
                artista más. Después de más de 100 millones de discos vendidos y de haber ganado más de una docena de
                Grammys, el artista se convirtió en uno de los nombres imprescindibles e inolvidables del mundo Pop.
            </p>

        </div>
    </div>

    <div class="row separacion-inferior">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <a href="#">
                <h3>Te organizamos el concierto de tu vida</h3>
            </a>

            <p>
                Miguel Bosé actuará en Madrid el próximo viernes 23 de junio de 2017 en el WiZink Cener (antiguo
                Palacio de los Deportes de Madrid). La apertura de puertas será a las 20:00h, comenzando el concierto
                a partir de las 21:30h.
            </p>

            <p>
                Se trata de una oportunidad muy especial de ver al polifacético Miguel Bosé en directo, unos de los
                artistas de mayor repercusión a nivel mundial. Cuenta ya con 17 álbumes de estudio, más de 30 millones
                de discos vendidos, giras multitudinarias y más de 70 éxitos que han alcanzado el los primeros puestos
                en las listas de Europa y América, ha recibido todos los reconocimientos existentes en la industria de
                la música latina. Sólo el pasado año, recibió en España la Medalla Internacional de las Artes 2016, el
                prestigioso Premio Ondas y el primer Golden Music Award, galardón especial entregado por Los40.
            </p>

        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <a href="#">
                <div class="hovereffect img-packs-efect">
                    <img class="img-responsive"
                         src="{{ asset('img/bose.jpg') }}" alt=""/>
                    <div class="overlay ">

                    </div>
                </div>
            </a>
        </div>
    </div>

</div>
<!-- FIN PACKS -->
