<!-- PACKS -->
<div class="container cd-main-content">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 
             separacion-superior">
            <h2>Nuestros Packs</h2>
            <hr>
        </div>
    </div>

    <div class="row separacion-inferior">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="hovereffect img-packs-efect">
                <img class="img-responsive" 
                     src="{{ asset('img/familia.jpg') }}" alt=""/>
                <div class="overlay ">

                </div>
            </div>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <h3>¡Viaja con toda la familia!</h3>
            <p>
                Si  busca un lugar idóneo para sus vacaciones en familia o un 
                fin de semana  con un ambiente natural pero con un servicio 
                personalizado, dónde sus hijos pueden jugar en toda seguridad 
                mientras usted se relaja con su aperitivo en su terraza, le 
                ofrecemos unas Villas-apartamentos muy cerca de la ciudad de 
                Valencia en urbanización con buena conexión a la ciudad, playas
                y parajes naturales.
            </p>
            
            <p>
                Si quieres disfrutar de la Ciudad de Valencia con tus hijos y a 
                la vez relajarte en un apartamento con todas las comodidades 
                vacacionales, ya sabes reserva con nosotros y descubre Valencia 
                en familia.
            </p>

        </div>
    </div>

    <div class="row separacion-inferior">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <h3>Te organizamos el concierto de tu vida</h3>
            <p>
                Diana Krall es el nombre más atractivo del jazz vocal actual y 
                regresa a San Sebastián, donde aún se recuerdan sus 
                extraordinarios conciertos anteriores, con una formación de 
                cuarteto que la hace retornar a sus orígenes jazzísticos. 
            </p>
            <p>
               Si quieres disfrutar del concierto de tu vida y que te lo 
               planifiquen todo no esperes más, reserva con nosotros y descubre 
               la experiencia de tu vida.
            </p>

        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="hovereffect img-packs-efect">
                <img class="img-responsive" 
                     src="{{ asset('img/concierto.jpg') }}" alt=""/>
                <div class="overlay ">

                </div>
            </div>
        </div>
    </div>

    <div class="row separacion-inferior">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="hovereffect img-packs-efect">
                <img class="img-responsive" 
                     src="{{ asset('img/camping.jpg') }}" alt=""/>
                <div class="overlay ">

                </div>
            </div>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <h3>Siente la naturaleza en nuestros campings</h3>
            <p>
                Cuenta con una amplia oferta lúdica que incluye sala de juegos, 
                zona infantil, un gran parque cubierto con toboganes y bolas de 
                colores, mini-club, personal de animación y escuelas deportivas 
                en verano. 
            </p>
            <p>
                Si quieres disfrutar de nuestros campings y a la vez relajarte 
                con la naturaleza, ya sabes reserva con nosotros y descubre esta 
                experiencia única.
            </p>

        </div>
    </div>

</div>
<!-- FIN PACKS -->
