<div class="container cd-main-content">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2>
                Colaboración Social
            </h2>
            <hr>
        </div>
    </div>

    <div class="row separacion-inferior">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

            {#<!-- COLUMNA 2 FILA 1-->#}
            <div class="row row-blog">

                {#<!-- COLUMNA 2 FILA 1 COLUMNA 1-->#}
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 post-peque
                     col-peque-i">
                    {#<!-- ELEMENTO CON IMAGEN -->#}
                    {#<!-- FECHA Y VOTOS -->#}
                    <div class="row row-post separacion-inferior
                         separacion-superior row-date-peque">
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <span class="date-post-peque">8 May</span>

                            <span class="date-post-peque">|</span>

                            <a class="voto-corazon date-post-peque" href="#">
                                <span>Social</span>
                            </a>

                            <a class="voto-corazon date-post-peque" href="#">
                                <span>Ayuda</span>
                            </a>
                        </div>

                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5
                             voto-post">
                            <a class="comentario-post" href="#">
                                <span class="glyphicon glyphicon-comment"
                                      aria-hidden="true"></span>
                                <span>0</span>
                            </a>

                            <span>|</span>

                            <a class="voto-corazon" href="#">
                                <span class="glyphicon glyphicon-heart"
                                      aria-hidden="true"></span>
                                <span>0</span>
                            </a>
                        </div>
                    </div>

                    <div class="row row-post row-title-peque">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h3 class="titulo-post-peque">
                                <a class="titulo-post-peque" href="http://www.helpup.com/organizations/blua-eco-voluntariado/projects/santuario-de-elefantes-tailandia" target="_blank">
                                    Santuario de elefantes Tailandia
                                </a>
                            </h3>
                        </div>
                    </div>

                    {#<!-- CUERPO -->#}
                    <div class="row row-post row-body-peque">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p>
                                Participa en este proyecto de voluntariado ayudando en un santuario de elefantes y centro de rescate de fauna salvaje en Tailandia o Laos.
                            </p>
                        </div>
                    </div>

                    {#<!-- LEER -->#}
                    <div class="row row-post separacion-superior
                         separacion-inferior row-boton-peque">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12
                             leer-post separacion-inferior">
                            <a class="boton-leer-post" href="http://www.helpup.com/organizations/blua-eco-voluntariado/projects/santuario-de-elefantes-tailandia" target="_blank">
                                <span class=""> Leer más </span>
                            </a>
                        </div>
                    </div>
                    {#<!-- FIN ELEMENTO CON IMAGEN -->#}
                </div>
                {#<!-- FIN COLUMNA 2 FILA 1 COLUMNA 1-->#}

                {#<!-- COLUMNA 2 FILA 1 COLUMNA 2-->#}
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 post-peque
                     col-peque-d">
                    {#<!-- ELEMENTO CON IMAGEN -->#}
                    {#<!-- FECHA Y VOTOS -->#}
                    <div class="row row-post separacion-inferior
                         separacion-superior row-date-peque">
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <span class="date-post-peque">8 May</span>

                            <span class="date-post-peque">|</span>

                            <a class="voto-corazon date-post-peque" href="#">
                                <span>Ayuda</span>
                            </a>

                            <a class="voto-corazon date-post-peque" href="#">
                                <span>Social</span>
                            </a>
                        </div>

                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5
                             voto-post">
                            <a class="comentario-post" href="#">
                                <span class="glyphicon glyphicon-comment"
                                      aria-hidden="true"></span>
                                <span>0</span>
                            </a>

                            <span>|</span>

                            <a class="voto-corazon" href="#">
                                <span class="glyphicon glyphicon-heart"
                                      aria-hidden="true"></span>
                                <span>0</span>
                            </a>
                        </div>
                    </div>

                    {#<!-- TITULO -->#}
                    <div class="row row-post row-title-peque">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h3 class="titulo-post-peque">
                                <a class="titulo-post-peque" href="http://www.helpup.com/organizations/accion-solidaria-de-galicia-asdegal/projects/acompanamiento-en-hospitales-respiro-familiar" target="_blank">
                                    Acompañamiento en hospitales, respiro familiar
                                </a>
                            </h3>
                        </div>
                    </div>

                    {#<!-- CUERPO -->#}
                    <div class="row row-post row-body-peque">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p>
                                Las personas que colaboran en este proyecto acompañan a personas, ya sean menores o adultos, durante su estancia en hospitales.
                            </p>
                        </div>
                    </div>

                    {#<!-- LEER -->#}
                    <div class="row row-post separacion-superior
                         separacion-inferior row-boton-peque">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12
                             leer-post separacion-inferior">
                            <a class="boton-leer-post" href="http://www.helpup.com/organizations/accion-solidaria-de-galicia-asdegal/projects/acompanamiento-en-hospitales-respiro-familiar" target="_blank">
                                <span class=""> Leer más </span>
                            </a>
                        </div>
                    </div>

                    {#<!-- FIN ELEMENTO CON IMAGEN -->#}
                </div>
                {#<!-- FIN COLUMNA 2 FILA 1 COLUMNA 2-->#}




            {#<!-- FIN COLUMNA 2 FILA 1-->#}

            {#<!-- COLUMNA 1 FILA 2 COLUMNA 1-->#}
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 post-peque
                     col-peque-d">
                {#<!-- ELEMENTO CON IMAGEN -->#}
                {#<!-- FECHA Y VOTOS -->#}
                <div class="row row-post separacion-inferior
                         separacion-superior row-date-peque">
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                        <span class="date-post-peque">8 May</span>

                        <span class="date-post-peque">|</span>

                        <a class="voto-corazon date-post-peque" href="#">
                            <span>Ayuda</span>
                        </a>

                        <a class="voto-corazon date-post-peque" href="#">
                            <span>Social</span>
                        </a>
                    </div>

                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5
                             voto-post">
                        <a class="comentario-post" href="#">
                                <span class="glyphicon glyphicon-comment"
                                      aria-hidden="true"></span>
                            <span>0</span>
                        </a>

                        <span>|</span>

                        <a class="voto-corazon" href="#">
                                <span class="glyphicon glyphicon-heart"
                                      aria-hidden="true"></span>
                            <span>0</span>
                        </a>
                    </div>
                </div>

                {#<!-- TITULO -->#}
                <div class="row row-post row-title-peque">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h3 class="titulo-post-peque">
                            <a class="titulo-post-peque" href="http://www.helpup.com/organizations/rafiki-hostel-tanzania/projects/voluntariado-tanzania" target="_blank">
                                Voluntariado Tanzania
                            </a>
                        </h3>
                    </div>
                </div>

                {#<!-- CUERPO -->#}
                <div class="row row-post row-body-peque">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p>
                            Rafiki Hostel es una organización de voluntariado transparente, localizada en Arusha, Tanzania, la cual trabaja ayudando a la comunidad local mediante el desarrollo de programas de voluntariado.
                        </p>
                    </div>
                </div>

                {#<!-- LEER -->#}
                <div class="row row-post separacion-superior
                         separacion-inferior row-boton-peque">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12
                             leer-post separacion-inferior">
                        <a class="boton-leer-post" href="http://www.helpup.com/organizations/rafiki-hostel-tanzania/projects/voluntariado-tanzania" target="_blank">
                            <span class=""> Leer más </span>
                        </a>
                    </div>
                </div>

                {#<!-- FIN ELEMENTO CON IMAGEN -->#}
            </div>
            {#<!-- FIN COLUMNA 1 FILA 2 COLUMNA 1-->#}

            {#<!-- COLUMNA 2 FILA 2 COLUMNA 2-->#}
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 post-peque
                     col-peque-d">
                {#<!-- ELEMENTO CON IMAGEN -->#}
                {#<!-- FECHA Y VOTOS -->#}
                <div class="row row-post separacion-inferior
                         separacion-superior row-date-peque">
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                        <span class="date-post-peque">8 May</span>

                        <span class="date-post-peque">|</span>

                        <a class="voto-corazon date-post-peque" href="#">
                            <span>Ayuda</span>
                        </a>

                        <a class="voto-corazon date-post-peque" href="#">
                            <span>Social</span>
                        </a>
                    </div>

                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5
                             voto-post">
                        <a class="comentario-post" href="#">
                                <span class="glyphicon glyphicon-comment"
                                      aria-hidden="true"></span>
                            <span>0</span>
                        </a>

                        <span>|</span>

                        <a class="voto-corazon" href="#">
                                <span class="glyphicon glyphicon-heart"
                                      aria-hidden="true"></span>
                            <span>0</span>
                        </a>
                    </div>
                </div>

                {#<!-- TITULO -->#}
                <div class="row row-post row-title-peque">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h3 class="titulo-post-peque">
                            <a class="titulo-post-peque" href="http://www.helpup.com/organizations/amigos-de-los-mayores/projects/stop-soledad" target="_blank">
                                Stop Soledad
                            </a>
                        </h3>
                    </div>
                </div>

                {#<!-- CUERPO -->#}
                <div class="row row-post row-body-peque">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p>
                            El proyecto Stop Soledad ofrece apoyo emocional a personas mayores que se sienten solas para impedir su aislamiento en su entorno social y mejorar la calidad de sus condiciones anímicas y emocionales...
                        </p>
                    </div>
                </div>

                {#<!-- LEER -->#}
                <div class="row row-post separacion-superior
                         separacion-inferior row-boton-peque">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12
                             leer-post separacion-inferior">
                        <a class="boton-leer-post" href="http://www.helpup.com/organizations/amigos-de-los-mayores/projects/stop-soledad" target="_blank">
                            <span class=""> Leer más </span>
                        </a>
                    </div>
                </div>

                {#<!-- FIN ELEMENTO CON IMAGEN -->#}
            </div>
            {#<!-- FIN COLUMNA 2 FILA 2 COLUMNA 2-->#}



        </div>


        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 col-blog-big">



            {#<!-- ELEMENTO CON IMAGEN -->#}
            {#<!-- IMAGEN -->#}
            <div class="row row-col-image-post2">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-image-post">
                    <div class="hovereffect">
                        <img class="img-responsive"
                             src="{{ asset('img/helpUp.jpg') }}" alt=""/>
                        <div class="overlay ">

                        </div>
                    </div>
                </div>
            </div>

            {#<!-- FECHA Y VOTOS -->#}
            <div class="row row-post-big separacion-inferior separacion-superior row-date-big2">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <span class="date-post">11 May</span>

                    <span class="date-post">|</span>

                    <a class="voto-corazon date-post" href="#">
                        <span>Voluntariado</span>
                    </a>

                    <a class="voto-corazon date-post" href="#">
                        <span>Social</span>
                    </a>
                </div>

                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 voto-post">
                    <a class="comentario-post" href="#">
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                        <span>0</span>
                    </a>

                    <span>|</span>

                    <a class="voto-corazon" href="#">
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                        <span>0</span>
                    </a>
                </div>
            </div>

            {#<!-- TITULO -->#}
            <div class="row row-post-big row-title-big">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="titulo-post">
                        <a class="titulo-post" href="http://www.helpup.com/" target="_blank">
                            Help Up
                        </a>
                    </h3>
                </div>
            </div>

            {#<!-- CUERPO -->#}
            <div class="row row-post-big row-body-big2">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>
                        Whatwantweb desea dar a conocer proyectos tan magníficos como los de Help Up, que es una
                        red social que te permite participar en proyectos sociales.
                    </p>
                    <p>
                        Creemos que es una mágnifica oportunidad de poder ayudar a las personas que más lo
                        necesitan.
                    </p>
                    <div class="row footer-elementos blog-redes">
                        <a class="fa fa-facebook iconos-footer" href="https://www.facebook.com/helpupred" target="_blank"></a>
                        <a class="fa fa-twitter iconos-footer" href="https://twitter.com/HelpUP_es" target="_blank"></a>
                        <a class="fa fa-instagram iconos-footer" href="https://www.instagram.com/helpupspain/" target="_blank"></a>
                    </div>
                </div>
            </div>


            {#<!-- LEER -->#}
            <div class="row row-post-big separacion-superior separacion-inferior row-boton-big">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 leer-post-grande separacion-inferior">
                    <a class="boton-leer-post" href="http://www.helpup.com/" target="_blank">
                        <span class=""> Ir a </span>
                    </a>
                </div>
            </div>
            {#<!-- FIN ELEMENTO CON IMAGEN -->#}

        </div>
    </div>
</div>