
<div>
    <a href="#">
        <h4>
            <i class="fa fa-child pull-left">

            </i>
            Ropa
        </h4>
    </a>
</div>

<div>
    <a href="CompraVenta.html">
         <h4>
             <i class="fa fa-money pull-left">

             </i>
             Compra-Venta general
         </h4>
    </a>
</div>

<div>
    <a href="#">
        <h4>
            <i class="fa fa-building-o pull-left">

            </i>
            Link empresa
        </h4>
    </a>
</div>

<div>
    <a href="#">
        <h4>
            <i class="fa fa-book pull-left">

            </i>
            Apuntes universitarios
        </h4>
    </a>
</div>

<div>
    <a href="#">
        <h4>
            <i class="fa fa-refresh pull-left">

            </i>
            Trueque
        </h4>
    </a>
</div>

<div>
    <a href="#">
        <h4>
            <i class="fa fa-ship pull-left">

            </i>
            Alquiler barcos
        </h4>
    </a>
</div>

<div>
    <a href="#">
        <h4>
            <i class="fa fa-mobile-phone pull-left">

            </i>
            Recarga teléfono móvil
        </h4>
    </a>
</div>

<div>
    <a href="#">
        <h4>
            <i class="fa fa-soccer-ball-o pull-left">

            </i>
            Apuestas deportivas
        </h4>
    </a>
</div>

<div>
    <a href="#">
        <h4>
            <i class="fa fa-ticket pull-left">

            </i>
            Entradas ocio
        </h4>
    </a>
</div>

<div>
    <a href="#">
        <h4>
            <i class="fa fa-file-text-o pull-left">

            </i>
            Pago facturas
        </h4>
    </a>
</div>
