{% macro icon(faX, href, text) %}

<div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 franja">
    <a href="{{ href|e }}" class="service-ref">
        <p class="service-text">
            <span class="fa {{ faX|e }}"></span>
            <br>
             {{ text|capitalize|e }}
        </p>
    </a>
</div>

{% endmacro %}