{% extends 'UserBundle:Layouts:layoutProfile.html.twig' %}
{% import 'macros/message.html.twig' as message %}
{% import 'macros/offer.html.twig' as offers %}
{% import 'macros/script.html.twig' as codMenu %}

{% block title %}
    Profile
{% endblock %}

{% block alert %}
    
{% endblock %} 


{% block javascriptsHeader %}
    {{ parent() }}
{% endblock %}


{% block bodyProfile %}
    <div class="row us-dataPersonal-row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>
                Darse de baja en WhatWantWeb
            </h3>
            <hr/>

            <div class="form-group">
                <label for="comment">Indíquenos el motivo de su baja.</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
            <button type="submit" id=""
                    name=""
                    class="btn-default btn">
                Baja
            </button>
        </div>
    </div>
{% endblock %}



{% block javascriptsFooter %}
    {{ parent() }}
    {{ codMenu.scriptUserMenu('.us-dataPersonal-row') }}
{% endblock %}
    

