/* ------------------ MENU DE ADMINISTRACI�N  ------------------
******************************************************************/

/* ***** OFFER ***** */
.off-container{
    padding-top: 30px;
}

.col-off-title{
    h2{
        margin: 0;
    }
}

.off-price {
    font-size: 28px;
    font-weight: 400;
    line-height: 1em;
    color: @brand-primary;
    display: inline-block;
    margin-right: 30px;
}

.off-vote {
    display: inline-block;
    
}

.off-img-marco-grande {
    height: 400px;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.off-img-marco-peque {
    height: 70px;
    overflow: hidden;
    padding: 0;
    position: relative;
    
    a {
        pointer-events: none;
        cursor: default;
    }
}

.off-img-slid {
    min-width: 100%;
    min-height: 100%;
    
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.off-img-expo {
    min-width: 100%;
    
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.off-item-dime {
    padding: 0 5px;
}

.off-carousel {
    padding-top: 10px;
}

#off-img-big, #off-img-small {
    margin-bottom: 20px;
}

.off-col-rrss{
    text-align: center;
}

.off-description-normal{
    padding-top: 30px;
}

.row-off-user-name{
    text-align: center;
    
    a{
        font-size: 16px;
        font-weight: 600;
    }
    
}

.col-off-var-data, .col-off-rela{
    padding-top: 20px;
}



.a2a_kit.a2a_kit_size_48.a2a_default_style{
    display: flex; 
    justify-content: center;
    margin-bottom: 20px;
    
    .a2a_svg, .a2a_count { 
        border-radius: 25px !important; 
    }
    
    a:focus, a:hover{
        .a2a_svg{ 
            background-color: @brand-primary !important;
            opacity: 1;
        }
    }
}
/* ##### FIN OFFER ##### */



/* ***** TRADE ***** */

/* ##### FIN TRADE ##### */



/* *****  ***** */

/* ##### FIN  ##### */

/*######################   >1600PX DE ANCHO - ALTURAS  ######################*/
@media only screen and (max-height : 1050px){
    
}

@media only screen and (max-height : 810px){
    
}

@media only screen and (max-height : 780px){
    
}


/*######################   RANGO ANCHO [1600 � 1200[ ######################*/
@media only screen and (max-width : 1600px) {
    
    
    @media only screen and (max-height : 1024px){
        
    }
    
    @media only screen and (max-height : 960px){
        
    }
    
    @media only screen and (max-height : 900px){
        
    }
    
    @media only screen and (max-height : 800px){
        
    }
    
    @media only screen and (max-height : 720px){
        
    }
}

/*######################   RANGO ANCHO [1200 �  992[  ######################*/
@media only screen and (max-width : 1200px) {
    
    
    @media only screen and (max-height : 768px){
        
    }
    
    @media only screen and (max-height : 600px){
        
    }
}

/*######################   RANGO ANCHO [992�  768[  ######################*/
@media only screen and (max-width : 992px) {
        
    @media only screen and (max-height : 500px){
        
    }
}

/*######################   RANGO ANCHO [768 � 480[  ######################*/
@media only screen and (max-width : 768px) {
    .off-container{
        padding-top: 0px;
    }
    
    .off-img-marco-grande {
        height: 300px;
    }
    
    #off-img-small {
        display: none !important;
    }
    
    @media only screen and (max-height : 1024px){
        
    }
    
    @media only screen and (max-height : 850px){
        
    }
    
    @media only screen and (max-height : 740px){
        
    }
    
    @media only screen and (max-height : 360px){
        
    }
}

/*######################   RANGO ANCHO [480 � 320[  ######################*/
@media only screen and (max-width : 480px) {
    
        
    @media only screen and (max-height : 667px){
        
    }
    
    @media only screen and (max-height : 640px){
        
    }
}

/*######################   RANGO ANCHO [320 � 1]  ######################*/
@media only screen and (max-width : 320px) {
    
    
    @media only screen and (max-height : 534px){
        
    }
    
    @media only screen and (max-height : 480px){
        
    }
}
