/* ------------------ MENU DE ADMINISTRACI�N  ------------------
******************************************************************/

/* ***** OFFER ***** */
.off-container{
    padding-top: 30px;
}

.col-off-title{
    h2{
        margin: 0;
    }
}

.off-price {
    font-size: 28px;
    font-weight: 900;
    line-height: 1em;
    color: @brand-primary;
    display: inline-block;
    margin-right: 30px;
}

.off-vote {
    display: inline-block;
    
}

.off-img-marco-grande {
    height: 400px;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.off-img-marco-peque {
    height: 70px;
    overflow: hidden;
    padding: 0;
    position: relative;
    
    a {
        pointer-events: none;
        cursor: default;
    }
}

.off-img-slid {
    min-width: 100%;
    min-height: 100%;
    
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.off-img-expo {
    min-width: 100%;
    
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.off-item-dime {
    padding: 0 5px;
}

.off-carousel {
    padding-top: 10px;
}

#off-img-big, #off-img-small {
    margin-bottom: 20px;
}

.off-col-rrss{
    text-align: center;
}

.off-description-normal{
    padding-top: 30px;
}

.row-off-user-name{
    text-align: left;
    
    a{
        font-size: 16px;
        font-weight: 600;
    }
    
}

.col-off-var-data, .col-off-rela{
    padding-top: 20px;
}

.off-special{
    color: @brand-primary;
}

.col-off-other-data{
    margin-top: 20px;
}

.btn-off-buy{
    float: left;
}

.off-user-image, .off-user-name{
    display: table-cell;
    vertical-align: middle;
}

.off-user-name{
    padding-left: 15px;
}

.off-user-image{
    img{
        width: 56px;
        height: 56px;
    }
}

.off-icon-prin{
    color: @brand-primary;
    font-size: 32px;
    width: 0px !important;
    padding-right: 40px;
}

.off-icon-secund-ok{
    color: @brand-primary;
    font-size: 20px;
    width: 0px !important;
    padding-right: 25px;
}

.off-icon-secund-no{
    font-size: 20px;
    width: 0px !important;
    padding-right: 25px;
}

.off-target-prin{
    font-size: 20px;
}

.off-target-prin-text{
    .off-target-prin;
    font-weight: 100;
}

.off-target-secon{
    font-size: 20px;
}

.off-row-date-second{
    padding-bottom: 15px;
}

.off-row-date-prin{
    padding-bottom: 25px;
    font-weight: 900;
}

.off-col-other-date{
    text-align: center;
}
/* ##### FIN OFFER ##### */



/* ***** TRADE ***** */

/* ##### FIN TRADE ##### */



/* ***** HOUSE-RENTS ***** */

/* ##### FIN HOUSE-RENTS ##### */



/* *****  ***** */

/* ##### FIN  ##### */

/*######################   >1600PX DE ANCHO - ALTURAS  ######################*/
@media only screen and (max-height : 1050px){
    
}

@media only screen and (max-height : 810px){
    
}

@media only screen and (max-height : 780px){
    
}


/*######################   RANGO ANCHO [1600 � 1200[ ######################*/
@media only screen and (max-width : 1600px) {
    
    
    @media only screen and (max-height : 1024px){
        
    }
    
    @media only screen and (max-height : 960px){
        
    }
    
    @media only screen and (max-height : 900px){
        
    }
    
    @media only screen and (max-height : 800px){
        
    }
    
    @media only screen and (max-height : 720px){
        
    }
}

/*######################   RANGO ANCHO [1200 �  992[  ######################*/
@media only screen and (max-width : 1200px) {
    .off-row-date-prin{
        padding-bottom: 0;
    }
    
    .off-col-other-date{
        padding-bottom: 20px;
    }
    
    .off-row-date-second{
        padding-bottom: 0;
    }
    
    .off-col-other-date-sec{
        padding-bottom: 15px;
    }
    
    .off-icon-secund-ok{
        width: inherit;
    }

    .off-icon-secund-no{
        width: inherit;
    }
    
    @media only screen and (max-height : 768px){
        
    }
    
    @media only screen and (max-height : 600px){
        
    }
}

/*######################   RANGO ANCHO [992�  768[  ######################*/
@media only screen and (max-width : 992px) {
        
    @media only screen and (max-height : 500px){
        
    }
}

/*######################   RANGO ANCHO [768 � 480[  ######################*/
@media only screen and (max-width : 768px) {
    .off-container{
        padding-top: 0px;
    }
    
    .off-img-marco-grande {
        height: 300px;
    }
    
    #off-img-small {
        display: none !important;
    }
    
    .off-col-other-date-sec {
        padding-bottom: 0px;
        min-height: 50px;
    }
    
    @media only screen and (max-height : 1024px){
        
    }
    
    @media only screen and (max-height : 850px){
        
    }
    
    @media only screen and (max-height : 740px){
        
    }
    
    @media only screen and (max-height : 360px){
        
    }
}

/*######################   RANGO ANCHO [480 � 320[  ######################*/
@media only screen and (max-width : 480px) {
    .off-target-prin-text {
        font-size: 16px;
    }
    
    .off-target-secon{
        font-size: 14px;
    }
    
    .off-icon-prin {
        font-size: 30px;
    }
    
    .off-icon-prin {
        font-size: 30px;
        display: block;
        margin: 0 auto;
    }
    
    .off-target-prin {
        font-weight: 600;
    }
        
    @media only screen and (max-height : 667px){
        
    }
    
    @media only screen and (max-height : 640px){
        
    }
}

/*######################   RANGO ANCHO [320 � 1]  ######################*/
@media only screen and (max-width : 320px) {
    .off-col-other-date {
        min-height: 90px;
    }
    
    @media only screen and (max-height : 534px){
        
    }
    
    @media only screen and (max-height : 480px){
        
    }
}
