/* ------------------ ABOUT US  ------------------
******************************************************************/

/* ***** CABECERA ***** */
.container-fluid.cd-main-content.administration-body {
    position: relative;
    z-index: 1;
}

.aus-body{

}

.aus-cab{
    height: 300px;
    padding: 50px 0;
    background-color: rgba(0, 0, 0, 0.3);
    .pos-capas;
}

video.aus-video {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 0;
}

.aus-cab h1{
    color: @brand-secondary;
    text-align: center;
    padding-top: 35px;
    font-size: 70px;
}

.aus-bg{
    background-color: @brand-secondary;
    .null-marg;
    .pos-capas;
}

.aus-cont{
    padding: 50px 0px;
}
/* ##### FIN CABECERA ##### */

/* ***** DATOS ***** */
.aus-tam-img{
    height: 500px;
}

.aus-img{
    .aus-tam-img;
    margin: 0;
    padding: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aus-img1{
    background-image: url(../img/quees.jpg);
    background-color: @brand-primary;
    .aus-img;
}

.aus-img2{
    background-image: url(../img/aobje.jpg);
    .aus-img;
}

.aus-img3{
    background-image: url(../img/oficina1.jpg);
    .aus-img;
}

.aus-img4{
    background-image: url(../img/oficina2.jpg);
    .aus-img;
}

.aus-text-ob-pad{
    padding: 2% 5% 0%;
}

.aus-text-ob{
    .aus-tam-img;
    .aus-text-ob-pad;
    background-color: @brand-secondary;
    background-size: cover;
}
/* ##### FIN DATOS ##### */

/* ***** EQUIPO ***** */
.aus-name{
    display: block;
    color: @gray-base;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    .aus-effect-trans;
    margin-bottom: 10px;
}

.aus-job{
    display: block;
    color: @gray-base;
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}

.aus-email{
    display: block;
}

.aus-col-peo{
    margin: 5px 0px;
}

.aus-col-peo1{
    .aus-col-peo;
    text-align: center;
}

.aus-effect-trans{
    -o-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.aus-img-peo{
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    padding: 6px;
    border: 3px solid @gray-light;
    margin: 15px;
    max-width: 100%;
    .aus-effect-trans;
}

.aus-text-peo{
    
}

.aus-img-personal{
    height: 145px;
    width: 145px;
}

.aus-efect-peo{
    .aus-effect-trans;
    padding: 10px 5% 0px;
    margin: 10px 0;
    text-align: center;
    min-height: 240px;
}

.aus-efect-peo-hover{
    background-color: @gray-lighter;
    
    .aus-img-peo{
        border-color: @brand-primary;
        background-color: @brand-primary;
    }
    
    .aus-name{
        color: @brand-primary;
    }
}

.aus-efect-peo:hover{
    .aus-efect-peo-hover;
}

.aus-efect-peo1{
    .aus-efect-peo;
    padding: 10px 5% 15px;
    min-height: inherit;
    margin: 0 0 5px;
}

.aus-efect-peo1:hover{
    .aus-efect-peo-hover;
}
/* ##### FIN EQUIPO ##### */

/* ***** SPONSORS ***** */
.aus-spon{
    min-height: 300px;
    margin: 0;
    padding: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aus-spon1{
    .aus-spon;
    background-image: url(../img/sponsor11.jpg);
}

.aus-spon2{
    .aus-spon;
    background-image: url(../img/sponsor22.jpg);
}

.aus-spon3{
    .aus-spon;
    background-image: url(../img/sponsor33.jpg);
}

.aus-spon4{
    .aus-spon;
    background-image: url(../img/sponsor44.jpg);
}

.aus-bg3{
    padding-left: 0px;
    padding-right: 0px;
}

.aus-bg2{
    padding-bottom: 50px;
    
    .row{
        margin-left: 0px;
        margin-right: 0px;
    }
}
/* ##### FIN SPONSORS ##### */

/* ***** SERVICIOS ***** */
.aus-servicios{
    padding-bottom: 40px;
}

.aus-row-services{
    hr{
        margin: 0;
    }
}
/* ##### FIN SERVICIOS ##### */

/* *****  ***** */

/* ##### FIN  ##### */

/*######################   >1600PX DE ANCHO - ALTURAS  ######################*/
@media only screen and (max-height : 1050px){
    
}

@media only screen and (max-height : 810px){
    
}

@media only screen and (max-height : 780px){
    
}


/*######################   RANGO ANCHO [1600 � 1200[ ######################*/
@media only screen and (max-width : 1600px) {
    
    
    @media only screen and (max-height : 1024px){
        
    }
    
    @media only screen and (max-height : 960px){
        
    }
    
    @media only screen and (max-height : 900px){
        
    }
    
    @media only screen and (max-height : 800px){
        
    }
    
    @media only screen and (max-height : 720px){
        
    }
}

/*######################   RANGO ANCHO [1200 �  992[  ######################*/
@media only screen and (max-width : 1200px) {
    
    @media only screen and (max-height : 768px){
        
    }
    
    @media only screen and (max-height : 600px){
        
    }
}

/*######################   RANGO ANCHO [992�  768[  ######################*/
@media only screen and (max-width : 992px) {
        
    @media only screen and (max-height : 500px){
        
    }
}

/*######################   RANGO ANCHO [768 � 480[  ######################*/
@media only screen and (max-width : 768px) {
    .aus-cab{
        margin-top: 0px;
    }
    
    .aus-cab h1 {
        font-size: 55px;
    }
    
    .aus-text-ob {
        height: inherit;
        padding: 2% 5%;
    }
    
    .aus-img1{
        height: 300px;
    }

    .aus-img2{
        height: 300px;
    }
    
    .aus-bg {
        padding: 0 4%;
        
        .row{
            margin: 0;
        }
    }
    
    .aus-bg2{
        padding: 0;
    }
    
    .aus-bg3{
        padding: 0 4%;
    }
    
    .aus-efect-peo{
        min-height: inherit;
    }
    
    .aus-email{
        padding-bottom: 10px;
    }
    
    .aus-cont {
        padding: 0px;
    }

    .aus-text-sup{
        padding-top: 30px !important;
    }
       
    @media only screen and (max-height : 1024px){
        
    }
    
    @media only screen and (max-height : 850px){
        
    }
    
    @media only screen and (max-height : 740px){
        
    }
    
    @media only screen and (max-height : 360px){
        
    }
}

/*######################   RANGO ANCHO [480 � 320[  ######################*/
@media only screen and (max-width : 480px) {
    .aus-cab h1{
        padding-top: 10px;
        font-size: 50px;
    }
        
    @media only screen and (max-height : 667px){
        
    }
    
    @media only screen and (max-height : 640px){
        
    }
}

/*######################   RANGO ANCHO [320 � 1]  ######################*/
@media only screen and (max-width : 320px) {
    .aus-cab h1{
        font-size: 45px;
    }
    
    .aus-cont > h2{
        font-size: 35px;
    }
    
    @media only screen and (max-height : 534px){
        
    }
    
    @media only screen and (max-height : 480px){
        
    }
}
