/* ------------------ ABOUT US  ------------------
******************************************************************/

/* ***** CABECERA ***** */
.aus-cab{
    height: 300px;
    padding-bottom: 50px;
    padding-top: 50px;
    .null-marg;
    background-color: rgba(0, 0, 0, 0.3);
}

.aus-cab video {
    min-width: 100%;
    position: fixed;
    top: 0;
    z-index: -100;
}

.aus-cab h1{
    color: @brand-secondary;
    text-align: center;
    padding-top: 100px;
    font-size: 70px;
}

.aus-bg{
    background-color: @brand-secondary;
    .null-marg;
}

.aus-cont{
    padding: 50px 0px;
}
/* ##### FIN CABECERA ##### */

/* ***** DATOS ***** */
.aus-img{
    min-height: 500px;
    margin: 0;
    padding: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aus-img1{
    background-image: url(../img/sponsor11.jpg);
    .aus-img;
}

.aus-img2{
    background-image: url(../img/sponsor22.jpg);
    .aus-img;
}

.aus-text-ob{
    padding: 2% 5% 0%;
}
/* ##### FIN DATOS ##### */

/* *****  ***** */

/* ##### FIN  ##### */

/*######################   >1600PX DE ANCHO - ALTURAS  ######################*/
@media only screen and (max-height : 1050px){
    
}

@media only screen and (max-height : 810px){
    
}

@media only screen and (max-height : 780px){
    
}


/*######################   RANGO ANCHO [1600 � 1200[ ######################*/
@media only screen and (max-width : 1600px) {
    
    
    @media only screen and (max-height : 1024px){
        
    }
    
    @media only screen and (max-height : 960px){
        
    }
    
    @media only screen and (max-height : 900px){
        
    }
    
    @media only screen and (max-height : 800px){
        
    }
    
    @media only screen and (max-height : 720px){
        
    }
}

/*######################   RANGO ANCHO [1200 �  992[  ######################*/
@media only screen and (max-width : 1200px) {
    
    
    @media only screen and (max-height : 768px){
        
    }
    
    @media only screen and (max-height : 600px){
        
    }
}

/*######################   RANGO ANCHO [992�  768[  ######################*/
@media only screen and (max-width : 992px) {
        
    @media only screen and (max-height : 500px){
        
    }
}

/*######################   RANGO ANCHO [768 � 480[  ######################*/
@media only screen and (max-width : 768px) {
       
    @media only screen and (max-height : 1024px){
        
    }
    
    @media only screen and (max-height : 850px){
        
    }
    
    @media only screen and (max-height : 740px){
        
    }
    
    @media only screen and (max-height : 360px){
        
    }
}

/*######################   RANGO ANCHO [480 � 320[  ######################*/
@media only screen and (max-width : 480px) {
    
        
    @media only screen and (max-height : 667px){
        
    }
    
    @media only screen and (max-height : 640px){
        
    }
}

/*######################   RANGO ANCHO [320 � 1]  ######################*/
@media only screen and (max-width : 320px) {
    
    
    @media only screen and (max-height : 534px){
        
    }
    
    @media only screen and (max-height : 480px){
        
    }
}
