/* ------------------ ABOUT US  ------------------
******************************************************************/

/* ***** CABECERA ***** */
.container-fluid.cd-main-content.administration-body {
    position: relative;
    z-index: 1;
}

.aus-body{

}

.aus-cab{
    height: 300px;
    margin-top: -52px;
    padding: 50px 0;
    background-color: rgba(0, 0, 0, 0.3);
    .pos-capas;
}

video.aus-video {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 0;
}

.aus-cab h1{
    color: @brand-secondary;
    text-align: center;
    padding-top: 50px;
    font-size: 70px;
}

.aus-bg{
    background-color: @brand-secondary;
    .null-marg;
    .pos-capas;
}

.aus-cont{
    padding: 50px 0px;
}
/* ##### FIN CABECERA ##### */

/* ***** DATOS ***** */
.aus-tam-img{
    height: 500px;
}

.aus-img{
    .aus-tam-img;
    margin: 0;
    padding: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aus-img1{
    background-image: url(../img/quees.jpg);
    background-color: @brand-primary;
    .aus-img;
}

.aus-img2{
    background-image: url(../img/aobje.jpg);
    .aus-img;
}

.aus-text-ob-pad{
    padding: 2% 5% 0%;
}

.aus-text-ob{
    .aus-tam-img;
    .aus-text-ob-pad;
    background-color: @brand-secondary;
    background-size: cover;
}
/* ##### FIN DATOS ##### */

/* *****  ***** */

/* ##### FIN  ##### */

/*######################   >1600PX DE ANCHO - ALTURAS  ######################*/
@media only screen and (max-height : 1050px){
    
}

@media only screen and (max-height : 810px){
    
}

@media only screen and (max-height : 780px){
    
}


/*######################   RANGO ANCHO [1600 � 1200[ ######################*/
@media only screen and (max-width : 1600px) {
    
    
    @media only screen and (max-height : 1024px){
        
    }
    
    @media only screen and (max-height : 960px){
        
    }
    
    @media only screen and (max-height : 900px){
        
    }
    
    @media only screen and (max-height : 800px){
        
    }
    
    @media only screen and (max-height : 720px){
        
    }
}

/*######################   RANGO ANCHO [1200 �  992[  ######################*/
@media only screen and (max-width : 1200px) {
    
    
    @media only screen and (max-height : 768px){
        
    }
    
    @media only screen and (max-height : 600px){
        
    }
}

/*######################   RANGO ANCHO [992�  768[  ######################*/
@media only screen and (max-width : 992px) {
        
    @media only screen and (max-height : 500px){
        
    }
}

/*######################   RANGO ANCHO [768 � 480[  ######################*/
@media only screen and (max-width : 768px) {
    .aus-cab{
        margin-top: 0px;
    }
    
    .aus-cab h1 {
        font-size: 55px;
    }
    
    .aus-text-ob {
        height: inherit;
        padding: 2% 5%;
    }
    
    .aus-img1{
        height: 300px;
    }

    .aus-img2{
        height: 300px;
    }
    
    .aus-bg {
        padding: 0 4%;
    }
       
    @media only screen and (max-height : 1024px){
        
    }
    
    @media only screen and (max-height : 850px){
        
    }
    
    @media only screen and (max-height : 740px){
        
    }
    
    @media only screen and (max-height : 360px){
        
    }
}

/*######################   RANGO ANCHO [480 � 320[  ######################*/
@media only screen and (max-width : 480px) {
    .aus-cab h1{
        padding-top: 10px;
        font-size: 50px;
    }
        
    @media only screen and (max-height : 667px){
        
    }
    
    @media only screen and (max-height : 640px){
        
    }
}

/*######################   RANGO ANCHO [320 � 1]  ######################*/
@media only screen and (max-width : 320px) {
    .aus-cab h1{
        font-size: 45px;
    }
    
    .aus-cont > h2{
        font-size: 35px;
    }
    
    @media only screen and (max-height : 534px){
        
    }
    
    @media only screen and (max-height : 480px){
        
    }
}
