/* ------------------ CONTACTO  ------------------
******************************************************************/

/* *****  ***** */

/* ##### FIN  ##### */

/* ***** CONTACTO ***** */
.cnt-title3{
    text-transform: uppercase;
    margin-bottom: 20px;
}

.control-label {
    font-size: 18px;
}

textarea#message {
    height: 150px;
}

button#send {
    float: right;
    margin-bottom: 25px;
    margin-right: 15px;
}

.formulario{
    padding: 20px 15px;
}

.rrss{
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 45px;
    padding: 0px 10px;
}

.rrss a{
    color: @brand-primary;
    font-size: 25px;
    padding: 14px 14px;
    text-decoration: none;
    border: 2px solid @brand-primary;
    border-radius: 50%;
}

.rrss a:hover, .rrss a:focus{
    color: @gray-base;
    text-decoration: none;
    border: 2px solid @gray-base;
}

i.fa {
    width: 32px;
}

.redes {
    padding: 15px 0px 0px;
    text-align: center;
}
/* ##### FIN CONTACTO ##### */

/*######################   >1600PX DE ANCHO - ALTURAS  ######################*/
@media only screen and (max-height : 1050px){
    
}

@media only screen and (max-height : 810px){
    
}

@media only screen and (max-height : 780px){
    
}


/*######################   RANGO ANCHO [1600 � 1200[ ######################*/
@media only screen and (max-width : 1600px) {
    
    
    @media only screen and (max-height : 1024px){
        
    }
    
    @media only screen and (max-height : 960px){
        
    }
    
    @media only screen and (max-height : 900px){
        
    }
    
    @media only screen and (max-height : 800px){
        
    }
    
    @media only screen and (max-height : 720px){
        
    }
}

/*######################   RANGO ANCHO [1200 �  992[  ######################*/
@media only screen and (max-width : 1200px) {
    
    
    @media only screen and (max-height : 768px){
        
    }
    
    @media only screen and (max-height : 600px){
        
    }
}

/*######################   RANGO ANCHO [992�  768[  ######################*/
@media only screen and (max-width : 992px) {
        
    @media only screen and (max-height : 500px){
        
    }
}

/*######################   RANGO ANCHO [768 � 480[  ######################*/
@media only screen and (max-width : 768px) {
       
    @media only screen and (max-height : 1024px){
        
    }
    
    @media only screen and (max-height : 850px){
        
    }
    
    @media only screen and (max-height : 740px){
        
    }
    
    @media only screen and (max-height : 360px){
        
    }
}

/*######################   RANGO ANCHO [480 � 320[  ######################*/
@media only screen and (max-width : 480px) {
    
        
    @media only screen and (max-height : 667px){
        
    }
    
    @media only screen and (max-height : 640px){
        
    }
}

/*######################   RANGO ANCHO [320 � 1]  ######################*/
@media only screen and (max-width : 320px) {
    
    
    @media only screen and (max-height : 534px){
        
    }
    
    @media only screen and (max-height : 480px){
        
    }
}

