{% extends '::services/layoutService.html.twig' %}

{% block title %}
    Trade
{% endblock %}

{% block cssParallax %}
tra-parallax
{% endblock %}

{% block cssTitleParallax %}
sha-header-title
{% endblock %}

{% block serviceTitle %} 
    Trade
{% endblock %}

{% block serviceSubTitle %}  
    {{ include('services/subTitles/shareCarSubTitle.html.twig') }}
{% endblock %}

{% block serviceFilters %} 
    {{ include('services/filters/shareCarFilter.html.twig') }}
{% endblock %}
            
{% block serviceList %}
    <div class="row row-tra-base">
    {% for i in 0..22 %}
        {{ include('services/lists/tradeList.html.twig') }}
    {% endfor %}
    </div>
{% endblock %}

{% block filtroMovilBody %}
    {{ include('services/filters/shareCarFilter.html.twig') }}
{% endblock %}