/* ------------------ BLOG ------------------
******************************************************************/

/* ***** HOMEPAGE BLOG ***** */
.fecha-posts{
    display: block;
    font-size: 18px;
    font-weight: 300;
    text-align: right;
}

.espaciado-post{
    padding: 10px 0px;
}

.fecha-pos{
    top: 15px;
}

.col-lg-5.fecha-pos{
    margin: 0px;
    padding: 0px;
}

.row-post-big{
    background-color: @gray-base;
    color: @brand-secondary;
}

.row-post{
    background-color: @gray-base;
    color: @brand-secondary;
}

.col-image-post{
    padding: 0px;
}

.row-col-image-post{
    padding-bottom: 25px;
    background-color: @gray-base;
}

.date-post{
    font-size: 18px;
    font-weight: 600;
}

.date-post-peque{
    font-size: 14px;
    font-weight: 600;
}

.voto-post{
    text-align: right;
    font-size: 16px;
    padding-left: 0;
}

.titulo-post{
    color: @brand-secondary;
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 1.4px;
    margin: 40px 0px;
}

a.titulo-post {
    color: @brand-secondary;
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 1.4px;
    margin: 40px 0px;
}

a.titulo-post:hover, a.titulo-post:focus {
    color: @brand-primary;
    text-decoration: none;
}

.titulo-post-peque{
    color: @brand-secondary;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1.4px;
    padding: 15px 0px 14px;
}

a.titulo-post-peque {
    color: @brand-secondary;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1.4px;
    
}

a.titulo-post-peque:hover, a.titulo-post-peque:focus {
    color: @brand-primary;
    text-decoration: none;
}

.voto-corazon{
    color: @brand-primary;
}

.voto-corazon:hover, .voto-corazon:focus{
    color: @brand-secondary;
    text-decoration: none;
}

.comentario-post{
    color: @brand-secondary;
}

.comentario-post:hover, .comentario-post:focus{
    text-decoration: none;
    color: @brand-primary;
}

.post-peque{
    padding: 0px 15px 15px;
}

.leer-post{
    text-align: center;
}

.leer-post-grande{
    text-align: center;
}

a.boton-leer-post {
    color: @brand-secondary;
    border: 2px solid @brand-secondary;
    padding: 6px 12px;
    font-size: 16px;
}

a.boton-leer-post:hover, a.boton-leer-post:focus {
    color: @brand-primary;
    border: 2px solid @brand-primary;
    padding: 6px 12px;
    font-size: 16px;
    text-decoration: none;
}

.row-date-big{
    height: 80px;
}

.row-title-big{
    height: 120px;
}

.row-body-big{
    height: 194px;
}

.row-boton-big{
    height: 85px;
}

.row-date-peque{
    height: 100px;
    margin: 0px;
}

.row-title-peque{
    height: 120px;
    margin: 0px;
}

.row-body-peque{
    height: 125px;
    margin: 0px;
}

.row-boton-peque{
    height: 85px;
    margin: 0px;
}

.col-blog-big{
    
    .row-col-image-post{
        margin: 0;
    }
    
    .row-post-big{
        margin: 0;
    }
}

/* ##### FIN HOMEPAGE BLOG ##### */


/* *****  ***** */

/* ##### FIN  ##### */

/*######################   >1600PX DE ANCHO - ALTURAS  ######################*/
@media only screen and (max-height : 1050px){
    
}

@media only screen and (max-height : 810px){
    
}

@media only screen and (max-height : 780px){
    
}


/*######################   RANGO ANCHO [1600 � 1200[ ######################*/
@media only screen and (max-width : 1600px) {
    
    
    @media only screen and (max-height : 1024px){
        
    }
    
    @media only screen and (max-height : 960px){
        
    }
    
    @media only screen and (max-height : 900px){
        
    }
    
    @media only screen and (max-height : 800px){
        
    }
    
    @media only screen and (max-height : 720px){
        
    }
}

/*######################   RANGO ANCHO [1200 �  992[  ######################*/
@media only screen and (max-width : 1200px) {
    .row-col-image-post {
        padding-bottom: 0px !important;
    }

    .row-date-big{
        height: 50px;
    }

    .row-title-big{
        height: 90px;
    }

    .row-body-big{
        height: 110px;
    }

    .row-boton-big{
        height: 70px;
    }
    
    .col-blog-big{
        padding: 0 0 15px;
    }
    
    .row-blog {
        margin: 0px -30px;
    }
    
    .row-date-peque{
        height: 45px;
    }

    .row-title-peque{
        height: 100px;
    }

    .row-body-peque{
        height: 105px;
    }

    .row-boton-peque{
        height: 65px;
    }
    
    .col-peque-i{
        padding-right: 30px;
    }
    
    .col-peque-d{
        padding-left: 30px;
    }
    
    @media only screen and (max-height : 768px){
        
    }
    
    @media only screen and (max-height : 600px){
        
    }
}

/*######################   RANGO ANCHO [992�  768[  ######################*/
@media only screen and (max-width : 992px) {
    .col-peque-i{
        padding-right: 15px;
    }
    
    .col-peque-d{
        padding-left: 15px;
    }
    
    .row-body-big {
        height: 145px;
    }
    
    .row-body-peque {
        height: 80px;
    }
    
    .row-title-peque {
        height: 85px;
    }
    
    .row-body-peque {
        height: 75px;
    }
    
    .date-post-peque {
        font-size: 18px;
    }
    
    a.titulo-post-peque {
        font-size: 28px;
    }

    
    @media only screen and (max-height : 500px){
        
    }
}

/*######################   RANGO ANCHO [768 � 480[  ######################*/
@media only screen and (max-width : 768px) {
    .titulo-post, a.titulo-post {
        margin: 20px 0 10px;
    }
    
    .row-blog {
        margin: 0 -15px;
    }
    
    .col-blog-big {
         padding: 0 15px 15px; 
    }
       
    @media only screen and (max-height : 1024px){
        
    }
    
    @media only screen and (max-height : 850px){
        
    }
    
    @media only screen and (max-height : 740px){
        
    }
    
    @media only screen and (max-height : 360px){
        
    }
}

/*######################   RANGO ANCHO [480 � 320[  ######################*/
@media only screen and (max-width : 480px) {
    .row-date-big {
        height: inherit;
    }
    
    .row-title-big {
        height: inherit;
    }
    
    .row-body-big {
        height: inherit;
    }
    
    .row-boton-big {
        height: inherit;
    }
    
    .row-date-peque{
        height: inherit;
    }

    .row-title-peque{
        height: inherit;
    }

    .row-body-peque{
        height: inherit;
    }

    .row-boton-peque{
        height: inherit;
    }
        
    @media only screen and (max-height : 667px){
        
    }
    
    @media only screen and (max-height : 640px){
        
    }
}

/*######################   RANGO ANCHO [320 � 1]  ######################*/
@media only screen and (max-width : 320px) {
    
    
    @media only screen and (max-height : 534px){
        
    }
    
    @media only screen and (max-height : 480px){
        
    }
}