<!-- SPONSORS -->
<div class="container-fluid cd-main-content">
    <div class="row">

        <!-- PRIMER SPONSOR -->
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 publi-spon1">

        </div>

        <!-- PRIMER SPONSOR -->
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 publi-spon2">

        </div>

        <!-- CUARTO SPONSOR -->
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 publi-spon3">

        </div>

        <!-- TERCER SPONSOR -->
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 publi-spon4">

        </div>

    </div>
     
</div>
<!-- FIN SPONSORS -->
