<!-- SPONSORS -->
<div class="container-fluid cd-main-content cont-foo">
    <div class="row">

        <!-- PRIMER SPONSOR -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 publi-spon1">
            <img src="{{ asset('img/wwb-500B.jpg') }}" class="img-responsive center-block"/>
        </div>

        <!-- PRIMER SPONSOR -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 publi-spon2">
            <img src="{{ asset('img/wwr-500B.jpg') }}" class="img-responsive center-block"/>
        </div>

        {#<!-- CUARTO SPONSOR -->#}
        {#<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 publi-spon3">#}

        {#</div>#}

        {#<!-- TERCER SPONSOR -->#}
        {#<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 publi-spon4">#}

        {#</div>#}

    </div>
     
</div>
<!-- FIN SPONSORS -->
