<h4>De</h4>
<select class="form-control">
    <option>Madrid</option>
    <option>Barcelona</option>
    <option>Granada</option>
    <option>Valencia</option>
    <option>Bilbao</option>
</select>
<br>
                    <h4>A</h4>
<select class="form-control">
    <option>Madrid</option>
    <option>Barcelona</option>
    <option>Granada</option>
    <option>Valencia</option>
    <option>Bilbao</option>
</select>
<br>
<h4>Fecha Destino</h4>
<br>
<p>Fecha:
    <input type="text" id="datepicker">
    <br>
    <br>

    </p><h4>Precio(€/plaza)</h4>
    <form name="registrationForm">
        <input type="range" name="ageInputName" 
               id="ageInputId" value="5" min="1" max="50" 
               oninput="ageOutputId.value = ageInputId.value">
        <output name="ageOutputName" id="ageOutputId">5</output>
    </form>
    <br>

    <h4>Foto</h4>
    <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" 
               id="inlineRadio1" value="option1">Si</label>
    <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" 
               id="inlineRadio2" value="option2">No</label>
    <br>

    <h4>Plazas</h4>
    <label class="radio-inline">
        <input type="radio" 
               name="inlineRadioOptions" 
               id="inlineRadio1" 
               value="option1">1</label>
    <label class="radio-inline">
        <input type="radio" 
               name="inlineRadioOptions2" 
               id="inlineRadio2" 
               value="option2">2</label>
    <label class="radio-inline">
        <input type="radio" 
               name="inlineRadioOptions3" 
               id="inlineRadio3" 
               value="option3">3</label>
    <label class="radio-inline">
        <input type="radio" 
               name="inlineRadioOptions4" 
               id="inlineRadio4" 
               value="option4">4</label>
    <label class="radio-inline">
        <input type="radio" 
               name="inlineRadioOptions5" 
               id="inlineRadio5" 
               value="option5">5</label>
    <br>
    <br>
    <button type="submit" class="btn btn-default">
        Buscar
    </button>
    <br>
    <br>
