/* ------------------ SIDEBAR ------------------
******************************************************************/

/* ***** SIDEBAR ***** */
.sid-body{
    position: absolute;
    margin: 76px 1% 0 0;
    top: 54.5%;
    width: 320px;
    overflow: hidden;
    right: 0;
    z-index: 15;
    background-color: @gray-base;
    padding: 30px;
    color: @brand-secondary;
    
    .affix-top{
        
    }
    
    hr{
        margin: 10px auto 15px 0;
    }
    
    a{
        color: @brand-secondary;
    }
    
    a:hover, a:focus{
        color: @brand-primary;
    }
}

.sid-body-cloth{
    display: block;
}

.sid-body2{
    top: 57%;
}

.sid-body.affix{
    position: fixed;
    top: 6% !important;
}

#offerRight {
    background-color: @gray-base;
    padding: 30px;
    color: @brand-secondary;
    border: 1px solid #D2D2D2;
    border-radius: 8px;
    float: right;
    right: 100px;
    //top: 80px;
    position: fixed;
    width: 320px;
}

.sid-letterSmallOffer {
    font-size: 12px;
}

/* ##### FIN SIDEBAR ##### */


/* ***** MOVIL ***** */
.sid-body-mov{
    display: none;
}

.sid-cont{
    padding-top: 0;
    -webkit-transform: inherit;
}

.sid-button{
    i.fa{
        font-size: 16px;
    }
}

.sid-button1{
    .sid-button;
}

.sid-button2{
    .sid-button;
}

.sid-button3{
    .sid-button;
}

.btn-sid-pulse{
    color: @brand-secondary;
    width: 50px;
    height: 50px;
    border: none;
    box-shadow: 0 0 0 0 rgba(255, 102, 51, 0.7);
    border-radius: 50%;
    background-color: @brand-primary;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    z-index: 15;
    position: fixed;
    bottom: 15px;
}

.btn-sid-pulse:hover {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
}

.btn-sid-pulse1{
    right: 60%;
}

.btn-sid-pulse2{
    right: 50%;
}

.btn-sid-pulse3{
    right: 40%;
}

@-webkit-keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(255, 102, 51, 0);
    }
}

@-moz-keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(255, 102, 51, 0);
    }
}

@-ms-keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(255, 102, 51, 0);
    }
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(255, 102, 51, 0);
    }
}

.ofertaRopa{
    display: none!important;
}
/* ##### FIN MOVIL ##### */


/* *****  ***** */

/* ##### FIN  ##### */

/*######################   >1800PX DE ANCHO - ALTURAS  ######################*/

@media only screen and (max-height : 1050px){
    
}

@media only screen and (max-height : 900px){
    .sid-body{
        display: none;
    }
    
    /* ***** MOVIL ***** */
    .sid-body-mov{
        display: inherit;
    }

    .sid-body-cloth{
        display: block;
    }
}

@media only screen and (max-height : 780px){
    
}

/*######################   RANGO ANCHO [1800 � 1600[ ######################*/
@media only screen and (max-width : 1800px) {
    .sid-body{
        display: none;
    }
    
    /* ***** MOVIL ***** */
    .sid-body-mov{
        display: inherit;
    }
    
}


/*######################   RANGO ANCHO [1600 � 1200[ ######################*/
@media only screen and (max-width : 1600px) {
    
    
    @media only screen and (max-height : 1024px){
        
    }
    
    @media only screen and (max-height : 960px){
        
    }
    
    @media only screen and (max-height : 900px){
        
    }
    
    @media only screen and (max-height : 800px){
        
    }
    
    @media only screen and (max-height : 720px){
        
    }
}

/*######################   RANGO ANCHO [1200 �  992[  ######################*/
@media only screen and (max-width : 1200px) {
    
    
    @media only screen and (max-height : 768px){
        
    }
    
    @media only screen and (max-height : 600px){
        
    }
}

/*######################   RANGO ANCHO [992�  768[  ######################*/
@media only screen and (max-width : 992px) {
        
    @media only screen and (max-height : 500px){
        
    }
}

/*######################   RANGO ANCHO [768 � 480[  ######################*/
@media only screen and (max-width : 768px) {
    .btn-sid-pulse1{
        right: 70%;
    }

    .btn-sid-pulse2{
        right: 50%;
    }

    .btn-sid-pulse3{
        right: 30%;
    }
       
    @media only screen and (max-height : 1024px){
        
    }
    
    @media only screen and (max-height : 850px){
        
    }
    
    @media only screen and (max-height : 740px){
        
    }
    
    @media only screen and (max-height : 360px){
        
    }
}

/*######################   RANGO ANCHO [480 � 320[  ######################*/
@media only screen and (max-width : 480px) {
    .btn-sid-pulse1{
        right: 75%;
    }

    .btn-sid-pulse2{
        right: 45%;
    }

    .btn-sid-pulse3{
        right: 15%;
    }
        
    @media only screen and (max-height : 667px){
        
    }
    
    @media only screen and (max-height : 640px){
        
    }
}

/*######################   RANGO ANCHO [320 � 1]  ######################*/
@media only screen and (max-width : 320px) {
    .btn-sid-pulse1{
        right: 73%;
    }

    .btn-sid-pulse2{
        right: 45%;
    }

    .btn-sid-pulse3{
        right: 13%;
    }
    
    @media only screen and (max-height : 534px){
        
    }
    
    @media only screen and (max-height : 480px){
        
    }
}

@media only screen and (max-width: 1900px){

    #offerRight{
        display: none;
    }

    .ofertaRopa{
        display: block!important;
    }
}


