/* ------------------ SERVICES  ------------------
******************************************************************/

/* ***** HEADER SERVICE ***** */
.service-header{
   padding-top: 50px;
   
    h1{
        color: #fff;
        text-align: center;
        padding-top: 35px;
        font-size: 70px; 
    }
}

.service-parallax{
    height: 300px;
    .parallax;
}
/* ##### FIN HEADER SERVICE ##### */

/* ***** SUBTITLE ***** */
.row-service-title {
    padding-bottom: 40px;
    text-align: center;
}
/* ##### FIN SUBTITLE ##### */

/* ***** FILTER ***** */
#filtro {
    border-right-style: solid;
    background-color: inherit;
    background-color: @gray-base;
    color: @brand-secondary;
}
/* ##### FIN FILTER ##### */

/* *****  ***** */

/* ##### FIN  ##### */

/*######################   >1600PX DE ANCHO - ALTURAS  ######################*/
@media only screen and (max-height : 1050px){
    
}

@media only screen and (max-height : 810px){
    
}

@media only screen and (max-height : 780px){
    
}


/*######################   RANGO ANCHO [1600 � 1200[ ######################*/
@media only screen and (max-width : 1600px) {
    
    
    @media only screen and (max-height : 1024px){
        
    }
    
    @media only screen and (max-height : 960px){
        
    }
    
    @media only screen and (max-height : 900px){
        
    }
    
    @media only screen and (max-height : 800px){
        
    }
    
    @media only screen and (max-height : 720px){
        
    }
}

/*######################   RANGO ANCHO [1200 �  992[  ######################*/
@media only screen and (max-width : 1200px) {
    
    
    @media only screen and (max-height : 768px){
        
    }
    
    @media only screen and (max-height : 600px){
        
    }
}

/*######################   RANGO ANCHO [992�  768[  ######################*/
@media only screen and (max-width : 992px) {
    #filtro {
        border-right-style: inherit;
        margin-bottom: 30px;
    }
    
    @media only screen and (max-height : 500px){
        
    }
}

/*######################   RANGO ANCHO [768 � 480[  ######################*/
@media only screen and (max-width : 768px) {
    #filtro{
        display: none;
    }
    
    @media only screen and (max-height : 1024px){
        
    }
    
    @media only screen and (max-height : 850px){
        
    }
    
    @media only screen and (max-height : 740px){
        
    }
    
    @media only screen and (max-height : 360px){
        
    }
}

/*######################   RANGO ANCHO [480 � 320[  ######################*/
@media only screen and (max-width : 480px) {
    
        
    @media only screen and (max-height : 667px){
        
    }
    
    @media only screen and (max-height : 640px){
        
    }
}

/*######################   RANGO ANCHO [320 � 1]  ######################*/
@media only screen and (max-width : 320px) {
    
    
    @media only screen and (max-height : 534px){
        
    }
    
    @media only screen and (max-height : 480px){
        
    }
}