/* ------------------ SHARE CAR  ------------------
******************************************************************/

.sha-car-marco{
    height: 200px;
    overflow: hidden;
    position: relative;

    img{
        min-width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
}

.row-sha-price{
    .rating-md {
        font-size: 1.13em;
    }
}


/* ***** TITLE VIEW LIST ***** */
.sha-or-dest {
    font-size: 22px;
    font-weight: 600;
}

.sha-or-dest-price {
    .sha-or-dest;
    color: @brand-primary;
}

.sha-header-title{
   
}

.sha-parallax{
    background: url(../img/shareCar.jpg);
    background-position: center bottom !important;
}

.men-parallax{
    background: url(../img/mensajeria.jpg);
    background-position: center bottom !important;
}

.col-sha-user{
    
}
/* ##### FIN TITLE VIEW LIST ##### */

/* ***** VIEW LIST ***** */
.sha-offer-list {
    margin: 0px 1% 2% 0px;
    .aEnlaces;
    font-weight: 600;
    .sombra-general2;
    padding: 2%;
    border: 1px solid @gray-base;
}

.sha-offer-list:hover {
    background-color: @gray-base;
    color: @brand-secondary;
    
    a:hover{
        color: @brand-secondary;
    }
    
    .sha-price{
        color: @brand-secondary;
    }
}

.row-sha-name {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding-top: 10px;
}

.col-sha-price {
    text-align: right;
}

.sha-price {
    font-size: 30px;
    color: @brand-primary;
    font-weight: 700;
    letter-spacing: 1px;
}

.row-sha-info-list {
    font-size: 16px;
    padding: 5px 0 0 3%;
}

.rating {
    font-size: 22px;
    margin: -10px 0px;
}

.row-sha-mobil{
    display: none;
}

.sha-img{
    min-width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.col-sha-car{
    position: relative;
    overflow: hidden;
    height: 150px;
    padding: 0;
    margin-top: 0.5%;
}
/* ##### FIN VIEW LIST ##### */


/* ***** DATE ***** */
.row-sha-gen-date {
    border-bottom: solid 1px @brand-primary;
    margin: 0px 0 10px;
    padding: 5px 2%;
}

.sha-date-mobile {
    display: none;
}
/* ##### FIN DATE ##### */

/* *****  ***** */

/* ##### FIN  ##### */

/*######################   >1600PX DE ANCHO - ALTURAS  ######################*/
@media only screen and (max-height : 1050px){
    
}

@media only screen and (max-height : 810px){
    
}

@media only screen and (max-height : 780px){
    
}


/*######################   RANGO ANCHO [1600 � 1200[ ######################*/
@media only screen and (max-width : 1600px) {
    .sha-parallax {
        background-position: center -180px !important;
    }
    
    @media only screen and (max-height : 1024px){
        
    }
    
    @media only screen and (max-height : 960px){
        
    }
    
    @media only screen and (max-height : 900px){
        
    }
    
    @media only screen and (max-height : 800px){
        
    }
    
    @media only screen and (max-height : 720px){
        
    }
}

/*######################   RANGO ANCHO [1200 �  992[  ######################*/
@media only screen and (max-width : 1200px) {
    .sha-parallax {
        background-position: center -100px !important;
    }
    
    @media only screen and (max-height : 768px){
        
    }
    
    @media only screen and (max-height : 600px){
        
    }
}

/*######################   RANGO ANCHO [992�  768[  ######################*/
@media only screen and (max-width : 992px) {
    .sha-parallax {
        background-position: center -50px !important;
    }
    
    @media only screen and (max-height : 500px){
        
    }
}

/*######################   RANGO ANCHO [768 � 480[  ######################*/
@media only screen and (max-width : 768px) {
    .row-sha-gen-date {
        border-bottom: none;
        display: inline-block;
        width: 50%;
    }
    
    .col-sha-generico{
    }
    
    .row-sha-mobil{
        display: inline-block;
        width: 50%;
        margin-top: 15px;
    }
    
    .sha-parallax{
        margin-bottom: 0px;
        background-position: right bottom !important;
    }
    
    .sha-header-title {
        padding-top: 0px;
    }

    .men-header-title{
        padding-top: 50px;
    }
    
    .sha-date {
        display: none;
    }

    .sha-date-mobile {
        display: inherit;
    }
    
    .sha-valoracion {
        
    }
    
    .col-sha-user{
        display: none;
    }
    
    .row-sha-price{
        display: none;
    }
    
    .col-sha-car{
        display: none;
    }
    
    .row-sha-price-mob{
        margin-top: 15px;
    }
    
    .sha-price {
        font-size: 25px;
    }
    
    .sha-offer-list:hover {
        .sha-price{
            color: @brand-primary;
        }
    }

    
/*    .rating > span {
        width: inherit;
    }*/
    
    .col-sha-vot-mob{
        text-align: center;
    }
    
/*    .rating{
        text-align: center;
    }*/
    
    .sha-offer-list {
        width: 80%;
        margin: 0 auto 5%;
        background-color: @gray-base;
        color: @brand-secondary;
    }
    
    .sha-offer-list:hover {
        border: 1px solid @gray-base;
        background-color: @brand-secondary;
        color: inherit;
        
        .sha-date-mobile:hover{
            color: @gray-base;
        }
        
        .row-sha-name{
            a:hover{
                color: @gray-base;
            }
        }
    }
    
    .sha-date-sep-mob{
        display: none;
    }
    
    @media only screen and (max-height : 1024px){
        
    }
    
    @media only screen and (max-height : 850px){
        
    }
    
    @media only screen and (max-height : 740px){
        
    }
    
    @media only screen and (max-height : 360px){
        
    }
}

@media only screen and (max-width : 600px) {
    .sha-offer-list {
        width: 90%;
    }
}

@media only screen and (max-width : 540px) {
    .sha-offer-list {
        width: 95%;
    }
}

/*######################   RANGO ANCHO [490 � 320[  ######################*/
@media only screen and (max-width : 490px) {
    .sha-offer-list{
	    width: inherit;
        margin: 0 1% 5% 0;
        
    }
    
    .row-sha-gen-date{
	    display: inherit;
        width: inherit;
        text-align: center;
    }

    .row-sha-mobil{
        display: inherit;
        width: inherit;
    }
    
    .sha-header-title {
        padding-top: 25px;

        h1{
            font-size: 44px;
        }
    }

    .men-header-title {
        h1{
            font-size: 44px;
        }
    }
        
    @media only screen and (max-height : 667px){
        
    }
    
    @media only screen and (max-height : 640px){
        
    }
}

/*######################   RANGO ANCHO [320 � 1]  ######################*/
@media only screen and (max-width : 320px) {
    .sha-header-title {
        h1{
            font-size: 40px;
        }
    }

    .men-header-title {
        h1{
            font-size: 40px;
        }
    }
    
    @media only screen and (max-height : 534px){
        
    }
    
    @media only screen and (max-height : 480px){
        
    }
}