/* ------------------ TRADE ------------------
******************************************************************/

/* ***** TITLE VIEW LIST ***** */
.tra-parallax{
    background: url(../img/trade.jpeg);
}
/* ##### FIN TITLE VIEW LIST ##### */


/* ***** GRID ***** */
.row-trad-gene{
    
}

/*.row-tra-base{
    margin: -25px 0 0;
    
    -moz-column-width: 19em;
    -webkit-column-width: 19em;
    column-width: 19em;
    
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
}*/

.row-tra-mar{
    margin: 0px 0 0;
    
    /*-moz-column-width: 19em;
    -webkit-column-width: 19em;
    column-width: 19em;
    
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;*/
    
}

.row-tra-mar-reset{
    margin-left: 0px;
    margin-right: 0px;
}

.row-tra-padd-grid-elem{
    padding: 0 5%;
}

.row-tra-title-grid{
    .row-tra-mar-reset;
    .row-tra-padd-grid-elem;
    
    a:hover, a:focus{
        color: @brand-secondary;
    }
}

.row-tra-cat-grid{
    .row-tra-mar-reset;
    .row-tra-padd-grid-elem;
    padding-bottom: 20px;
    text-align: right;
}

.row-tra-upr-grid{
    .row-tra-mar-reset;
    .row-tra-padd-grid-elem;
    padding-bottom: 20px;
}

.row-tra-grid-user-img{
    
}

.row-tra-grid-name{
    font-size: 16px;
    font-weight: 600;
}

.col-tra-elem {
    //padding: 10% 2% 0%;
    //display: inline-block;
    //width: 100%;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    margin-bottom: 2rem;
    float: left;
    overflow: hidden;
    background-color: #fff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    width: 220px !important;
/*    padding-left: 15px;
    padding-right: 15px;*/
}

.col-tra-user{
    text-align: center;
}

.col-tra-grid-price{
    text-align: left;
}

.tra-cont-elem{
    background-color: @gray-base;
    display: inline-block;
    color: @brand-secondary;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid @gray-base;
    width: 100%;
    .aEnlaces;
}

.tra-cont-elem:hover, .tra-cont-elem:focus{
    background-color: @brand-secondary;
    color: @gray-base;
    
    .tra-title-elem{
        color: @gray-base;
    }
    
    .tra-title-elem:hover{
        color: @brand-primary;
    }
    
    .tra-cat-grid{
        color: @gray-base;
    }
    
    .tra-cat-grid:hover, .tra-cat-grid:focus{
        color: @brand-primary;
    }
    
    .row-tra-grid-name{
        
    }
    
    .row-tra-base{
        margin: 0 auto !important;
    }
}

.tra-grid-img{
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border: 0px solid @gray-base;
    width: 100%;
}

.tra-cat-grid{
    color: @brand-secondary; 
    font-weight: 600;
}

.tra-price{
    font-size: 18px;
    color: @brand-primary;
    font-weight: 700;
    letter-spacing: 1px;
}

#tra-cont-base{
    margin: 0 auto;
}
/* ##### FIN GRID ##### */


/* *****  ***** */

/* ##### FIN  ##### */

/*######################   >1600PX DE ANCHO - ALTURAS  ######################*/
@media only screen and (max-height : 1050px){
    
}

@media only screen and (max-height : 810px){
    
}

@media only screen and (max-height : 780px){
    
}


/*######################   RANGO ANCHO [1600 � 1200[ ######################*/
@media only screen and (max-width : 1600px) {
    
    
    @media only screen and (max-height : 1024px){
        
    }
    
    @media only screen and (max-height : 960px){
        
    }
    
    @media only screen and (max-height : 900px){
        
    }
    
    @media only screen and (max-height : 800px){
        
    }
    
    @media only screen and (max-height : 720px){
        
    }
}

/*######################   RANGO ANCHO [1200 �  992[  ######################*/
@media only screen and (max-width : 1200px) {
    .col-tra-elem {
        /*width: 350px !important;*/
    }
    
    @media only screen and (max-height : 768px){
        
    }
    
    @media only screen and (max-height : 600px){
        
    }
}

/*######################   RANGO ANCHO [992�  768[  ######################*/
@media only screen and (max-width : 992px) {
    .col-tra-elem {
        /*width: 345px !important;*/
    }
    
    @media only screen and (max-height : 500px){
        
    }
}



/*######################   RANGO ANCHO [768 � 480[  ######################*/
@media only screen and (max-width : 768px) {
    .tra-parallax{
        margin-bottom: 0px;
    }
       
    @media only screen and (max-height : 1024px){
        
    }
    
    @media only screen and (max-height : 850px){
        
    }
    
    @media only screen and (max-height : 740px){
        
    }
    
    @media only screen and (max-height : 360px){
        
    }
}

@media only screen and (max-width : 740px) {
    .col-tra-elem {
        /*width: 330px !important;*/
    }
}

@media only screen and (max-width : 700px) {
    .col-tra-elem {
        /*width: 300px !important;*/
    }
}

@media only screen and (max-width : 660px) {
    .col-tra-elem {
        /*width: 280px !important;*/
    }
}

@media only screen and (max-width : 620px) {
    .col-tra-elem {
        /*width: 270px !important;*/
    }
}

@media only screen and (max-width : 590px) {
    .col-tra-elem {
        /*width: 250px !important;*/
    }
}

/*######################   RANGO ANCHO [480 � 320[  ######################*/
@media only screen and (max-width : 480px) {
    .col-tra-elem {
        /*width: 300px !important;*/
    }
        
    @media only screen and (max-height : 667px){
        
    }
    
    @media only screen and (max-height : 640px){
        
    }
}

/*######################   RANGO ANCHO [320 � 1]  ######################*/
@media only screen and (max-width : 320px) {
    .col-tra-elem {
        /*width: 250px !important;*/
    }
    
    @media only screen and (max-height : 534px){
        
    }
    
    @media only screen and (max-height : 480px){
        
    }
}