{#<!-- MENU NAVEGACION MEGA MENU -->#}
<nav id="cbp-hrmenu" class="cbp-hrmenu menu-normal">
    <ul>
        {#<!-- CATEGORIA 1 -->#}
        <li>
            <a class="title-megamenu" href="#">
                Vehículos
            </a>
            <div class="cbp-hrsub">
                <div class="cbp-hrsub-inner">
                    {{ include('nav/subMenu/mgCatVeh.html.twig') }}
                </div>
            </div>
        </li>
        {#<!-- FIN CATEGORIA 1 -->#}
        
        {#<!-- CATEGORIA 2 -->#}
        <li>
            <a class="title-megamenu" href="#">
                Inmuebles
            </a>
            <div class="cbp-hrsub">
                <div class="cbp-hrsub-inner">
                    {{ include('nav/subMenu/mgCatInm.html.twig') }}
                </div>
            </div>
        </li>
        {#<!-- FIN CATEGORIA 2 -->#}
        
        {#<!-- CATEGORIA 3 -->#}
        <li>
            <a class="title-megamenu" href="#">
                ¿Qué necesitas?
            </a>
            <div class="cbp-hrsub">
                <div class="cbp-hrsub-inner">
                    {{ include('nav/subMenu/mgCatQue.html.twig') }}
                </div>
            </div>
        </li>
        {#<!-- FIN CATEGORIA 3 -->#}
        
        {#<!-- PACKS -->#}
        {#<li>#}
            {#<a class="title-megamenu" href="#">Packs</a>#}
        {#</li>#}
        {#<!-- FIN PACKS -->#}
        
        {#<!-- BLOG -->#}
        {#<li>#}
            {#<a class="title-megamenu" href="#">Blog</a>#}
        {#</li>#}
        {#<!-- FIN BLOG -->#}
    </ul>
</nav>
{#<!-- FIN MENU NAVEGACION MEGA MENU -->#}