<!-- MENU MOVIL -->
<div class="menuMovilSpecial">
    <header>
        <a id="cd-logo" href="#0">
            <img src="{{ asset('img/footer.png') }}" alt="Homepage">
        </a>
        <a id="cd-menu-trigger" href="#0">
            <span class="cd-menu-text"></span>
            <span class="cd-menu-icon"></span>
        </a>
    </header>

    <nav id="cd-lateral-nav">
        <ul class="cd-navigation">
            <li class="item-has-children">
                <a href="#0">Vehículos</a>
                <ul class="sub-menu">
                    <li>
                        <a href="#0">
                            <i class="fa fa-car faMovil">
                                
                            </i>
                            Coche compartido
                        </a>
                    </li>
                    
                    <li>
                        <a href="#0">
                            <i class="fa fa-cab faMovil">
                                
                            </i>
                            Coche compartido trabajo
                        </a>
                    </li>
                    
                    <li>
                        <a href="#0">
                            <i class="fa fa-truck faMovil">
                                
                            </i>
                            Alquila tu coche
                        </a>
                    </li>
                    
                    <li>
                        <a href="#0">
                            <i class="fa fa-road faMovil">
                                
                            </i>
                            Plaza aparcamiento
                        </a>
                    </li>
                    
                    <li>
                        <a href="#0">
                            <i class="fa fa-envelope faMovil">
                                
                            </i>
                            Mensajeria
                        </a>
                    </li>
                    
                    <li>
                        <a href="#0">
                            <i class="fa fa-weixin faMovil">
                                
                            </i>
                            Renting
                        </a>
                    </li>
                    
                    <li>
                        <a href="#0">
                            <i class="fa fa-bicycle faMovil">
                                
                            </i>
                            Alquiler bicicletas
                        </a>
                    </li>
                </ul>
            </li> <!-- item-has-children -->

            <li class="item-has-children">
                <a href="#0">Inmuebles</a>
                <ul class="sub-menu">
                    <li>
                        <a href="#0">
                            <i class="fa fa-home faMovil">
                                
                            </i>
                            Alquiler turístico
                        </a>
                    </li>
                    
                    <li>
                        <a href="#0">
                            <i class="fa fa-exchange faMovil">
                                
                            </i>
                            Intercambio habitación entre estudiantes
                        </a>
                    </li>
                    
                    <li>
                        <a href="#0">
                            <i class="fa fa-home faMovil">
                                
                            </i>
                            Alquiler habitaciones
                        </a>
                    </li>
                    
                    <li>
                        <a href="#0">
                            <i class="fa fa-exchange faMovil">
                                
                            </i>
                            Intercambio de casa
                        </a>
                    </li>
                    
                    <li>
                        <a href="#0">
                            <i class="fa fa-envira faMovil">
                                
                            </i>
                            Camping
                        </a>
                    </li>
                    
                    <li>
                        <a href="#0">
                            <i class="fa fa-tree faMovil">
                                
                            </i>
                            Casas rurales, castillos y cuevas
                        </a>
                    </li>
                    
                    <li>
                        <a href="#0">
                            <i class="fa fa-search faMovil">
                                
                            </i>
                            Compra/Venta Casa
                        </a>
                    </li>
                    
                    <li>
                        <a href="#0">
                            <i class="fa fa-signing faMovil">
                                
                            </i>Casa compartida
                        </a>
                    </li>
                </ul>
            </li> <!-- item-has-children -->

            <li class="item-has-children">
                <a href="#0">¿Qué necesitas?</a>
                <ul class="sub-menu">
                    <li>
                        <a href="#0">
                            <i class="fa fa-child faMovil">
                                
                            </i>
                            Ropa
                        </a>
                    </li>
                    
                    <li>
                        <a href="#0">
                            <i class="fa fa-money faMovil">
                                
                            </i>
                            Compra-Venta general
                        </a>
                    </li>
                    
                    <li>
                        <a href="#0">
                            <i class="fa fa-building faMovil">
                                
                            </i>
                            Link empresa
                        </a>
                    </li>
                    
                    <li>
                        <a href="#0">
                            <i class="fa fa-refresh faMovil">
                                
                            </i>
                            Trueque
                        </a>
                    </li>
                    
                    <li>
                        <a href="#0">
                            <i class="fa fa-ship faMovil">
                                
                            </i>Alquiler barcos
                        </a>
                    </li>
                    
                    <li>
                        <a href="#0">
                            <i class="fa fa-ticket faMovil">
                                
                            </i>
                            Entradas ocio
                        </a>
                    </li>
                </ul>
            </li> <!-- item-has-children -->
        </ul> <!-- cd-navigation -->

        <ul class="cd-navigation cd-single-item-wrapper">
            <li>
                <a href="#0">
                    <span class="glyphicon glyphicon-user faMovil">
                        
                    </span>
                    Mi Cuenta
                </a>
            </li>
            
            <li>
                <a href="#0">
                    <span class="glyphicon glyphicon-shopping-cart faMovil">
                        
                    </span>
                    Carro
                </a>
            </li>
            
            <li>
                <a href="#0">
                    <span class="glyphicon glyphicon-heart-empty faMovil">
                        
                    </span>
                    Bolsa
                </a>
            </li>
            
            <li>
                <a href="#0">
                    <span class="glyphicon glyphicon-bullhorn faMovil">
                        
                    </span>
                    Radio
                </a>
            </li>
        </ul> <!-- cd-single-item-wrapper -->

        <div class="cd-navigation menu-mobile-bank">
            <img class="img-responsive logo2" 
                 src="{{ asset('img/Logo_wwb-3.png') }}" alt="Site Logo">
            <span class="text-bank">
                Próximamente también podrá usar nuestro servicio de banco
            </span>
        </div>
        
   