<div>
    <a href="{{ path('service_listClothes') }}">
        <h4>
            <i class="fa fa-child pull-left">

            </i>
            Ropa
        </h4>
    </a>
</div>

<div>
    <a href="{{ path('service_listTrade') }}">
         <h4>
             <i class="fa fa-money pull-left">

             </i>
             Compra/Venta
         </h4>
    </a>
</div>

<div>
    <a href="{{ path('service_listBarter') }}">
        <h4>
            <i class="fa fa-refresh pull-left">

            </i>
            Trueque
        </h4>
    </a>
</div>

<div>
    <a href="{{ path('service_listTrade') }}">
        <h4>
            <i class="fa fa-ticket pull-left">

            </i>
            Entradas
        </h4>
    </a>
</div>

<div>
    <a href="#Proximamente">
        <h4>
            <i class="fa {#fa-ship#} fa-question pull-left">

            </i>
            Libertad <span>(Próximamente)</span>
        </h4>
    </a>
</div>

<div>
    <a href="#Proximamente">
        <h4>
            <i class="fa {#fa-mobile#} fa-question pull-left">

            </i>
            Discípulo <span>(Próximamente)</span>
        </h4>
    </a>
</div>

<div>
    <a href="#Proximamente">
        <h4>
            <i class="fa {#fa-address-book-o#} fa-question pull-left">

            </i>
            ¿Qué deseas? <span>(Próximamente)</span>
        </h4>
    </a>
</div>

<div>
    <a href="#Proximamente">
        <h4>
            <i class="fa {#fa-address-book-o#} fa-question pull-left">

            </i>
            <span>(Próximamente)</span>
        </h4>
    </a>
</div>

<div>
    <a href="#Proximamente">
        <h4>
            <i class="fa {#fa-address-book-o#} fa-question pull-left">

            </i>
            <span>(Próximamente)</span>
        </h4>
    </a>
</div>
