<div>
    <a href="{{ path('serHouseRents') }}">
        <h4>
            <i class="fa fa-home pull-left">

            </i>
            Alquiler turistico
        </h4>
    </a>
</div>

<div>
    <a href="{{ path('house_listHouseSwap') }}">
        <h4>
            <i class="fa fa-refresh pull-left">

            </i>
            Intercambio casa
        </h4>
    </a>
</div>

<div>
    <a href="{{ path('house_listBedroomSwap') }}">
        <h4>
            <i class="fa fa-exchange pull-left ">

            </i>
            Intercambio habitaci贸n
        </h4>
    </a>
</div>

<div>
    <a href="{{ path('house_lisShareHouse') }}">
        <h4>
            <i class="fa fa-users pull-left">

            </i>
            Bed & Breakfast
        </h4>
    </a>
</div>

<div>
    <a href="#Proximamente">
        <h4>
            <i class="fa {#fa-home#} fa-question pull-left">

            </i>
            Haz lo tu <span>(Pr贸ximamente)</span>
        </h4>
    </a>
</div>

<div>
    <a href="#Proximamente">
        <h4>
            <i class="fa {#fa-envira#} fa-question pull-left">

            </i>
            Sorprendente <span>(Pr贸ximamente)</span>
        </h4>
    </a>
</div>

<div>
    <a href="#Proximamente">
        <h4>
            <i class="fa {#fa-tree#} fa-question pull-left">

            </i>
            Estabilidad <span>(Pr贸ximamente)</span>
        </h4>
    </a>
</div>