
<div>
    <a href="{{ path('serHouseRents') }}">
        <h4>
            <i class="fa fa-home pull-left">

            </i>
            Alquiler turistico
        </h4>
    </a>
</div>

<div>
    <a href="{{ path('house_listBedroomSwap') }}">
        <h4>
            <i class="fa fa-exchange pull-left ">

            </i>
            Intercambio habitación
        </h4>
    </a>
</div>

<div>
    <a href="{#{ path('house_listBedroomSwap') }#}#Proximamente">
        <h4>
            <i class="fa {#fa-home#} fa-question pull-left">

            </i>
            {#Alquiler habitaciones#}
            Próximamente
        </h4>
    </a>
</div>

<div>
    <a href="{{ path('house_listHouseSwap') }}">
        <h4>
            <i class="fa fa-refresh pull-left">

            </i>
            Intercambio de casa
        </h4>
    </a>
</div>

<div>
    <a href="{#{ path('serHouseRents') }#}#Proximamente">
        <h4>
            <i class="fa {#fa-envira#} fa-question pull-left">

            </i>
            {#Camping#}
            Próximamente
        </h4>
    </a>
</div>

<div>
    <a href="{#{ path('serHouseRents') }#}#Proximamente">
        <h4>
            <i class="fa {#fa-tree#} fa-question pull-left">

            </i>
            {#Casas rurales, castillos y cuevas#}
            Próximamente
        </h4>
    </a>
</div>

<div>
    <a href="{#{ path('serHouseRents') }#}#Proximamente">
        <h4>
            <i class="fa {#fa-search#} fa-question pull-left">

            </i>
            {#Compra/Venta Casa#}
            Próximamente
        </h4>
    </a>
</div>

<div>
    <a href="{{ path('house_lisShareHouse') }}">
        <h4>
            <i class="fa fa-users pull-left">

            </i>
            Casa compartida
        </h4>
    </a>
</div>
