{% extends '::base.html.twig' %}

{% block nav %}
    {{ parent() }}
    {{ include('nav/menu.html.twig') }}
{% endblock %}

{% block body %}
    <div class="">
        <div class="container-fluid aus-cab">
            <video class="aus-video" src="{{ asset('video/macbook.mp4') }}" 
                   autoplay loop mute poster="{{ asset('img/macbook.png') }}">
            </video>
            <h1>Sobre Nosotros</h1>

        </div>

        <div class="container-fluid aus-bg">
            <div class="container aus-cont">
                <h2>
                    Nuestros valores
                </h2>
                <hr>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean 
                    commodo ligula eget dolor. Aenean massa. Cum sociis natoque 
                    penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                    Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. 
                    Nulla consequat massa quis enim. Donec pede justo, fringilla vel, 
                    aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, 
                    imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede 
                    mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum 
                    semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, 
                    porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem 
                    ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra 
                    nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. 
                    Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies 
                    nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget 
                    condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem 
                    neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, 
                    hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. 
                    Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. 
                    Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. 
                    Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. 
                    Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
                </p>
            </div>

        </div>


        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 aus-img1">

                </div>


                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 aus-text-ob">
                    <h3>
                        ¿Qué es WhatWantWeb?
                    </h3>
                    <hr>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean 
                        commodo ligula eget dolor. Aenean massa. Cum sociis natoque 
                        penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                        Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. 
                        Nulla consequat massa quis enim. Donec pede justo, fringilla vel, 
                        aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, 
                        imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede 
                        mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum 
                        semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, 
                        porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem 
                        ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra 
                        nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. 
                        Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies 
                        nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget 
                        condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem 
                        neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, 
                        hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. 
                        Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. 
                        Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. 
                        Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. 
                        Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
                    </p>
                </div>

            </div>


            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 aus-text-ob">
                    <h3>
                        Nuestros objetivos
                    </h3>
                    <hr>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean 
                        commodo ligula eget dolor. Aenean massa. Cum sociis natoque 
                        penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                        Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. 
                        Nulla consequat massa quis enim. Donec pede justo, fringilla vel, 
                        aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, 
                        imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede 
                        mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum 
                        semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, 
                        porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem 
                        ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra 
                        nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. 
                        Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies 
                        nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget 
                        condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem 
                        neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, 
                        hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. 
                        Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. 
                        Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. 
                        Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. 
                        Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
                    </p>
                </div>


                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 aus-img2">

                </div>

            </div>

        </div>

        <div class="container-fluid aus-bg">
            <div class="container aus-cont">
                <h2>
                    Nuestro equipo
                </h2>
                <hr>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean 
                    commodo ligula eget dolor. Aenean massa. Cum sociis natoque 
                    penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                    Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. 
                    Nulla consequat massa quis enim. Donec pede justo, fringilla vel, 
                    aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, 
                    imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede 
                    mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum 
                    semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, 
                    porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem 
                    ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra 
                    nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. 
                    Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies 
                    nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget 
                    condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem 
                    neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, 
                    hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. 
                    Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. 
                    Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. 
                    Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. 
                    Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
                </p>
            </div>

        </div>

        <div class="container-fluid aus-bg">
            <div class="container aus-cont">
                <h2>
                    Nuestros patrocinadores
                </h2>
                <hr>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean 
                    commodo ligula eget dolor. Aenean massa. Cum sociis natoque 
                    penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                    Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. 
                    Nulla consequat massa quis enim. Donec pede justo, fringilla vel, 
                    aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, 
                    imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede 
                    mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum 
                    semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, 
                    porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem 
                    ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra 
                    nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. 
                    Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies 
                    nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget 
                    condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem 
                    neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, 
                    hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. 
                    Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. 
                    Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. 
                    Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. 
                    Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
                </p>
            </div>

        </div>
            
    </div>
    

{% endblock %}


