{% extends '::base.html.twig' %}

{% block nav %}
    {{ parent() }}
    {{ include('menu.html.twig') }}
{% endblock %}

{% block body %}
    <div class="cd-main-content">
	<h1>Contactos</h1>
    </div>

{% endblock %}