{% extends '::base.html.twig' %}

{% block title %}
    Política de privacidad
{% endblock %}

{% block header %}
    {{ parent() }}
    {{ include('nav/menu.html.twig') }}
{% endblock %}

{% block body %}
    <div class="container cd-main-content">
        <h1>Política de privacidad.</h1>
        <hr>

        <h2>Datos de carácter personal del usuario de la Página Web.</h2>

        <ol type="1">
            <li>
                <p>
                    En cumplimiento de lo establecido en la normativa de protección de datos española y, en particular,
                    en el artículo 5 de la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter
                    Personal (en adelante, “LOPD”), le informamos que los datos de carácter personal que nos proporcione
                    tanto en el momento de registrarse como “Usuario” en la presente Página Web, como los que nos
                    facilite a consecuencia de la utilización de la misma y los servicios ofrecidos por ésta, así como
                    los datos que a los que Whatwantweb acceda como consecuencia de su navegación, solicitudes,
                    publicaciones, conversaciones, búsquedas, compras o valoraciones de otros usuarios, serán recogidos
                    en un fichero cuyo responsable es What Want Web S.L.
                </p>
            </li>

            <li>
                <p>
                    En este mismo sentido, le informamos que Whatwantweb obtendrá y utilizará los datos de la IP y
                    demás identificadores proporcionados por su dispositivo desde el que navegue por la presente Página
                    Web para el correcto funcionamiento de dicha herramienta, así como con fines estadísticos sobre el
                    uso de Whatwantweb, quedando dichos datos incorporados en el citado fichero titularidad de What Want
                    Web S.L. como datos de carácter personal.
                </p>
            </li>

            <li>
                <p>
                    Las finalidades de la recogida de sus Datos de Carácter Personal a través de la presente Página Web
                    son:
                </p>

                <ol type="1">
                    <li>
                        <p>
                            Darle de alta como usuario de Whatwantweb.
                        </p>
                    </li>

                    <li>
                        <p>
                            Gestionar su cuenta como usuario de Whatwantweb.
                        </p>
                    </li>

                    <li>
                        <p>
                            Prestarle los servicios que Usted haya solicitado.
                        </p>
                    </li>

                    <li>
                        <p>
                            Enviarle comunicaciones en relación con su cuenta, con temas relacionados con el servicio
                            de atención al cliente y con las utilidades y funcionalidades de Whatwantweb.
                        </p>
                    </li>

                    <li>
                        <p>
                            Remitirle, por cualquier medio, incluidos los medios electrónicos, comunicaciones
                            comerciales en relación a los productos y servicios ofrecidos por Whatwantweb,
                            comunicaciones que podrán dirigirse en atención a sus hábitos de consumo, navegación o
                            utilización de la presente Página Web.
                        </p>
                    </li>

                    <li>
                        <p>
                            Para remitirle, por los mismos medios antes indicados, comunicaciones comerciales sobre
                            productos y servicios de terceros que desarrollen su actividad en los sectores [indicar los
                            sectores en los que dichos terceros desarrollan su actividad], comunicaciones que podrán
                            dirigirse en atención a sus hábitos de consumo, navegación o utilización de la presente
                            Página Web.
                        </p>
                    </li>

                    <li>
                        <p>
                            Para personalizar y mejorar las herramientas y funcionalidades de esta Página Web.
                        </p>
                    </li>

                    <li>
                        <p>
                            Para garantizar el funcionamiento técnico de la presente Página Web.
                        </p>
                    </li>
                </ol>
            </li>

            <li>
                <p>
                    Igualmente, le informamos que determinadas funcionalidades de esta Página Web utilizan la
                    navegación considerando la ubicación para poder proporcionarle la información más relevante en cada
                    caso, así como para ofrecerle ciertos servicios. Aunque la navegación considerando la ubicación es
                    siempre una elección del usuario, en los casos en los que Usted la rechace la presenta Página Web
                    no podrá ofrecerle las funcionalidades o proporcionarle los contenidos basados en dicha ubicación.
                </p>
            </li>

            <li>
                <p>
                    Los citados datos de carácter personal serán cancelados una vez finalizada su relación con
                    Whatwantweb, es decir, se dé de baja como usuario de Whatwantweb.
                </p>
            </li>

            <li>
                <p>
                    Asimismo, le informamos que sus datos podrán ser cedidos a terceras empresas ajenas a Whatwantweb
                    que desarrollan su actividad en el sector de la publicidad, con la finalidad de que las mismas
                    puedan remitirle comunicaciones comerciales de los productos y/o servicios ofrecidos por aquéllas.
                </p>
            </li>

            <li>
                <p>
                    La utilización de la presente Página Web no está dirigida a menores de 18 años y, por consiguiente,
                    éstos deberán abstenerse de facilitar cualquier información de carácter personal. Para ello,
                    Whatwantweb se reserva el derecho a comprobar en cualquier momento la edad de los usuarios de la
                    presente Página Web.
                </p>
            </li>

            <li>
                <p>
                    Mediante, la aceptación de la presente política de privacidad, usted se compromete en relación con
                    los datos personales que facilite a:
                </p>

                <ul>
                    <li>
                        <p>
                            No proporcionar información personal falsa, ni de otras personas sin su autorización.
                        </p>
                    </li>

                    <li>
                        <p>
                            Mantener la información de contacto exacta y actualizada.
                        </p>
                    </li>

                    <li>
                        <p>
                            No compartir la contraseña para acceder a Whatwantweb, no dejar que otra persona acceda a
                            su cuenta, ni realizar acciones que puedan poner en peligro la seguridad de la cuenta.
                        </p>
                    </li>

                    <li>
                        <p>
                            No transferir la cuenta a nadie sin el consentimiento previo y por escrito de Whatwantweb.
                        </p>
                    </li>

                    <li>
                        <p>
                            No realizar comentarios ofensivos ni ilegales en ninguna red social a través de la opción
                            que ofrece esta Página Web.
                        </p>
                    </li>
                </ul>
            </li>

            <li>
                <p>
                    Usted podrá ejercer sus derechos de portabilidad, acceso, rectificación, cancelación, oposición al
                    tratamiento de dichos Datos de Carácter Personal ante What Want Web S.L., CIF nº B-19582881, en la
                    Avenida Fernando de los Ríos 11, portal 1, oficina 3, Armilla, Granada, (España), adjuntando
                    fotocopia de su DNI o documento identificativo válido equivalente, en los términos establecidos en
                    la LOPD y en el Real Decreto 1720/2007, de 21 de diciembre, por el que se aprueba el Reglamento de
                    desarrollo de la LOPD (en adelante, el “RDLOPD”). Para su mayor comodidad, y sin perjuicio de que
                    se deban cumplir con determinados requisitos formales establecidos por la LOPD, What Want Web S.L.
                    le ofrece la posibilidad de ejercer los derechos antes referidos a través del correo electrónico:
                </p>

                <p>
                    <a href="mailto:info@whatwantweb.com">info@whatwantweb.com</a>.  Igualmente, le recordamos la
                    posibilidad de dirigir una reclamación ante la Agencia Española de Protección de datos de carácter
                    personal por el tratamiento de sus datos personales realizado por parte de Whatwantweb.
                </p>
            </li>

            <li>
                <p>
                    15	Como hemos indicado anteriormente, una vez que el usuario se dé de baja como usuario registrado
                    de Whatwantweb, ésta eliminará toda la información de que dispusiera de aquél. Sin embargo, y sin
                    perjuicio de lo anterior, Whatwantweb conservará datos meramente estadísticos de utilización por
                    parte de los usuarios de sus recursos y herramientas.
                </p>
            </li>

            <li>
                <p>
                    Le informamos que cuando a través de la presente Página Web realice algún comentario en redes
                    sociales, el responsable de los datos que facilite a través de las mismas será la red social
                    correspondiente y no Whatwantweb, debiendo dirigirse a la misma para ejercer, en su caso, sus
                    derechos de acceso, rectificación, cancelación y oposición.
                </p>
            </li>
        </ol>

        <h2>Medidas de seguridad</h2>

        <p>
            Whatwantweb le informa que tiene implantadas las medidas de seguridad de índole técnica y organizativas
            necesarias para garantizar la seguridad de sus Datos de Carácter Personal y evitar su alteración, pérdida,
            tratamiento y/o acceso no autorizado, habida cuenta del estado de la tecnología, la naturaleza de los datos
            almacenados y los riesgos a que están expuestos, ya provengan de la acción humana o del medio físico o
            natural. Todo ello de conformidad con lo previsto en el artículo 9 LOPD, RLOPD y normativa de desarrollo.
        </p>

        <h2>Datos de carácter personal del usuario de la Aplicación</h2>

        <p>
            En cumplimiento de lo establecido en la normativa de protección de datos española y, en particular, en el
            artículo 5 de la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal (en
            adelante, “LOPD”), le informamos que los datos de carácter personal que nos proporcione tanto en el momento
            de descargarse, activar y registrarse la aplicación “whatwantweb”, como los que nos facilite a consecuencia
            de la utilización de la misma y los servicios ofrecidos por ésta, así como los datos que a los que la
            Aplicación acceda como consecuencia de su navegación, solicitudes, publicaciones, conversaciones, búsquedas,
            compras o valoraciones de otros usuarios, serán recogidos en un fichero cuyo responsable es What Want Web
            S.L.
        </p>

        <ol type="1">
            <li>
                <p>
                    En este mismo sentido, le informamos que la aplicación Whatwantweb obtendrá y utilizará los datos
                    de la IP y demás identificadores proporcionados por su dispositivo móvil para el correcto
                    funcionamiento de dicha herramienta, así como con fines estadísticos sobre el uso de la aplicación,
                    quedando dichos datos incorporados en el citado fichero titularidad de Whatwantweb como datos de
                    carácter personal.
                </p>
            </li>

            <li>
                <p>
                    Las finalidades de la recogida de sus Datos de Carácter Personal a través de la presente aplicación
                    son las siguientes:
                </p>

                <ol type="1">
                    <li>
                        <p>
                            Darle de alta como usuario de Whatwantweb.
                        </p>
                    </li>

                    <li>
                        <p>
                            Gestionar su cuenta como usuario de Whatwantweb.
                        </p>
                    </li>

                    <li>
                        <p>
                            Prestarle los servicios que Usted haya solicitado.
                        </p>
                    </li>

                    <li>
                        <p>
                            Enviarle comunicaciones en relación con su cuenta, con temas relacionados con el servicio
                            de atención al cliente y con las utilidades y funcionalidades de Whatwantweb.
                        </p>
                    </li>

                    <li>
                        <p>
                            Remitirle, por cualquier medio, incluidos los medios electrónicos, comunicaciones
                            comerciales en relación a los productos y servicios ofrecidos por Whatwantweb,
                            comunicaciones que podrán dirigirse en atención a sus hábitos de consumo, navegación o
                            utilización de la presente Aplicación.
                        </p>
                    </li>

                    <li>
                        <p>
                            Para remitirle, por los mismos medios antes indicados, comunicaciones comerciales sobre
                            productos y servicios de terceros que desarrollen su actividad en los sectores [indicar los
                            sectores en los que dichos terceros desarrollan su actividad], comunicaciones que podrán
                            dirigirse en atención a sus hábitos de consumo, navegación o utilización de la presente
                            Aplicación.
                        </p>
                    </li>

                    <li>
                        <p>
                            Para personalizar y mejorar las herramientas y funcionalidades de la Aplicación.
                        </p>
                    </li>

                    <li>
                        <p>
                            Para garantizar el funcionamiento técnico de la Aplicación.
                        </p>
                    </li>
                </ol>
            </li>

            <li>
                <p>
                    Igualmente, le informamos que determinadas funcionalidades de esta Aplicación utilizan la
                    navegación considerando la ubicación para poder proporcionarle la información más relevante en cada
                    caso, así como para ofrecerle ciertos servicios. Aunque la navegación considerando la ubicación es
                    siempre una elección del usuario, en los casos en los que Usted la rechace la presenta Aplicación
                    no podrá ofrecerle las funcionalidades o proporcionarle los contenidos basados en dicha ubicación.
                </p>
            </li>

            <li>
                <p>
                    Los citados datos de carácter personal serán cancelados una vez finalizada su relación con
                    Whatwantweb, es decir, se dé de baja como usuario de Whatwantweb o elimine la aplicación de sus
                    dispositivos móviles.
                </p>
            </li>

            <li>
                <p>
                    Asimismo, le informamos que sus datos podrán ser cedidos a terceras empresas ajenas a Whatwantweb
                    que desarrollan su actividad en la publicidad con la finalidad de que las mismas puedan remitirle
                    comunicaciones comerciales de los productos y/o servicios ofrecidos por aquéllas.
                </p>
            </li>

            <li>
                <p>
                    La utilización de la presente Aplicación no está dirigida a menores de 18 años y, por consiguiente,
                    éstos deberán abstenerse de facilitar cualquier información de carácter personal. Para ello,
                    Whatwantweb se reserva el derecho a comprobar en cualquier momento la edad de los usuarios de la
                    presente Aplicación.
                </p>
            </li>

            <li>
                <p>
                    Mediante, la aceptación de la presente política de privacidad, usted se compromete en relación con
                    los datos personales que facilite a:
                </p>

                <ul>
                    <li>
                        <p>
                            No proporcionar información personal falsa, ni de otras personas sin su autorización.
                        </p>
                    </li>

                    <li>
                        <p>
                            Mantener la información de contacto exacta y actualizada.
                        </p>
                    </li>

                    <li>
                        <p>
                            No compartir la contraseña para acceder a Whatwantweb, no dejar que otra persona acceda a
                            su cuenta, ni realizar acciones que puedan poner en peligro la seguridad de la cuenta.
                        </p>
                    </li>

                    <li>
                        <p>
                            No transferir la cuenta a nadie sin el consentimiento previo y por escrito de Whatwantweb.
                        </p>
                    </li>

                    <li>
                        <p>
                            No realizar comentarios ofensivos ni ilegales en ninguna red social a través de la opción
                            que ofrece esta Aplicación.
                        </p>
                    </li>
                </ul>
            </li>

            <li>
                <p>
                    Usted podrá ejercer sus derechos de portabilidad, acceso, rectificación, cancelación, oposición al
                    tratamiento de dichos Datos de Carácter Personal ante What Want Web S.L., CIF nº B-19582881, en la
                    Avenida Fernando de los Ríos nº 11, bloque 1, oficina 3, Armilla, Granada (España), adjuntando
                    fotocopia de su DNI o documento identificativo válido equivalente, en los términos establecidos en
                    la LOPD y en el Real Decreto 1720/2007, de 21 de diciembre, por el que se aprueba el Reglamento de
                    desarrollo de la LOPD (en adelante, el “RDLOPD”). Para su mayor comodidad, y sin perjuicio de que
                    se deban cumplir con determinados requisitos formales establecidos por la LOPD, What Want Web S.L.
                    le ofrece la posibilidad de ejercer los derechos antes referidos a través del correo electrónico:
                    info@whatwantweb.com. Igualmente, le recordamos la posibilidad de dirigir una reclamación ante la
                    Agencia Española de Protección de datos de carácter personal por el tratamiento de sus datos
                    personales realizado por parte de Whatwantweb.
                </p>
            </li>

            <li>
                <p>
                    Como hemos indicado anteriormente, una vez que el usuario se dé de baja como usuario registrado de
                    Whatwantweb, ésta eliminará toda la información de que dispusiera de aquél. Sin embargo, y sin
                    perjuicio de lo anterior, Whatwantweb conservará datos meramente estadísticos de utilización por
                    parte de los usuarios de sus recursos y herramientas.
                </p>
            </li>

            <li>
                <p>
                    Le informamos que cuando a través de la presente Aplicación realice algún comentario en redes
                    sociales, el responsable de los datos que facilite a través de las mismas será la red social
                    correspondiente y no Whatwantweb, debiendo dirigirse a la misma para ejercer, en su caso, sus
                    derechos de acceso, rectificación, cancelación y oposición.
                </p>
            </li>
        </ol>

        <h2>Medidas de seguridad</h2>

        <p>
            Whatwantweb le informa que tiene implantadas las medidas de seguridad de índole técnica y organizativas
            necesarias para garantizar la seguridad de sus Datos de Carácter Personal y evitar su alteración, pérdida,
            tratamiento y/o acceso no autorizado, habida cuenta del estado de la tecnología, la naturaleza de los datos
            almacenados y los riesgos a que están expuestos, ya provengan de la acción humana o del medio físico o
            natural. Todo ello de conformidad con lo previsto en el artículo 9 LOPD, RLOPD y normativa de desarrollo.
        </p>

    </div>
{% endblock %}

{% block javascriptsFooter %}
    {{ parent() }}
    {{ include('nav/menuScript.html.twig') }}
{% endblock %}