{% extends '::base.html.twig' %}

{% block title %}
    Servicios de What Want Web
{% endblock %}

{% block header %}
    {{ parent() }}
    {{ include('nav/menu.html.twig') }}
{% endblock %}

{% block body %}
    <div class="container cd-main-content">
        <h1>Servicios</h1>
        <hr>

        <h2>Coche compartido</h2>

        <p>
            Viaja en nuestros coches compartidos a unos precios increíbles y con buenas conversaciones, contando
            siempre con nuestro servicio de Whatsapp para ayudarte si tienes problemas en el viaje. Además si el
            conductor no aparece, te buscamos el primer coche que realice el mismo trayecto para que llegues a tu
            destino lo antes posible. Todo esto sin la necesidad de realizar otra compra , puesto que nosotros nos
            encargamos de todo. Por otro lado, contarás con una bolsa en la que se irá acumulando el 10% de lo que
            hayas pagado, con la que podrás disfrutar de viajes gratis.
        </p>

        <p>
            Si eres conductor, tienes la posibilidad de llevar las compras que realicen nuestros usuarios en nuestra
            plataforma para ayudarte un poco más en los gastos de gasolina y mantenimiento de tu coche. Las dudas que
            te surjan las puedes consultar al usuario interesado a través de nuestra mensajería interna.
        </p>

        <h2>Mensajería</h2>

        <p>
            Si eres conductor tienes la posibilidad de llevar todas las compras que realicen nuestros usuarios en
            nuestra plataforma para ayudarte un poco más en los gastos de gasolina y mantenimiento de tu coche, y si
            eres el consumidor tu compra la recibirás el mismo día, Por ejemplo, si compras a las 11h uno o varios
            productos que están en Madrid, a las 18h los recibirías en Barcelona. Las dudas que te surjan las puedes
            consultar al usuario interesado a través de nuestra mensajería interna.
        </p>

        <h2>Alquiler turístico</h2>

        <p>
            Alquila nuestros apartamentos turísticos a un precio increíble, sin letra pequeña u opciones que aumenten
            el precio, y con la garantía de que si la vivienda no corresponde con las fotografías, el estado de
            limpieza no es el idóneo o cualquier otro problema, puedes  comunicárnoslo a través de nuestro servicio de
            WhatsApp y en minutos te proporcionamos otra viviendas en perfecto estado y sin sobre coste de precio en la
            actuación. Por otro lado, contarás con una bolsa en la que se irá acumulando el 10% de lo que hayas pagado,
            con la que podrás disfrutar de viajes gratis.
        </p>

        <p>
            En nuestro calendario te facilitamos los precios de cada día para que te resulte más fácil, ya que podrás
            alojarte en las fechas que mejor se ajusten a tu presupuesto o ampliar tu estancia al conocer los precios
            por día. Las dudas que te surjan las puedes consultar al usuario interesado a través de nuestra mensajería
            interna.
        </p>

        <h2>Alquiler vivienda compartida</h2>

        <p>
            Alquila nuestros apartamentos turísticos a un precio increíble, sin letra pequeña u opciones que aumenten
            el precio, y con la garantía de que si la vivienda no corresponde con las fotografías, el estado de
            limpieza no es el idóneo o cualquier otro problema, puedes  comunicárnoslo a través de nuestro servicio de
            WhatsApp y en minutos te proporcionamos otra viviendas en perfecto estado y sin sobre coste de precio en la
            actuación. Por otro lado, contarás con una bolsa en la que se irá acumulando el 10% de lo que hayas pagado,
            con la que podrás disfrutar de viajes gratis.
        </p>

        <p>
            En nuestro calendario te facilitamos los precios de cada día para que te resulte más fácil, ya que podrás
            alojarte en las fechas que mejor se ajusten a tu presupuesto o ampliar tu estancia al conocer los precios
            por día. Las dudas que te surjan las puedes consultar al usuario interesado a través de nuestra mensajería
            interna.
        </p>

        <h2>Alquiler vivienda compartida para estudiantes</h2>

        <p>
            Alquila nuestros apartamentos turísticos a un precio increíble, sin letra pequeña u opciones que aumenten
            el precio, y con la garantía de que si la vivienda no corresponde con las fotografías, el estado de
            limpieza no es el idóneo o cualquier otro problema, puedes  comunicárnoslo a través de nuestro servicio de
            WhatsApp y en minutos te proporcionamos otra viviendas en perfecto estado y sin sobre coste de precio en la
            actuación. Por otro lado, contarás con una bolsa en la que se irá acumulando el 10% de lo que hayas pagado,
            con la que podrás disfrutar de viajes gratis.
        </p>

        <p>
            En nuestro calendario te facilitamos los precios de cada día para que te resulte más fácil, ya que podrás
            alojarte en las fechas que mejor se ajusten a tu presupuesto o ampliar tu estancia al conocer los precios
            por día. Las dudas que te surjan las puedes consultar al usuario interesado a través de nuestra mensajería
            interna.
        </p>

        <h2>Intercambio de casas</h2>

        <p>
            Intercambia tu casa por otra de similares características y recorre el mundo sin coste de vivienda. Si lo
            deseas, intercambia también tu coche y realiza el viaje en nuestros coches compartidos: tu viaje te saldrá
            prácticamente gratis. Las dudas que te surjan las puedes consultar al usuario interesado a través de
            nuestra mensajería interna.
        </p>

        <h2>Intercambio de habitaciones entre estudiantes</h2>

        <p>
            Intercambia tu habitación de estudiante por otra de similares características y recorre el mundo para
            visitar a tus amigos sin coste de vivienda, haz el viaje en nuestros coches compartidos y tu viaje te
            saldrá prácticamente gratis. Las dudas que te surjan las puedes consultar al usuario interesado a través de
            nuestra mensajería interna.
        </p>

        <h2>Mercadillo de ropa</h2>

        <p>
            Vende la ropa que te sobra de tu armario y sácate un dinero extra para otra nueva a la que le has echado el
            ojo, para hacerte ese viaje que tanto te apetece o invertirlo en un móvil u ordenador nuevos. Si no quieres
            venderla, cámbiala por otra.
        </p>

        <p>
            Compra la ropa que siempre has querido tener y las podrás recibir por Correos o a través de nuestros coches
            compartidos. En este caso, el conductor del coche que lo transporta será quien confirme el estado de la
            prenda para que tengas plena garantía y además tu compra la tendrás en el mismo día, Por ejemplo, si
            compras a las 11h uno o varios productos que están en Madrid, a las 18h los recibirías en Barcelona. Las
            dudas que te surjan las puedes consultar al usuario interesado a través de nuestra mensajería interna.
        </p>

        <p>
            Contando siempre con nuestro servicio de Whatsapp para ayudarte si tienes problemas o para cualquier
            incidencia.
        </p>

        <h2>Compra/venta en general</h2>

        <p>
            Vende los productos que te sobran y ya no necesites y sácate un dinero extra para hacerte ese viaje que
            tanto te apetece o invertirlo en un móvil u ordenador nuevos.
        </p>

        <p>
            Compra lo que siempre has querido tener y los podrás recibir por Correos o a través de nuestros coches
            compartidos, en este caso el conductor del coche que lo transporta será quien confirme el estado de la
            compra para que tengas plena garantía y además tu compra la tendrás en el mismo día, Por ejemplo, si
            compras a las 11h uno o varios productos que están en Madrid, a las 18h los recibirías en Barcelona. Las
            dudas que te surjan las puedes consultar al usuario interesado a través de nuestra mensajería interna.
            Tienes la posibilidad que los dispositivos tecnológicos pasen por nuestras instalaciones para corroborar
            que funcionen. Contando siempre con nuestro servicio de Whatsapp para ayudarte si tienes problemas o para
            cualquier incidencia.
        </p>

        <h2>Trueque</h2>

        <p>
            ¿Necesitas un fontanero? ¿Hacer una mudanza? ¿Aprender idiomas? Puedes solicitarlos a cambio de otro favor.
            Cambia ese ordenador que no te hace falta por la bicicleta que siempre has querido tener y las podrás
            recibir por Correos o a través nuestros coches compartidos, en este caso el conductor del coche que lo
            transporta será quien verifique el estado de los productos para que tengas plena garantía y además tu
            compra la tendrás en el mismo día, Por ejemplo, si compras a las 11h uno o varios productos que están en
            Madrid, a las 18h los recibirías en Barcelona. Pregúntale por nuestra mensajería interna todas las dudas
            que te surjan, además tienes la posibilidad que los aparatos de tecnología pasen por nuestras instalaciones
            para validar su funcionamiento. Contando siempre con nuestro servicio de Whatsapp para ayudarte si tienes
            problemas o para cualquier incidencia.
        </p>

        <h2>Compras</h2>

        <p>
            ¿Necesitas comprar algún artículo? Anúncialo en nuestra plataforma, pon las características de lo que
            necesitas y decide cuántos días estará tu anuncio vigente para que los usuarios te manden ofertas e
            información. ¡Y ya está! Te irán llegando ofertas y podrás decidir cuál comprar. Lo podrás recibir por
            Correos o por nuestros coches compartidos, en este caso el conductor del coche que lo transporta será quien
            verifique el estado de los productos para que tengas plena garantía y además tu compra la tendrás en el
            mismo día, Por ejemplo, si compras a las 11h uno o varios productos que están en Madrid, a las 18h los
            recibirías en Barcelona. Las dudas que te surjan las puedes consultar al usuario interesado a través de
            nuestra mensajería interna. Tienes la posibilidad que en aparatos de tecnología pasen por nuestras
            instalaciones para validar su funcionamiento. Contando siempre con nuestro servicio de Whatsapp para
            ayudarte si tienes problemas o para cualquier incidencia. Nunca fue tan fácil.
        </p>

        <h2>Pack de viajes y conciertos</h2>

        <p>
            ¿Actúa tu artista preferido en cualquier ciudad en la que no resides? Nosotros te damos la posibilidad de
            un Pack: la entrada al concierto, el alojamiento en nuestros apartamentos turísticos y el transporte en
            coches compartidos. ¡Olvídate de todo y disfruta! Todo ello a unos precios increíbles, sin letra pequeña u
            opciones que aumente el precio, y con la garantía de que si la vivienda no corresponde con las fotografías,
            el estado de limpieza no es el idóneo o cualquier otro problema comunicárnoslo por nuestro servicio de
            WhatsApp y te proporcionamos en minutos otra vivienda en perfecto estado y sin sobre coste de precio en la
            actuación.
        </p>

        <h2>Entradas</h2>

        <p>
            En nuestra plataforma dispones de una amplia gama de entradas a los mejores conciertos, festivales,
            musicales, museos, teatros, monólogos, óperas, exposiciones, eventos deportivos, Cirque du Soleil, etc.,
            en las diferentes ciudades de España, al mejor precio y con la garantía de Whatwantweb y Ticketea.
        </p>

        <h2>Viajes destino sorpresa</h2>

        <p>
            ¿Te gustaría hacer un viaje sin saber el destino como si fuese un regalo de alguien muy especial? Compra
            tu viaje sorpresa y dos días antes de la salida te comunicaremos el destino para que eches en la maleta
            bañador o abrigo, chanclas o zapatillas.
        </p>

        <p>
            No sólo te sorprenderá el destino, añadimos a tu aventura una actividad misteriosa. Dinos cuál es tu ciudad
            de origen y te proporcionaremos un coche compartido para que te despreocupes. Próximamente estos viajes
            también se realizarán en los apartamentos turísticos que nuestra plataforma ofrecerá en Francia, Italia,
            Portugal, Inglaterra, Escocia, Irlanda, Alemania y Bélgica, en los cuales el avión estará incluido en el
            precio.
        </p>

        <h2>Comidas en casas particulares</h2>

        <p>
            ¿Te apetece probar un menú diferente, de grandes chefs, buenas conversaciones con otros comensales y con la
            tranquilidad de tener la mesa reservada? Entre todos podéis decidir el horario y dónde terminar la
            sobremesa. También tienes la posibilidad de que tu menú sea sorpresa y no sepas nada hasta que empiecen a
            poner platos en la mesa. ¡Ah! Si algún plato está delicioso y te gustaría sorprender a alguien y aprender a
            hacerlo, pregúntale al chef sus ingredientes y cómo prepararlo y… suerte.
        </p>

        <h2>Aprende idiomas</h2>

        <p>
            Si quieres aprender un idioma con personas nativas, apúntate aquí y tómate unas cervezas o zumos con ellos,
            podrás enseñar tu idioma mientras conversas y que él o ella te enseñe el suyo. Es una forma diferente,
            simpática y rápida de aprender, ya que lo harás como si estuvieses en el país natal de ellos.
        </p>

        <h2>Cargar el móvil</h2>

        <p>
            Si te quedas sin batería en tu móvil, no te preocupes, te vamos a indicar la localización para que puedas
            recargarlo gratuitamente en la calle las 24 horas del día. Verás qué fácil es, y recibirás información para
            conocer un poco más la ciudad en la que te encuentres.
        </p>
    </div>
{% endblock %}

{% block javascriptsFooter %}
    {{ parent() }}
    {{ include('nav/menuScript.html.twig') }}
{% endblock %}