{% extends '::base.html.twig' %}

{% block title %}
    Shipping
{% endblock %}

{% block nav %}
    {{ parent() }}
    {{ include('nav/menu.html.twig') }}
{% endblock %}

{% block body %}
    <div class="container cd-main-content">
	<h1>Envios</h1>
        <hr>
    </div>
    
    <div class="container cd-main-content">
        <img src="{{ asset('img/package.jpg') }}" 
            class="img-responsive" 
            alt="package">
    </div>
                
    <div class="container cd-main-content shi-text">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                    Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
                    natoque penatibus et magnis dis parturient montes, nascetur 
                    ridiculus mus. Donec quam felis, ultricies nec, 
                    pellentesque eu, pretium quis, sem. Nulla consequat massa 
                    quis enim. Donec pede justo, fringilla vel, aliquet nec, 
                    vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet 
                    a, venenatis vitae, justo. Nullam dictum felis eu pede 
                    mollis pretium. Integer tincidunt. Cras dapibus. Vivamus 
                    elementum semper nisi. Aenean vulputate eleifend tellus. 
                    Aenean leo ligula, porttitor eu, consequat vitae, eleifend 
                    ac, enim. Aliquam lorem ante, dapibus in, viverra quis, 
                    feugiat a, tellus. Phasellus viverra nulla ut metus varius 
                    laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies 
                    nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam 
                    eget dui. Etiam rhoncus. Maecenas tempus, tellus eget 
                    condimentum rhoncus, sem quam semper libero, sit amet 
                    adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, 
                    luctus pulvinar, hendrerit id, lorem. Maecenas nec odio 
                    et ante tincidunt tempus. Donec vitae sapien ut libero 
                    venenatis faucibus. Nullam quis ante. Etiam sit amet 
                    orci eget eros faucibus tincidunt. Duis leo. Sed fringilla 
                    mauris sit amet nibh. Donec sodales sagittis magna. Sed 
                    consequat, leo eget bibendum sodales, augue velit cursus 
                    nunc,
                </p>
            </div>
            
        </div>
        
    </div>

{% endblock %}

{% block javascriptsFooter %}
{{ parent() }}    
<script type="text/javascript">
    $(document).scroll(function(e){
        var scrollTop = $(document).scrollTop();
        if(scrollTop > $('#menuAdministracion').height()){
            //console.log(scrollTop);
            $('#cbp-hrmenu').css("position","fixed");
            $('#cbp-hrmenu').css("top","0");
            $('#cbp-hrmenu').css("z-index","999");
        } else {
            $('#cbp-hrmenu').css("position","relative");
        }
    });
</script>
{% endblock %}