{% extends '::base.html.twig' %}

{% block nav %}
    {{ parent() }}
    {{ include('nav/menu.html.twig') }}
{% endblock %}

{% block body %}
    <div class="container">
	<h1>Envios</h1>
    </div>

{% endblock %}