{% extends '::base.html.twig' %}

{% block nav %}
    {{ parent() }}
    {{ include('nav/menu.html.twig') }}
{% endblock %}

{% block body %}
    <div class="container">
	<h1>Mapa del sitio</h1>
        <hr>
    </div>

{% endblock %}

