{% extends '::base.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block nav %}
    {{ parent() }}
    {{ include('nav/menu.html.twig') }}
{% endblock %}

{% block body %}
    <div class="container cd-main-content">
        <h1>
            Login
        </h1>
        <hr>
    </div>
    
    <div class="container cd-main-content">
        {{ form(formulario) }}
    </div>

{% endblock %}
