{% extends '::base.html.twig' %}

{% form_theme formulario ":formTemplate:formBootstrap.html.twig" %}

{% block title %}
    Login
{% endblock %}

{% block nav %}
    {{ parent() }}
    {{ include('nav/menu.html.twig') }}
{% endblock %}

{% block body %}
    <div class="container cd-main-content">
        {{ form(formulario) }}
    </div>

{% endblock %}
