{% extends '::base.html.twig' %}
{% import 'macros/alert.html.twig' as alerts %}


{% block title %}
    Profile
{% endblock %}

{% block nav %}
    {{ parent() }}
    {{ include('nav/menu.html.twig') }}
{% endblock %}

{% block alert %}
    
{% endblock %} 


{% block javascriptsHeader %}
    {{ parent() }}
{% endblock %}
      



{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1>prueba</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block javascriptsFooter %}
    {{ parent() }}
    
    <script type="text/javascript">
    $(document).scroll(function(e){
        var scrollTop = $(document).scrollTop();
        if(scrollTop > $('#menuAdministracion').height()){
            //console.log(scrollTop);
            $('#cbp-hrmenu').css("position","fixed");
            $('#cbp-hrmenu').css("top","0");
            $('#cbp-hrmenu').css("z-index","999");
        } else {
            $('#cbp-hrmenu').css("position","relative");
        }
    });
    
    </script>
    
    
{% endblock %}
