/* ------------------ FOOTER DE LA WEB  ------------------
******************************************************************/

/* ***** FOOTER ***** */
footer.section.section-primary {
    background-color: @brand-primary;
    color: @brand-secondary;
    min-height: 300px;
}

footer.section.section-primary > .container > .row {
    padding-top: 35px;
}

.col-md-12.hidden-xs.text-right > a{
    color: @brand-secondary;
}

.hr-footer{
    background-color: @gray-base;
}

.footer-text{
    color: @gray-base;
    font-weight: 400;
}

.footer-title > h4{
    color: @brand-secondary;
}

.footer-elementos{
    padding-bottom: 8px;
}

.footer-elementos2{
    padding-bottom: 0px;
}

.footer-elementos3{
    padding-bottom: 25px;
}

.footer-elementos > a{
    color: @brand-secondary;
    font-weight: 400;
    font-size: 16px;
    
}

.footer-elementos > a:hover{
    color: @gray-base;
    font-weight: 400;
    text-decoration: none;
    -webkit-transition: all 200ms linear 0s;
    -moz-transition: all 200ms linear 0s;
    -ms-transition: all 200ms linear 0s;
    -o-transition: all 200ms linear 0s;
    transition: all 200ms linear 0s;
}

.footer-elementos > a:hover{
    color: @gray-base;
    font-weight: 400;
    text-decoration: none;
    -webkit-transition: all 200ms linear 0s;
    -moz-transition: all 200ms linfear 0s;
    -ms-transition: all 200ms linear 0s;
    -o-transition: all 200ms linear 0s;
    transition: all 200ms linear 0s;
}

.input-footer {
    padding: 14px 12px;
    width: 100%;
    border-right: 1px solid @gray-base;
    margin-bottom: 20px;
    line-height: 30px;
    color: @gray-base;
    height: 60px;
    font-size: 18px;
    border-radius: 0;
}

.boton-sub {
    color: @brand-secondary;
    background-color: @gray-base;
    padding: 17px 24px;
    font-size: 1.1em;
    font-weight: 500;
    height: auto;
    border: 0 none;
    border-radius: 0;
    letter-spacing: 1px;
    line-height: 1.486em;
    text-transform: uppercase;
    transition: all 300ms ease 0s;
    vertical-align: top;
}

.boton-sub:hover {
    color: @brand-secondary;
    background-color: @brand-primary;
}

.signature{
    padding: 20px 0px 15px;
    color: @brand-secondary;
    background-color: @gray-base;
}

.signature.text{
    display: inline-block;
}

.img-signature{
    display: inline-block;
    vertical-align: sub;
}
/* ##### FIN  ##### */

/* ***** SPONSORS ***** */
.cont-foo{
    margin-top: 30px;
}

.publi-spon{
    //min-height: 150px;
    margin: 0;
    padding: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: @gray-base;
}

.publi-spon1{
    .publi-spon;
    //background-image: url(../img/wwb-750.jpg);
}

.publi-spon2{
    .publi-spon;
    //background-image: url(../img/wwr-750.jpg);
}

//.publi-spon3{
//    .publi-spon;
//    background-image: url(../img/sponsor33.jpg);
//}
//
//.publi-spon4{
//    .publi-spon;
//    background-image: url(../img/sponsor44.jpg);
//}
/* ##### FIN SPONSORS ##### */

.iconos-footer{
    font-size: 24px !important;
    margin-right: 10px;
    margin-bottom: 10px;
}

/*######################   >1600PX DE ANCHO - ALTURAS  ######################*/
@media only screen and (max-height : 1050px){
    
}

@media only screen and (max-height : 810px){
    
}

@media only screen and (max-height : 780px){
    
}


/*######################   RANGO ANCHO [1600 � 1200[ ######################*/
@media only screen and (max-width : 1600px) {
    
    
    @media only screen and (max-height : 1024px){
        
    }
    
    @media only screen and (max-height : 960px){
        
    }
    
    @media only screen and (max-height : 900px){
        
    }
    
    @media only screen and (max-height : 800px){
        
    }
    
    @media only screen and (max-height : 720px){
        
    }
}

/*######################   RANGO ANCHO [1200 �  992[  ######################*/
@media only screen and (max-width : 1200px) {
    .footer-title>h4 {
        font-size: 18px;
    }

    @media only screen and (max-height : 768px){
        
    }
    
    @media only screen and (max-height : 600px){
        
    }
}

/*######################   RANGO ANCHO [992�  768[  ######################*/
@media only screen and (max-width : 992px) {
    .hr-footer {
        margin: 10px auto 20px;
        border: none;
        margin-left: 0;
        width: 70px;
        height: 5px;
        padding: 0;
    }
    
    .col-footer-sub{
        margin-top: 20px;
        
        hr{
            margin: 10px auto 15px;
            border: none;
            margin-left: 0;
            width: 70px;
            height: 5px;
            padding: 0;
        }
    }
    
    .footer-elementos3 {
        padding-bottom: 10px;
    }
    
    @media only screen and (max-height : 500px){
        
    }
}

/*######################   RANGO ANCHO [768 � 480[  ######################*/
@media only screen and (max-width : 768px) {
    .col-footer{
        min-height: 330px;
        padding: 0 5%;
    }
    
    .footer-group-icons{
        //display: none;
    }
       
    @media only screen and (max-height : 1024px){
        
    }
    
    @media only screen and (max-height : 850px){
        
    }
    
    @media only screen and (max-height : 740px){
        
    }
    
    @media only screen and (max-height : 360px){
        
    }
}

/*######################   RANGO ANCHO [480 � 320[  ######################*/
@media only screen and (max-width : 480px) {
    
        
    @media only screen and (max-height : 667px){
        
    }
    
    @media only screen and (max-height : 640px){
        
    }
}

/*######################   RANGO ANCHO [320 � 1]  ######################*/
@media only screen and (max-width : 320px) {
    .col-footer {
        min-height: 380px;
    }
    
    .boton-sub {
        padding: 17px 15px;
    }
    
    @media only screen and (max-height : 534px){
        
    }
    
    @media only screen and (max-height : 480px){
        
    }
}