<span class="text-justify">
    <em>
    * Recuerde que los mensajes serán revisados y que no debe escribir URLs, números de teléfono, correos electrónicos o
cualquier otra información personal, en caso de hacerlo perderá la bolsa o incluso será dada de baja la cuenta.
    </em>
</span>
