/* ------------------ USER  ------------------
******************************************************************/

/* ***** PROFILE ***** */


/* ***** REGISTER ***** */
.us-profile{
    padding: 20px 0px;
    min-height: 650px;
}

.tab-content {
    margin: 20px 0px;
}

.nav-tabs > li > a {
    font-size: 20px;
    font-weight: 600;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: @brand-secondary;
    color: @gray-base;
}

.nav-tabs > li > a:hover {
    border-color: @gray-light @gray-light #ddd;
}

.us-address{
    
}
/* ##### FIN PROFILE ##### */
.user-register-phone {
    display: block;
}

#registroUsuario_prefix {
    width: 20%;
    display: inline;
    float: left;
}

#registroUsuario_phone{
    width: 80%;
    display: inline;
    float: left;
}

.us-check-group-element {
    display: inline-block;
    text-align: center;
    padding: 0 0px 25px;
}

.us-register-text-hobby {
    display: block;
}

.us-register-img-hob{
    height: 100px;
    width: 100px;
}

.us-image-checkbox{
    background-color: @brand-secondary;
    
    img, img:focus{
        cursor: pointer;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 5px solid transparent;
        outline: 0;
        opacity: 1;
        -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
        background: @brand-secondary;
    }
    
    img:hover{
        opacity: .5;
    }
    /*cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 4px solid transparent;
    outline: 0;*/
}

.us-image-checkbox:hover, .us-image-checkbox:focus{
    background-color: @brand-secondary;
}

.us-image-checkbox input[type="checkbox"] {
    display: none;
}

.us-image-checkbox-checked {
    img, img:hover, img:focus{
        border: 5px solid @brand-primary;
        opacity: 1;
    }
    //border-color: #f58723;
}

.us-image-all-select{
    img, img:focus{
        opacity: .5;
    }
}

.captcha_reload{
    margin-bottom: 20px;
    padding: 10px 15px;
    font-size: 1.1em;
    font-weight: 500;
    height: auto;
    border: 0;
    border-radius: 0;
    letter-spacing: 1px;
    line-height: 1.486em;
    text-transform: uppercase;
    transition: all 300ms ease 0s;
    color: @brand-secondary;
    background-color: @brand-primary;
    margin-left: 15px;
}

.captcha_reload:hover, .captcha_reload:focus{
    background-color: @gray-base;
    color: @brand-secondary;
}

.us-birthdate-align{
    text-align: center;
}

.us-register-captcha{
    width: 50%
}

input#registroUsuario_captcha {
    margin-top: 10px;
}
/* ##### FIN REGISTER ##### */


/* *****  ***** */

/* ##### FIN  ##### */

/*######################   >1600PX DE ANCHO - ALTURAS  ######################*/
@media only screen and (max-height : 1050px){
    
}

@media only screen and (max-height : 810px){
    
}

@media only screen and (max-height : 780px){
    
}


/*######################   RANGO ANCHO [1600 � 1200[ ######################*/
@media only screen and (max-width : 1600px) {
    
    
    @media only screen and (max-height : 1024px){
        
    }
    
    @media only screen and (max-height : 960px){
        
    }
    
    @media only screen and (max-height : 900px){
        
    }
    
    @media only screen and (max-height : 800px){
        
    }
    
    @media only screen and (max-height : 720px){
        
    }
}

/*######################   RANGO ANCHO [1200 �  992[  ######################*/
@media only screen and (max-width : 1200px) {
    
    
    @media only screen and (max-height : 768px){
        
    }
    
    @media only screen and (max-height : 600px){
        
    }
}

/*######################   RANGO ANCHO [992�  768[  ######################*/
@media only screen and (max-width : 992px) {
        
    @media only screen and (max-height : 500px){
        
    }
}

/*######################   RANGO ANCHO [768 � 480[  ######################*/
@media only screen and (max-width : 768px) {
    .us-profile {
        padding: 20px 2%;
    }
    
    div#profileUser_birthdate {
        color: @brand-secondary;
    }
       
    @media only screen and (max-height : 1024px){
        
    }
    
    @media only screen and (max-height : 850px){
        
    }
    
    @media only screen and (max-height : 740px){
        
    }
    
    @media only screen and (max-height : 360px){
        
    }
}

/*######################   RANGO ANCHO [480 � 320[  ######################*/
@media only screen and (max-width : 480px) {
    
        
    @media only screen and (max-height : 667px){
        
    }
    
    @media only screen and (max-height : 640px){
        
    }
}

/*######################   RANGO ANCHO [320 � 1]  ######################*/
@media only screen and (max-width : 320px) {
    
    
    @media only screen and (max-height : 534px){
        
    }
    
    @media only screen and (max-height : 480px){
        
    }
}
