/* ------------------ USER  ------------------
******************************************************************/
//.input-group-addon {
//    border: 1px solid #ccc !important;
//}

.row-hr{
    hr{
        margin: 0 0 10px 0;
    }
}

.row-house{
    padding-bottom: 40px;
}

.row-us-name{
    padding-top: 10px;
}

.content-validation-true{
    min-height: 60vh;
}

/* INSCRITOS*/
.user-inscrip{
    padding: 5% 2%;
    border: 1px solid @brand-primary;
    margin-bottom: 30px;
    .sombra-general2;
    margin-top: 20px;

    .us-val{
        padding-bottom: 10px;
    }
}

.us-off-my-offer-vot{
    padding: 2%;
    .sombra-general2;
    margin-bottom: 20px !important;
}

/* COCHES */
.us-car-element-individual{
    margin-bottom: 30px;

    .us-title-car{
        text-align: center;
        margin-bottom: 20px;
    }

    .us-col-caracteristicas{
        text-align: center;
        padding: 20px 0px;
        margin-bottom: 20px;

        strong{
            display: block;
        }
    }

    .us-col-car-center{
        border-right: 2px solid @brand-primary;
        border-left: 2px solid @brand-primary;
    }

    .row-us-car-opt{
        text-align: center;
    }

    .us-car-text{
        padding: 0 2%;
    }

}

.us-car-element{
    border-left: 4px solid @gray-base;
    padding: 1% 2%;
    margin-bottom: 40px;
    .sombra-general2;

    .us-car-matricula{
        text-align: center;
        padding-top: 10px;

        span{
            font-style: italic;
        }
    }

    .us-car-modelo{
        text-align: left;
        font-weight: bold;
    }

    .us-car-asientos{
        text-align: right;
        font-weight: bold;
    }

    h3{
        margin-top: 0;
    }
}

.us-car-image-marco{
    padding: 0;
    position: relative;
    overflow: hidden;
    height: 150px;
}

.img-car-list{
    position: absolute;
    min-width: 100%;
}

#us-img-big {
    .owl-page {
        span {
            background: @brand-primary;
        }
    }
}

#us-img-small.owl-carousel.owl-theme {
    position: relative;
    .owl-next, .owl-prev {
        width: 22px;
        height: 40px;
        margin-top: -20px;
        position: absolute;
        top: 40%;
    }
    .owl-prev {
        left: 10px;
        background: none;
        font-size: 36px;
        color: @brand-primary;
        opacity: 1;
    }
    .owl-next {
        right: 10px;
        background: none;
        font-size: 36px;
        color: @brand-primary;
        opacity: 1;
    }
}

.us-img-marco-grande {
    height: 250px;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.us-img-marco-peque {
    height: 70px;
    overflow: hidden;
    padding: 0;
    position: relative;

    a {
        pointer-events: none;
        cursor: default;
    }
}


/* ***** PROFILE PUBLIC ***** */
.us-datos-personales{
    font-size: 18px;

    span{
        font-size: 14px;
        font-weight: 600;
    }
}

.us-dir-public{
    display: inline-table;
}

.us-pro-public-cont{
    padding-top: 20px;
    padding-bottom: 20px;
}

.us-pro-pub-marco{
    width: 200px;
    height: 200px;
    border-radius: 500px;
    overflow: hidden;
    border: 5px @brand-primary solid;
    float: right;
    padding: 0;
    position: relative;
}

.us-pro-public-img{
    position: absolute;
    min-width: 100%;
}

.us-redactar-mess{
    margin-bottom: 20px;

    .us-writte-btn{
        padding: 6px 12px;
        float: none;
    }
}

.us-address-new-tel{
    display: flex;

    .us-pref-tel,
    .us-num-tel{
        display: inline-block;
        height: 70px;
    }

    .us-pref-tel{
        width: 170px;
    }

    .us-num-tel{
        width: 100%;
    }

}

.us-address-new{
    margin-bottom: 20px;
}

.us-date-ing{
    font-style: italic;
}

.us-pub-img-small{
    width: 50px;
    height: 50px;
    border-radius: 500px;
    overflow: hidden;
    margin: 10px auto 0;
}

.us-row-hea-pu,
.us-val-elem,
.us-off-elem{
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid @gray-light;
}

.us-off-elem{
    padding-bottom: 40px;
}

.us-row-header-public{
    padding-bottom: 10px;
}

.us-col-username{
    text-align: center;
    
    .off-vote{
        padding-right: 0;
    }
}

.us-off-img-small{
    height: 200px;
    overflow: hidden;
    position: relative;
}

.us-img-off-publi{
    min-width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.us-row-sep{
    padding-top: 70px;
    
    hr{
        margin-bottom: 0;
    }
}

.us-see-more{
    text-align: center;
    
    i.fa.fa-plus-circle{
        font-size: 36px;
    }
    
    span{
        font-size: 18px;
        display: block;
    }
}

.us-row-more{
    padding-top: 20px;
}
/* ***** FIN PROFILE PUBLIC ***** */

/* ***** PROFILE ***** */
.us-col-pad{
    padding-bottom: 20px;
}

#profileImage {
    border: 2px solid @brand-primary;
}

.btn-default.btn.editAddress,
.btn-default.btn.deleteAddress{
    padding: 5px 10px;
    margin-bottom: 0;
    float: left;
    margin-right: 10px;
}

.us-address-target,
.us-address-target2{
    border-left: 4px solid @brand-primary;
    padding: 2%;
    margin-bottom: 20px;
    .sombra-general2;
}

.us-address-target2{
    background-color: @gray-base;
    color: @brand-secondary;

    .btn-default:hover {
        border: 1px solid @brand-primary;
    }

    .btn-default{
        border: 1px solid @brand-primary;
    }

}

.us-offer-target{
    border-left: 4px solid @brand-primary;
    padding: 2%;
    margin-bottom: 20px;
}

.us-offer-img{
    height: 200px;
}

.us-btn-edit-address{
    padding: 5px 10px;
    margin-bottom: 0;
    float: left;
}

.us-message-target{
    border-left: 4px solid @brand-primary;
    padding: 2%;
    margin-bottom: 20px;
}

.us-mess-element{
    border-left: 4px solid @brand-primary;
    padding: 0 2%;
    margin-bottom: 40px;
    font-weight: 900;
    .sombra-general2;
}

.us-mess-element-read,
.us-mess-element-send{
    border-left: 4px solid @gray-base;
    padding: 0 2%;
    margin-bottom: 40px;
    .sombra-general2;
}

.us-mess-element-read{
    .us-mess-title{
        h3{
            font-weight: 600;
        }
    }
}

.us-mess-rem{
    span{
        font-weight: 600;
    }
}

.us-mess-date{
    text-align: right;
    
    span{
        font-weight: 600;
    }
}

.us-mess-title{
    h3{
        margin: 10px 0;
    }
}



.us-mess-btn{
    padding: 7px 12px;
    float: none;
}

.us-mess-sent-element, #replyForm{
    .us-open-mess{
        margin: 0 auto;
        float: none;
        border: 1px solid @gray-base;
        .sombra-general2;
        padding: 0 5%;
    }
}

#replyForm{
    .us-open-mess{
        padding: 3% 5%;
    }
}

.btn.btn-default.us-profileAddresses {
    float: none;
}
/* ***** FIN PROFILE ***** */


/* ***** REGISTER ***** */
.us-profile{
    padding: 20px 0;
    min-height: 650px;
}

.tab-content {
    margin: 20px 0;
}

.nav-tabs > li > a {
    font-size: 20px;
    font-weight: 600;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: @brand-secondary;
    color: @gray-base;
}

.nav-tabs > li > a:hover {
    border-color: @gray-light @gray-light #ddd;
}

.us-address{

}
/* ##### FIN REGISTER ##### */



/* ***** REGISTER ***** */
.user-register-phone {
    display: block;
}

#registroUsuario_prefix {
    width: 25%;
    display: inline;
    float: left;
}

#registroUsuario_phone{
    width: 75%;
    display: inline;
    float: left;
}

.us-check-group-element {
    display: inline-block;
    text-align: center;
    padding: 0 0 25px;
}

.us-register-text-hobby {
    display: block;
}

.us-register-img-hob{
    height: 100px;
    width: 100px;
}

.us-image-checkbox, .check-payment-method, .check-send-method{
    background-color: @brand-secondary;

    img, img:focus{
        cursor: pointer;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 5px solid transparent;
        outline: 0;
        opacity: 1;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        background: @brand-secondary;
    }

    img:hover{
        opacity: .5;
    }
    /*cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 4px solid transparent;
    outline: 0;*/
}

.us-image-checkbox:hover, .us-image-checkbox:focus,
.check-payment-method:hover, .check-payment-method:focus,
.check-send-method:hover, .check-send-method:focus{
    background-color: @brand-secondary;
}

.us-image-checkbox input[type="checkbox"],
.check-payment-method input[type="radio"],
.check-send-method input[type="radio"]{
    display: none;
}

.us-image-checkbox-checked,
.check-payment-method-checked,
.check-send-method-checked{
    img, img:hover, img:focus{
        border: 5px solid @brand-primary;
        opacity: 1;
    }
    //border-color: #f58723;
}

.us-image-all-select{
    img, img:focus{
        opacity: .5;
    }
}

.captcha_reload{
    margin-bottom: 20px;
    padding: 10px 15px;
    font-size: 1.1em;
    font-weight: 500;
    height: auto;
    border: 0;
    border-radius: 0;
    letter-spacing: 1px;
    line-height: 1.486em;
    text-transform: uppercase;
    transition: all 300ms ease 0s;
    color: @brand-secondary;
    background-color: @brand-primary;
    margin-left: 15px;
}

.captcha_reload:hover, .captcha_reload:focus{
    background-color: @gray-base;
    color: @brand-secondary;
}

.us-birthdate-align{
    text-align: center;
}

.us-register-captcha{
    width: 50%
}

input#registroUsuario_captcha {
    margin-top: 10px;
}

.us-perfil-list{
    width: 50px;
    height: 50px;
    border-radius: 500px;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.us-label-terms{
    display: flex;
    
    span{
        padding-left: 10px;
        padding-top: 10px;
    }
}

.us-terms{
    /*width: 600px;*/
    height: 150px;
    border: 1px solid @gray-light;
    background: @gray-lighter;
    padding: 6px;
    overflow: auto;
    margin-bottom: 40px;
}

.us-save-register{
    padding-bottom: 20px;
}
/* ##### FIN REGISTER ##### */


/* ***** LOGIN ***** */
.us-login-cont{
    #loginUser_username {
        margin-bottom: 20px;
    }

    #loginUser_password {
        margin-bottom: 20px;
    }

    #loginUser_captcha {
        margin-bottom: 20px;
    }

    .row{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }

    .us-login-register{
        text-align: center;
    }

    .us-login-forgot{
        text-align: right;
        p{
            font-size: 14px;
        }

    }
}

.us-forgot-pass{
    min-height: 350px;
}
/* ##### FIN LOGIN ##### */



/* *****  ***** */
.us-number-comments{
    text-align: center;

    span{
        font-size: 16px;
        font-weight: 600;
    }
}

.us-date-comments{
    text-align: center;

    span{
        font-weight: 600;
    }
}

.us-profile-panel{
    min-height: 400px;
}

.us-dataPersonal-row{
    padding: 30px 20% 20px 18%;
    //padding-top: 40px;
    //padding-bottom: 20px;
}

//Clase para el boton guardar

.us-guardarPersonal-row{
    padding: 30px 0;
    //padding-top: 40px;
    //padding-bottom: 20px;
}



#profilePersonalData_savePersonalData {
    float: none;
}

#copy-button {
    padding: 6px 12px;
    font-size: 14px;
}

.us-text-caution{
    color: @gray-dark;
    font-size: 12px;
    font-style: italic;
}

.us-btn-phoneProfile{
    padding: 6px 12px;
    float: left;
}

.us-writte-message{
    #message_enviar,
    #us-cancelar-message {
        float: left;
        padding: 6px 12px;
        margin-right: 10px;
    }
}

.us-trade-offer{
    #trade_saveTrade {
        float: none;
        padding: 6px 12px;
        margin-top: 20px;
    }

    samp {
        display: none;
    }

    .file-drag-handle.drag-handle-init.text-info {
        display: none;
    }

    .input-group-addon {
        border: 1px solid #f4f4f4;
    }
}
/* ##### FIN  ##### */



/* *****  ***** */

/* ##### FIN  ##### */


/* ##################################################################### */
.cd-main-header.lateral-menu-is-open {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

.cd-main-content.us-content-user.lateral-menu-is-open {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}
/* -------------------------------- 

Main Page Content

-------------------------------- */
.cd-main-content .content-wrapper {
    padding: 0 5% 3em;
}
/*.cd-main-content .content-wrapper h1 {
  text-align: center;
  padding: 3em 0;
  font-size: 2rem;
}*/
.cd-main-content::before {
    /* never visible - used to check MQ in jQuery */
    display: none;
    content: 'mobile';
}
@media only screen and (min-width: 769px) {
    .cd-main-content .content-wrapper {
        margin-left: 110px;
        /*padding-top: 55px;*/
        padding: 0 5% 0;
    }
    /*  .cd-main-content .content-wrapper h1 {
        padding: 4em 0;
        font-size: 3.2rem;
        font-weight: 300;
      }*/
    .cd-main-content::before {
        content: 'tablet';
    }
}
@media only screen and (min-width: 1170px) {
    .cd-main-content .content-wrapper {
        margin-left: 200px;
        padding: 0 5% 0;
    }
    .cd-main-content::before {
        content: 'desktop';
    }
}

/* -------------------------------- 

Header

-------------------------------- */
.cd-main-header {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 45px;
    width: 100%;
    background: @gray-base;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.cd-main-header::after {
    clear: both;
    content: "";
    display: table;
}
@media only screen and (min-width: 769px) {
    .cd-main-header {
        position: fixed;
        height: 55px;
        display: none;
    }
}

.cd-logo {
    float: left;
    display: block;
    margin: 11px 0 0 5%;
}
.cd-logo img {
    display: block;
}
@media only screen and (min-width: 769px) {
    .cd-logo {
        margin: 16px 0 0 36px;
    }
}

.cd-nav-trigger {
    /* navigation trigger - visible on mobile devices only */
    /*float: right;*/
    position: relative;
    display: block;
    width: 34px;
    height: 44px;
    /*margin-right: 5%;*/
    /* hide text */
    overflow: hidden;
    white-space: nowrap;
    color: transparent;
    float: left;
    margin-left: 2%;
}
.cd-nav-trigger span, .cd-nav-trigger span::before, .cd-nav-trigger span::after {
    /* hamburger icon in CSS */
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 24px;
    background: #ffffff;
}
.cd-nav-trigger span {
    /* line in the center */
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -2px;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
}
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
    /* other 2 lines */
    content: '';
    right: 0;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    -o-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
}
.cd-nav-trigger span::before {
    /* menu icon top line */
    top: -6px;
}
.cd-nav-trigger span::after {
    /* menu icon bottom line */
    top: 6px;
}
.cd-nav-trigger.nav-is-visible span {
    /* hide line in the center */
    background: rgba(255, 255, 255, 0);
}
.cd-nav-trigger.nav-is-visible span::before, .cd-nav-trigger.nav-is-visible span::after {
    /* keep visible other 2 lines */
    background: white;
}
.cd-nav-trigger.nav-is-visible span::before {
    -webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
    -moz-transform: translateX(4px) translateY(-3px) rotate(45deg);
    -ms-transform: translateX(4px) translateY(-3px) rotate(45deg);
    -o-transform: translateX(4px) translateY(-3px) rotate(45deg);
    transform: translateX(4px) translateY(-3px) rotate(45deg);
}
.cd-nav-trigger.nav-is-visible span::after {
    -webkit-transform: translateX(4px) translateY(2px) rotate(-45deg);
    -moz-transform: translateX(4px) translateY(2px) rotate(-45deg);
    -ms-transform: translateX(4px) translateY(2px) rotate(-45deg);
    -o-transform: translateX(4px) translateY(2px) rotate(-45deg);
    transform: translateX(4px) translateY(2px) rotate(-45deg);
}
@media only screen and (min-width: 769px) {
    .cd-nav-trigger {
        display: none;
    }
}

.cd-search {
    position: relative;
    margin: 1.2em 5% 0.6em;
}
.cd-search.is-hidden {
    opacity: 0;
}
.cd-search::before {
    /* lens icon */
    content: '';
    position: absolute;
    left: 8px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 16px;
    width: 16px;
    background: url(../img/userMenu/cd-search.svg) no-repeat 0 0;
}
.cd-search input {
    padding-left: 32px;
    width: 100%;
    height: 36px;
    border: none;
    border-radius: .25em;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.cd-search input:focus {
    outline: none;
}
@media only screen and (min-width: 769px) {
    .cd-search {
        float: left;
        display: inline-block;
        width: 250px;
        height: 100%;
        margin: 0 0 0 2.5em;
    }
    .cd-search.is-hidden {
        /* reset style */
        opacity: 1;
    }
    .cd-search::before {
        background-position: 0 -16px;
        left: 1em;
    }
    .cd-search form, .cd-search input {
        height: 100%;
        width: 100%;
    }
    .cd-search input {
        border: none;
        padding-left: 2.6em;
        border-radius: 0;
        background-color: #3e454c;
        border-left: 1px solid #51575d;
        color: #ffffff;
    }
    .cd-search input::-webkit-input-placeholder {
        color: #777c81;
    }
    .cd-search input::-moz-placeholder {
        color: #777c81;
    }
    .cd-search input:-moz-placeholder {
        color: #777c81;
    }
    .cd-search input:-ms-input-placeholder {
        color: #777c81;
    }
}

/* -------------------------------- 

Sidebar

-------------------------------- */
.cd-side-nav {
    position: absolute;
    z-index: 1;
    left: 0;
    /*top: 0;*/
    top: -55px;
    width: 100%;
    /*padding: 45px 0 0;*/
    padding: 0;
    background-color: @gray-base;
    visibility: hidden;
    opacity: 0;
    max-height: 100vh;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
.cd-side-nav.nav-is-visible {
    opacity: 1;
    visibility: visible;
    overflow: visible;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.2s 0s, visibility 0s 0s;
    transition: opacity 0.2s 0s, visibility 0s 0s;
    max-height: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}
.cd-side-nav > ul {
    padding: 0.6em 0;
}
.cd-side-nav > ul:last-of-type {
    padding-bottom: 0;
}
.cd-side-nav .cd-label, .cd-side-nav a {
    display: block;
    padding: 1em 5%;
}
.cd-side-nav .cd-label {
    text-transform: uppercase;
    font-weight: bold;
    color: @brand-secondary;
    font-size: 1rem;
    letter-spacing: .1em;
}
.cd-side-nav a {
    position: relative;
    color: @brand-secondary;
    font-size: 1.4rem;
}
.cd-side-nav ul.cd-top-nav > li:last-of-type > a {
    border-bottom: none;
}
.cd-side-nav > ul > li > a {
    padding-left: calc(5% + 24px);
    border-bottom: 1px solid @gray-base;
}
.cd-side-nav > ul > li > a::before {
    /* icon before item name */
    position: absolute;
    content: '';
    left: 15%;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 16px;
    width: 16px;
    /*background: url(../img/userMenu/cd-nav-icons.svg) no-repeat 0 0;*/
    /*  font-size: 16px;*/

}

.user-icon-menu{
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}

.cd-side-nav > ul > li.misDatos > a::before {
    /*    font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;*/
    content: "\f007";
    /*font-size: 16px;*/
    .user-icon-menu;
}
.cd-side-nav > ul > li.notifications > a::before {
    background-position: -80px 0;
}
.cd-side-nav > ul > li.comments > a::before {
    .user-icon-menu;
    content: "\f075";
}
.cd-side-nav > ul > li.addressUser > a::before {
    /*background-position: -32px 0;*/
    .user-icon-menu;
    content: "\f041";
}
.cd-side-nav > ul > li.offerUser > a::before {
    /*background-position: 0 0;*/
    .user-icon-menu;
    content: "\f290";
}
.cd-side-nav > ul > li.userCar > a::before {
    /*background-position: 0 0;*/
    .user-icon-menu;
    content: "\f1b9";
}
.cd-side-nav > ul > li.userHouse > a::before {
    /*background-position: 0 0;*/
    .user-icon-menu;
    content: "\f015";
}
.cd-side-nav > ul > li.userShip > a::before {
    /*background-position: 0 0;*/
    .user-icon-menu;
    content: "\f21a";
}
.cd-side-nav > ul > li.userBike > a::before {
    /*background-position: 0 0;*/
    .user-icon-menu;
    content: "\f206";
}
/*.cd-side-nav > ul > li.users > a::before {
  background-position: -16px 0;
}*/
.cd-side-nav .count {
    /* notification badge */
    position: absolute;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: calc(5% + 16px + 0.4em);
    padding: 0.2em 0.4em;
    background-color: @brand-primary;
    border-radius: .25em;
    color: @brand-secondary;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}
.cd-side-nav .action-btn a {
    display: block;
    margin: 0 5%;
    padding: 1em 0;
    background-color: @brand-primary;
    border-radius: .25em;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2);
    text-align: center;
    color: @brand-secondary;
    font-weight: bold;
}
.cd-side-nav .action-btn a::before {
    display: none;
}
@media only screen and (min-width: 769px) {
    .cd-side-nav {
        position: relative;
        float: left;
        top: auto;
        width: 110px;
        min-height: 100vh;
        padding-top: 25px;
        /* reset style */
        visibility: visible;
        opacity: 1;
        overflow: visible;
        max-height: none;
    }
    .cd-side-nav.nav-is-visible {
        box-shadow: none;
    }
    .cd-side-nav.is-fixed {
        position: fixed;
    }
    .cd-side-nav > ul {
        /* reset style */
        padding: 0;
    }
    .cd-side-nav .cd-label {
        /* remove labels on minified version of the sidebar */
        display: none;
    }
    .cd-side-nav a {
        font-size: 1.2rem;
        text-align: center;
    }
    .cd-side-nav > ul > li > a {
        padding: 4.2em 0 2.4em;
    }
    .cd-side-nav > ul > li > a::before {
        left: 50%;
        right: auto;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 1.5em;
    }
    .cd-side-nav .active > a {
        /* current page */
        box-shadow: inset 3px 0 0 @brand-primary;
        background-color: @gray-darker;
    }
    .cd-side-nav .action-btn a {
        margin: 1em 10% 0;
    }
    .cd-side-nav .count {
        height: 8px;
        width: 8px;
        border-radius: 50%;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
        padding: 0;
        top: 2em;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        left: calc(50% + 5px);
        right: auto;
        color: transparent;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-side-nav {
        width: 200px;
    }
    .cd-side-nav > ul {
        padding: 0.6em 0;
    }
    .cd-side-nav > ul > li:not(.action-btn):hover > a {
        background-color: @gray-darker;
    }
    .cd-side-nav > ul > li > a {
        padding: 1em 1em 1em 42px;
        text-align: left;
        border-bottom: none;
    }
    .cd-side-nav > ul > li > a::before {
        top: 50%;
        bottom: auto;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 18px;
    }
    .cd-side-nav .cd-label {
        display: block;
        padding: 1em 18px;
    }
    .cd-side-nav .action-btn {
        text-align: left;
    }
    .cd-side-nav .action-btn a {
        margin: 0 18px;
    }
    .no-touch .cd-side-nav .action-btn a:hover {
        background-color: @brand-primary;
    }
    .cd-side-nav .count {
        /* reset style */
        color: @brand-secondary;
        height: auto;
        width: auto;
        border-radius: .25em;
        padding: .2em .4em;
        top: 50%;
        bottom: auto;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 18px;
        left: auto;
        box-shadow: none;
    }
}

.has-children ul {
    position: relative;
    width: 100%;
    display: none;
    background-color: @gray-dark;
}
.has-children > a::after {
    /* arrow icon */
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    right: 5%;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url(../img/userMenu/cd-arrow.svg);
}
.has-children.selected > ul {
    display: block;
}
.has-children.selected > a::after {
    -webkit-transform: translateY(-50%) rotate(180deg);
    -moz-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    -o-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}
@media only screen and (min-width: 769px) {
    .has-children {
        position: relative;
    }
    .has-children ul {
        position: absolute;
        top: 0;
        left: 100%;
        width: 160px;
        padding: 0;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    }
    .has-children ul a {
        text-align: left;
        border: none;
        padding: 1em;
    }
    .no-touch .has-children ul a:hover {
        color: @brand-primary;
    }
    .has-children > a::after {
        display: none;
    }
    .cd-side-nav .has-children.selected > a {
        /* focus state -> show sub pages */
        background-color: @gray-darker;
    }
    .cd-top-nav .has-children {
        position: relative;
        background-color: @gray-base;
    }
    .cd-top-nav .has-children > a {
        height: 100%;
        padding: 0 calc(1.8em + 22px) 0 calc(1.8em + 26px) !important;
        line-height: 55px;
    }
    .cd-top-nav .has-children > a::after {
        display: block;
        right: 1.8em;
    }
    .cd-top-nav .has-children ul {
        background-color: @gray-base;
        width: 200px;
        top: 100%;
        right: 0;
        left: auto;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    }
    .cd-top-nav .has-children ul a {
        padding-left: 18px !important;
    }
}
@media only screen and (min-width: 1170px) {
    .has-children > ul {
        width: 100%;
        z-index: 1;
    }
    .has-children ul a {
        padding-left: 18px;
    }
    .has-children.active > ul {
        /* if the item is active, make the subnavigation visible */
        position: relative;
        display: block;
        /* reset style */
        left: 0;
        box-shadow: none;
    }
    .no-touch .cd-side-nav .has-children:hover > ul, .cd-side-nav .has-children.hover > ul {
        /* show subnavigation on hover */
        display: block;
        opacity: 1;
        visibility: visible;
    }
}

/* ##################################################################### */






/*######################   >1600PX DE ANCHO - ALTURAS  ######################*/
@media only screen and (max-height : 1050px){

}

@media only screen and (max-height : 810px){

}

@media only screen and (max-height : 780px){

}


/*######################   RANGO ANCHO [1600 � 1200[ ######################*/
@media only screen and (max-width : 1600px) {


    @media only screen and (max-height : 1024px){

    }

    @media only screen and (max-height : 960px){

    }

    @media only screen and (max-height : 900px){

    }

    @media only screen and (max-height : 800px){

    }

    @media only screen and (max-height : 720px){

    }
}

/*######################   RANGO ANCHO [1200 �  992[  ######################*/
@media only screen and (max-width : 1200px) {
    #registroUsuario_prefix {
        width: 40%;
    }

    #registroUsuario_phone{
        width: 60%;
    }

    @media only screen and (max-height : 768px){

    }

    @media only screen and (max-height : 600px){

    }
}

/*######################   RANGO ANCHO [992�  768[  ######################*/
@media only screen and (max-width : 992px) {
    .us-register-captcha{
        width: 100%;
    }
    
    .us-pro-pub-marco{
        width: 150px;
        height: 150px;
        margin: 0 auto;
        float: none;
    }
    
    .us-row-header-public{
        text-align: center
    }

    @media only screen and (max-height : 500px){

    }
}

/*######################   RANGO ANCHO [768 � 480[  ######################*/
@media only screen and (max-width : 768px) {
    .us-car-element-individual{
        .us-col-caracteristicas{
            text-align: center;
            padding: 0;
            margin-bottom: 10px;
        }

        .us-col-car-center{
            border-right: none;
            border-left: none;
        }

        .row-us-car-opt{
            text-align: left;
        }
    }

    .us-profile {
        padding: 20px 2%;
    }

    div#profileUser_birthdate {
        color: @brand-secondary;
    }

    #registroUsuario_prefix {
        width: 20%;
    }

    #registroUsuario_phone{
        width: 80%;
    }

    #registroUsuario_birthdate {
        width: 100%;
        color: #fff;
    }

    #registroUsuario_birthdate_day{
        width: 25%;
        display: inline-block;
    }

    #registroUsuario_birthdate_month {
        width: 25%;
        display: inline-block;
    }

    #registroUsuario_birthdate_year {
        width: 35%;
        display: inline-block;
    }

    .us-login-cont{
        padding-top: 0;

        .row{
            width: inherit;
            margin-left: inherit;
            margin-right: inherit;
        }
    }

    .us-mess-date{
        text-align: left;
    }

    .us-dataPersonal-row{
        padding: 0 0 20px;
    }

    @media only screen and (max-height : 1024px){

    }

    @media only screen and (max-height : 850px){

    }

    @media only screen and (max-height : 740px){

    }

    @media only screen and (max-height : 360px){

    }
}

/*######################   RANGO ANCHO [480 � 320[  ######################*/
@media only screen and (max-width : 480px) {
    #registroUsuario_prefix {
        width: 30%;
    }

    #registroUsuario_phone{
        width: 70%;
    }

    #registroUsuario_birthdate_day{
        width: 100%;
        display: inline-block;
    }

    #registroUsuario_birthdate_month {
        width: 100%;
        display: inline-block;
    }

    #registroUsuario_birthdate_year {
        width: 100%;
        display: inline-block;
    }

    .us-login-cont{
        .captcha_reload{
            font-size: inherit;
            margin: 5px 0;
            display: table;
        }
    }

    .us-offer-target{
        border-left: 0 solid @brand-primary;
    }

    .us-address-target{
        border-left: 0 solid @brand-primary;
    }



    @media only screen and (max-height : 667px){

    }

    @media only screen and (max-height : 640px){

    }
}

/*######################   RANGO ANCHO [320 � 1]  ######################*/
@media only screen and (max-width : 320px) {
    #registroUsuario_prefix {
        width: 40%;
    }

    #registroUsuario_phone{
        width: 60%;
    }

    .captcha_reload {
        font-size: inherit;
        margin: 5px 0;
        display: block;
        width: 35%;
    }



    @media only screen and (max-height : 534px){

    }

    @media only screen and (max-height : 480px){

    }
}
